[Desktop Entry]
Type=Service
Name=GeoGebra Files
Name[es]=Archivos de GeoGebra
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/vnd.geogebra.file;application/vnd.geogebra.tool
X-KDE-Library=geogebrathumbnail
CacheThumbnail=true
IgnoreMaximumSize=true
