<style type="text/css">
  * {
   margin:0;
   padding:0;
   }
   body
   {
   margin:0 auto;
   width:1200px;
   font-family:Arial, Helvetica, sans-serif;
   background:url(ggbg.png) top left;
   }
   a {color:#000000;}
   p {text-align:justify;}
     header, footer, aside, section {display:block;}
   h1 {
   font-size:26px;
   line-height:40px;
   padding:18px 0;
   }
   nav {
   width:77%;
   height:40px;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   background:#f3f3f3;
   border:1px solid #cccccc;
   position:absolute;
   }
     nav ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0 auto;
width:940px;
}
nav ul li {
float:left;
}
nav ul li a{
margin-right:20px;
display:block;
line-height:40px;
}
#content {
display:table;
margin-top:40px;
}
#mcontent {
display:table-cell;
padding-right:22px;
width:620px;
}
aside {
display:table-cell;
width:300px;
background:#f3f3f3;
}
.bpage div {
-webkit-column-count:1;
-moz-column-count:1;
}
aside section {
-moz-border-radius:11px;
-webkit-border-radius:11px;
background:#e0e0e0;
margin:22px 0 0 22px;
padding:11px 22px;
width:50%;
}
.image {margin:2px auto;
-moz-border-radius:5px;
-webkit-border-radius:5px;
background:url(developers.jpg) no-repeat;
height:252px;
width:560px;
}
footer{background:#666666;
border-top:1px solid #cccccc;
padding:10px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
text-align:center;
color:#ffffff;
}
form {
	font:100% Lucinda Grande, Sans-serif;
	margin: 0;
	padding: 0;
	min-width: 500px;
	max-width: 600px;
	width: 560px;
	border:1px solid #ccc;
	padding: 10px;
}
.entry {
	margin-bottom:.5em;
}
label {
	color:#666666;
	float: left;
	width: 130px;
	padding: 0;
	text-align: right;
}
input, textarea, select {
	margin-left:10px;
}
.button {
	padding-left:140px;
	padding-bottom:5px;
	padding-top:5px;
}
input:required {
outline: 1px red solid;
color:red;
}

table {
    color: white;
    background-color: #2020bb;
    border-collapse: collapse;
    border: 1px solid #404040;
    }
table a{
 color: white;
}
.rev {
 text-align: center;
 }
.failure {
 text-align: center;
 background-color: pink;
 color: black;
 }
.failure a {
 color: red;
 }

.error {
 text-align: center;
 background-color: red;
 }
.error a {
 color: white;
 text-decoration: none;
 text-shadow: 0 0 0;
 }
.failure a {
 text-decoration: none;
 text-shadow: 0 0 0;
 }
.ok {
 text-align: center;
 background-color: lightgreen;
 color: darkgreen;
 
 }
.unknown {
 text-align: center;
 background-color: white;
 }




thead {
    color: white;
    background-color: #101080;
    font-size: 18px;
    font-weight: bold;

    }

