.DS_Store
build/
**/build
web/war
web/extras
/.gradle/

# InteliJ specific
!.idea/
.idea/*
# Share code styles between members
!.idea/codeStyles
*.iml
**/out

# Eclipse specific
.project
.settings
**/.classpath
**/bin
**/src/main/javacc/**/*.java
/web/gradle.properties
/uitests/cypress/snapshots
/uitests/cypress/videos
/retex/editor-web/dist
/retex/renderer-web/dist
