# Please edit below to fit your needs.

# This directory will contain the working copy of GeoGebra:
#SVNDIR=/Users/zoltan/svn/ # Luxembourg server test
#SVNDIR=/backup/build/svn/ # Luxembourg server production
SVNDIR=/home/kovzol/svn # Office workstation
#SVNDIR=/home/zoltan/svn # Linz server

# This directory should point to the official webpage:
#WWWDIR=/home/kovzol/ggb/www/autobuild # Szeged server
#WWWDIR=/Users/zoltan/www-autobuild # Luxembourg server production
#WWWDIR=/home/zoltan/www-autobuild # Linz server
WWWDIR=/tmp # Office workstation (it will be removed on reboot)
# If WWW_REMOVEDIR is set (see below), this directory will be copied
# to a remote host/directory by using rsync.

# Signature file directory:
#P12DIR=/home/kovzol/igi-keystore # Office workstation
#P12DIR=/Users/zoltan/igi-keystore # Luxembourg server test
P12DIR=/home/zoltan/igi-keystore # Linz server
# If this file does not exist, signing will not run (it shouldn't)

# Repository:
#REPO=file:///opt/repos/geogebra/trunk/geogebra # for Luxembourg server installation
REPO=http://www.geogebra.org/svn/trunk/geogebra # for other installations

# Java home:
# Linz server settings:
#JAVA5_HOME=/home/zoltan/java/jdk1.5.0_22
#JAVA6_HOME=/home/zoltan/java/jdk1.6.0_26
#JAVA_HOME=$JAVA5_HOME
#JAVA_HOME=/usr # Luxembourg server (not perfect, but works)
JAVA_HOME=/usr/lib/jvm/java-1.5.0-sun # On Debian Linux
# Currently we use Java 1.5. It can be installed from SVN branches/installer/jdk/*.bin.

# "svn" command path (it should be quite recent, 1.4.4 is too old)
SVN_COMMAND=/opt/subversion/bin/svn # Luxembourg server
#SVN_COMMAND=`which svn`

# Google Code credentials
GC_USER=kovzol
GC_PASS=xxxxxxxx # This must be changed to the proper password

# The Windows portable version is created based on a template.
# It can be found in SVN branches/installer/winport/GeoGebra-Windows-Portable-3-9-x-x.zip.
GGB40_ZIP=/home/kovzol/workspace/GeoGebra-Windows-Portable-3-9-x-x.zip # Linz server
GGB42_ZIP=/home/kovzol/workspace/GeoGebra-Windows-Portable-3-9-x-x.zip # Linz server

# Please change this if the original .zip file is changing:
#GGB40MAXIMA_ZIP=/home/zoltan/ggb40maxima/ggb40maxima-3.9.245.0_5.24.0.zip # Linz server
GGB40MAXIMA_ZIP=/Users/mrb/ggb40maxima-3.9.245.0_5.24.0.zip # Luxembourg server
GGB42MAXIMA_ZIP=/Users/mrb/ggb42maxima-3.9.245.0_5.24.0.zip # Luxembourg server
# This file should be present to update ggb4?maxima properly.
# You can download it (or a similar version) from Google Code Downloads as well,
# or (preferred) SVN branches/installer/maxima/ggb4?maxima*.zip.

# By default, we do not create a package for ggb4?maxima (Maxima is not supported currently):
ENABLE_GGB40MAXIMA=0
ENABLE_GGB42MAXIMA=0

# To create this package, one should download the source version of Maxima
# and compile it on a 32 bit machine (for compatibility reasons). Currently
# we are using cmucl for the underlying Lisp engine due to its minimal dependency
# for auxiliary libraries (only libc is required) and its speed.
# Put this file to the workspace directory.
LINUX_MAXIMA_TGZ=/home/kovzol/workspace/maxima-5.24.0-cmucl-linux-i686.tar.gz
# Copy this file from SVN branches/installer/maxima*cmucl.tar.gz.
# Important: currently (2011 July) there is no 64 bit version of cmucl.
# On running the ggb4?maxima script, the 32 bit version of Maxima will be used
# for the 64 bit Linux portable version as well.

# If this is set, rsync-www will run:
WWW_REMOTEDIR=/home/webstart/

# Python3 is needed for some scripts.
#PYTHON3=/Users/zoltan/src/Python-3.2/python.exe # Luxembourg server
# If not set, the default python3 executable will be used (if exists)

# GeoGebraTube remote server, account, and application.ini file
WWW_SERVER_LOGIN=...@www.geogebra.org
WWW_SERVER_PORT=...
WWW_SERVER_KEY=/home/build/.ssh/id_rsa-...@www
GGT_APP_INI_FILE=/home/GeoGebraTube/application/configs/application.ini

# Remote directories for nav and tube
NAV_REMOTEDIR=/home/GeoGebra/navigation/
TUBE_REMOTEDIR=/home/GeoGebraTube/languages/

# Directory for ggbtrans
GGBTRANS_DIR=/home/ggbtrans/svn/ggbtrans

MSIFTPUSER=...
MSIFTPPASS=...
MSIFTPPORT=...
MSISERVER=...
MSIFTPDIR=...
MSISSHUSER=...
MSISSHKEY=...
MSISSHPORT=...
# Make sure to put a symlink to the Windows SDK binary directory by using e.g. "mklink /d" under Windows
MSIMSSDKDIR="\\Users\\autobuild\\Documents\\temp\\sdkbin"
MSIFTPDIRFULL="\\Users\\autobuild\\Documents\\temp"
MSISIGN=0

MACSIGN_PORT=...
MACSIGN_SERVER=...
MACSIGN_DIR=autobuild
MACSIGN_DEVID="Developer ID Application: ..."
MACSIGN_KEY=...
MACSIGN_USER=...
MACSIGN_PASSWORD=...

VMHOST_PORT=...
VMHOST_SERVER=...
VMHOST_KEY=...
VMHOST_USER=...
