.GeoGebraHeader{
	display: flex;
    border-bottom: 1px solid #dcdcdc;
	background-color: rgb(255,255,255);
    padding: 4px;
}
.GeoGebraHeader .appName{
	padding-left: 12px;
	font-size: 16px;
	margin: 3px 0;
}
.GeoGebraHeader a{
	color: #6557D2;
}
.GeoGebraHeader .links {
	position: absolute;
	top: 4px;
	right: 16px;
}