@-webkit-keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}
.mk-spinner-ring, .GeoGebraFrame .mk-spinner-ring{height:50px;margin-top:-25px;border-radius:50%;border:3px solid #00bcd4;border-left-color:transparent;background:transparent;-webkit-animation:a 1s infinite linear;animation:a 1s infinite linear}
.mk-spinner-ring, .GeoGebraFrame .mk-spinner-ring{content:"";display:inline-block;position:absolute;width:50px;top:50%;left:50%;margin-left:-25px;z-index:1}
.mk-spinner-wrap, .GeoGebraFrame .mk-spinner-wrap{min-height:100px;width:100%;position:relative}@-webkit-keyframes i{0%,5%{left:0;top:0}50%,55%{left:50%;top:50%}95%,to{left:0;top:0}}@keyframes i{0%,5%{left:0;top:0}50%,55%{left:50%;top:50%}95%,to{left:0;top:0}}@-webkit-keyframes j{0%,5%{right:0;bottom:0}50%,55%{right:50%;bottom:50%}95%,to{right:0;bottom:0}}@keyframes j{0%,5%{right:0;bottom:0}50%,55%{right:50%;bottom:50%}95%,to{right:0;bottom:0}}
.GeoGebraHeader , .GeoGebraFrame * {
	box-sizing:content-box;
}
 .GeoGebraFrame, .GeoGebraFrame .GeoGebraPopup, .GeoGebraFrame .DialogBox, .GeoGebraFrame .gwt-SuggestBoxPopup, .GeoGebraFrame .ToolTip {
    font: 100%/120% geogebra-sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 100%;
    line-height: 120%;
    font-family: geogebra-sans-serif, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.GeoGebraFrame .ggbdockpanelhack>div {
    overflow: visible!important;
}
.GeoGebraFrame .TitleBarPanel {
    z-index: 60;
    left: auto!important;
    bottom: auto!important;
    max-width: 100%;
}
 .GeoGebraFrame {
    background-color: #fff;
    color: rgba(0,0,0,.87);
    font-size: 16px;
}
 .GeoGebraFrame .toolbar .header-open-landscape{
	height: 56px;
    width: 100%;
    background-color: #6557D2;
}
.GeoGebraFrame .toolbar .header .center, .GeoGebraFrame .toolbar .header-open-portrait .center, .GeoGebraFrame .toolbar .header-open-landscape .center, .GeoGebraFrame .toolbar .header-close-portrait .center, .GeoGebraFrame .toolbar .header-close-landscape .center {
    position: absolute;
    display: inline-flex;
    left: calc(50% - 84px);
}
.GeoGebraFrame .flatButton {
    margin: 6px;
    padding: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    width: 24px;
    height: 24px;
}
.GeoGebraFrame .menu {
    position: absolute;
    top: 4px;
    left: 0px;
    z-index: 498;
}
.GeoGebraFrame .tabButton {
    position: relative;
    margin: 6px;
    padding: 6px;
    width: 24px;
    height: 24px;
    min-width: 24px;
}
.GeoGebraFrame .toolbar .main>* {
    position: absolute !important;
    display: inline-block;
}
.GeoGebraFrame .toolbar .header .rightSide, .GeoGebraFrame .toolbar .header-open-portrait .rightSide, .GeoGebraFrame .toolbar .header-open-landscape .rightSide, .GeoGebraFrame .toolbar .header-close-portrait .rightSide, .GeoGebraFrame .toolbar .header-close-landscape .rightSide {
    float: right;
}
.GeoGebraFrame .toolbar .header-open-landscape .close, .GeoGebraFrame .toolbar .header-close-portrait .close {
    float: left;
    margin-right: 6px;
}
.GeoGebraFrame .toolbar .main .tab-hidden {
    visibility: hidden;
}
.GeoGebraFrame .toolbar .tools {
    position: absolute;
    left: -100%;
    transition: left 200ms ease;
}
.GeoGebraFrame .hide-Dragger .gwt-SplitLayoutPanel-HDragger {
    border-left: 1px solid #ccc;
    z-index: 1;
    box-shadow: 2px 0px 6px rgba(0,0,0,0.4);
    width: 0px !important;
}

.GeoGebraFrame .undoRedoPanel {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    position: absolute;
    z-index: 10;
}

.GeoGebraFrame .button.flatButton.graphicsContextMenuBtn.button-up, .GeoGebraFrame .button.flatButton.graphicsContextMenuBtn.button-up-hovering {
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    right: 0px;
}

.GeoGebraFrame .button.flatButton.graphicsContextMenuBtn.button-up img, .GeoGebraFrame .button.flatButton.graphicsContextMenuBtn.button-up-hovering img {
    opacity: 0.54;
}

.GeoGebraFrame .matOpenKeyboardBtn {
    position: absolute;
    bottom: 8px;
    height: 22px;
    text-align: center;
    z-index: 99;
}
.GeoGebraFrame .matOpenKeyboardBtn img {
    width: 36px;
    opacity: 0.54;
}

.GeoGebraFrame .matAvDesign .gwt-Tree .gwt-TreeItem .elem {
    min-height: 48px;
    position: relative;
}
.GeoGebraFrame .matAvDesign .marblePanel.error, .GeoGebraFrame .matAvDesign .marblePanel.help, .GeoGebraFrame .matAvDesign .marblePanel {
    position: absolute;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 18px;
    padding-right: 18px;
}
.GeoGebraFrame .matAvDesign .marblePanel.plus {
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 47px;
}
.GeoGebraFrame .matAvDesign .marblePanel.plus img {
    opacity: 0.54;
}
.GeoGebraFrame .NewRadioButtonTreeItemParent {
    position: absolute;
    width: 100%;
    z-index: 4;
}
.GeoGebraFrame .algebraView .avInputItem {
    padding: 0!important;
    z-index: 1;
    margin-top: -2px;
}
.GeoGebraFrame .algebraHelpButton, .GeoGebraFrame .marblePanel {
    border-right: 1px solid #dcdcdc;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(220, 220, 220);
}

.GeoGebraFrame .toolbar .toolsPanel {
    padding: 8px 16px 14px 16px;
}

.GeoGebraFrame .toolbar .toolsPanel .catLabel {
    cursor: default;
    line-height: 24px;
    font-size: 100%;
    margin: 8px 0px;
}

.GeoGebraFrame .toolbar .toolsPanel .button {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    padding: 3px;
    margin: 3px;
    width: 32px;
    height: 32px;
}

.GeoGebraFrame .panelRow>*, .GeoGebraFrame .listBoxPanel>*, .GeoGebraFrame .panelRowIndent>*, .GeoGebraFrame .panelRowCell>*, .GeoGebraFrame .panelRowCell>*, .GeoGebraFrame .optionsPanel>*, .GeoGebraFrame .optionsPanelIndent>*, .GeoGebraFrame .optionsPanelCell>*, .GeoGebraFrame .textOptionsToolBar>*, .GeoGebraFrame .BackgroundColorPanel>*, .GeoGebraFrame .minMaxPanel>* {
    display: inline-block;
    vertical-align: middle;
    margin: 3px 10px 3px 0;
}

/*** MOW ***/

.GeoGebraFrame .mowToolbar {
    position: relative;
    height: 182px;
    overflow: hidden;
    background-color: #6557D2;
    border-radius: 2px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0px -4px 6px 0px rgba(0,0,0,0.28);
}

.startscreen .showMowSubmenu {
    bottom: 178px;
    transition: bottom 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.GeoGebraFrame .BigScreen {
    width: 600px;
}

.GeoGebraFrame .mowToolbar img {
    width: 32px;
    opacity: 0.54;
}

.GeoGebraFrame .mowToolButton {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    padding: 3px;
    margin: 3px !important;
    width: 32px;
    height: 32px;
}
.GeoGebraFrame .mowSubmenuScrollPanel, .GeoGebraFrame .slideLeft, .GeoGebraFrame .slideCenter, .GeoGebraFrame .slideRight {
    background-color: #fff;
    position: relative;
    display: flex;
    top: 56px;
    width: 300%;
    height: 123px;
}
.GeoGebraFrame .mowSubMenuContent .panelRow {
    padding: 8px 16px 8px 16px;
    margin: 0px;
}
.GeoGebraFrame .penSubMenu .penPanel .panelRow {
    padding: 0px;
}
.GeoGebraFrame .penSubMenu .colorPanel .panelRow {
    padding: 0px;
}
.GeoGebraFrame .mowToolbar .middle {
    position: absolute;
    top: 0px;
    margin: 4px 0px 4px 0px;
    left: calc(50% - 108px);
    display: inline-flex;
}
.GeoGebraFrame .mowColorButton {
    width: 32px;
    height: 32px;
    border-radius: 2px;
    margin: 6px !important;
}

.GeoGebraFrame .penSubMenu .penPanel {
    width: 105px;
    margin: 0px;
}

.GeoGebraFrame .mowToolbar .middle img {
    opacity: 0.85;
    margin: 6px;
    padding: 6px;
    width: 24px;
    height: 24px;
}

.GeoGebraFrame .penSubMenu .colorPanel {
    position: absolute;
    left: 150px;
    margin: 0px;
}
.GeoGebraFrame .penSubMenu .penPanel .plusMarginLeft {
    margin-left: 16px !important;
}
.GeoGebraFrame .mowSubMenu {
    width: calc(100% /3);
    overflow: hidden;
}

.GeoGebraFrame .penSubMenu .sizePanel {
    position: absolute;
    left: 153px;
    top: 70px;
}

.GeoGebraFrame .mowSubMenu .mowSubMenuContent .mowOptionsSlider .ui-slider-horizontal {
    height: 5px;
    background-color: #989898;
    box-shadow: none;
}

.GeoGebraFrame .mowSubMenu .mowSubMenuContent .mowOptionsSlider .ui-slider-handle, .GeoGebraFrame .mowSubMenu .mowSubMenuContent .mowOptionsSlider .ui-slider-handle.ui-state-hover, .GeoGebraFrame .mowSubMenu .mowSubMenuContent .mowOptionsSlider .ui-slider-handle.ui-state-active, .GeoGebraFrame .mowSubMenu .mowSubMenuContent .mowOptionsSlider .ui-slider-handle.ui-state-focus {
    position: absolute;
    top: -5px !important;
    left: 0%;
    width: 15px !important;
    height: 15px !important;
    margin-left: -8px !important;
    border-radius: 50% !important;
    border: none !important;
    box-shadow: none !important;
    transition: all .2s ease;
    user-select: none;
    z-index: 2;
}

.GeoGebraFrame .penSubMenu .optionsSlider .ui-state-default, .GeoGebraFrame .penSubMenu .optionsSlider .ui-widget-content .ui-state-default, .GeoGebraFrame .penSubMenu .optionsSlider .ui-widget-header .ui-state-default, .GeoGebraFrame .avItemContent .optionsSlider .ui-state-default, .GeoGebraFrame .avItemContent .optionsSlider .ui-widget-content .ui-state-default, .GeoGebraFrame .avItemContent .optionsSlider .ui-widget-header .ui-state-default {
    background-color: #000;
    border: 3px solid rgba(0,0,0,0.4);
    top: -6px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    box-shadow: 0 0 1px 1px rgba(255,255,255,0.4);
}

.GeoGebraFrame .penSubMenu .optionsSlider .ui-slider .ui-slider-handle span, .GeoGebraFrame .avItemContent .optionsSlider .ui-slider .ui-slider-handle span {
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 10px;
    border: 1px solid #000;
}

.GeoGebraFrame .mowSubMenu .mowSubMenuContent .mowOptionsSlider .gwt-Label {
    padding-left: 15px;
    display: none;
}

.GeoGebraFrame .mowColorPlusButton {
    width: 30px;
    height: 30px;
    border: 1px solid #dcdcdc !important;
}

.GeoGebraFrame .mowToolbar .right {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 4px 0px 4px 0px;
}

.GeoGebraFrame .mowToolbar .right img {
    opacity: 0.85;
    margin: 6px;
    padding: 6px;
    width: 24px;
    height: 24px;
}
.GeoGebraFrame .mowColorPlusButton img {
     padding: 3px; 
}
.startscreen .mowSubMenuContent {
	overflow: hidden !important;
}

.GeoGebraFrame .mowToolbar .middle .indicator {
    width: 36px;
    height: 3px;
    background-color: white;
    vertical-align: bottom;
    position: relative;
    bottom: 10px;
    display: inline-table !important;
    top: 40px;
    transition: all 0.3s ease;
    left: 50%;
    opacity: 0.85;
}

.GeoGebraFrame .mowToolbar .middle.indicatorLeft .indicator {
    transform: translate(calc(50% - 66px), 0);
}

.toolPane{
	right: 0px;
	bottom: 0px;
	 position: absolute;
	left: 0px;
	top: 0px;
	overflow:hidden;
	width:380px;
}
.paneSplit {
	
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden !important;
    left: 380px;
    top: 0px;
    bottom: 0px;
    width: 8px;
	}
.drawingPane {
	position: absolute; overflow: hidden; left: 388px; top: 0px; right: 0px; bottom: 0px;
}
.startscreen .undoRedoPanel{
	left: 380px;
}
.visibleTools{
	overflow: hidden;
    position: relative;
    zoom: 1;
    height: 100%;
    left: 0px;
}
.startscreen .GeoGebraFrame .toolbar .tools{
	left: 0;
}

.GeoGebraFrame .TabbedKeyBoard.KeyBoard {
    padding-top: 0;
    background-color: #eee;
    font-family: geogebra-sans-serif, sans-serif;
}

.GeoGebraFrame .KeyboardSwitcher {
    position: relative;
    background-color: #f8f8f8;
    border: #dcdcdc solid;
    border-width: 1px 0;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
}
.GeoGebraFrame .KeyBoard .KeyBoardButton {
    padding: 10px;
    text-align: center;
    line-height: inherit;
    margin: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    font-size: 120%;
    border-radius: 5px;
    white-space: nowrap;
    color: #000;
}
.GeoGebraFrame .KeyBoard.TabbedKeyBoard .KeyBoardButton {
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid;
    border-bottom-color: #c7c7c7;
    padding: 9px 0;
}
.GeoGebraFrame .KeyPanel {
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.GeoGebraFrame .TabbedKeyBoard.KeyBoard .KeyBoardButton {
    height: 40px;
    box-sizing: border-box;
}
.GeoGebraFrame .KeyBoard.TabbedKeyBoard .KeyBoardButton.colored {
    background-color: #dcdcdc;
}

.GeoGebraFrame .KeyBoard.TabbedKeyBoard .KeyBoardButton img {
    width: 24px;
    height: 24px;
}
.GeoGebraFrame td, .GeoGebraFrame th {
    color: #666;
    font-size: 16px;
}

.GeoGebraFrame .KeyBoard .KeyBoardButton div {
    text-align: center;
}

.startscreen .KeyBoard{
    width: 100%;
    height: 228px;
    position: absolute;
    background-color: green;
    z-index: 100;
    bottom: 0;
}

@media (orientation: Portrait) { 
	.toolPane {
		top: auto;
		height:300px;
		width:100%;
	}
	
	.paneSplit {
		position: absolute;
    overflow-x: hidden;
    overflow-y: hidden !important;
    left: 0;
    width: 100%;
    height: 8px;
    bottom: 300px;
    top: initial;
	}
	
	.startscreen .undoRedoPanel {
		left:0;
	}
	
	.drawingPane {
	 left: 0;
	 bottom: 300px;
	}
	.GeoGebraFrame .menu {
		bottom: 250px;
		top:initial;
	}
	
	.startscreen .GeoGebraFrame .hide-Dragger .gwt-SplitLayoutPanel-HDragger {
		height: 8px;
    	top: 8px !important;
		top: initial;
		width: 100% !important;
		box-shadow: 0px -2px 2px rgba(0,0,0,0.4);
	}
}

.mk-spinner-wrap {
	position:absolute;
	top:50%;
	transform: translateY(-50%);
	z-index:1000;
}

.mk-spinner-ring {
	border-color: #6557D2;
	border-left-color: transparent;
}

.mk-spinner-ring.mebis {
	border-color: #00bcd4;
	border-left-color: transparent;
}

body .startscreen .GeoGebraFrame img.gwt-Image,body .startscreen .GeoGebraFrame .button.flatButton img.gwt-Image {
    opacity: 0.4;
}

.startscreen .GeoGebraFrame .KeyBoard .gwt-Label {
    color: rgba(0,0,0,0.4);
}

.algebraPanel {
    height: 100%;
}

.startscreen .algebraPanelScientificNoHeader {
    top: 48px;
} 

.algebraPanelScientificNoHeader {
        background-color: #f9f9f9;
}

.algebraPanelScientificNoHeader >div {
    width: 800px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
    min-height: calc(100% - 24px);
    box-sizing: border-box;
    /** padding to make sure shadow goes to the very bottom when keyboard is open */
    padding-bottom: 52px;
    background: white;
    margin-top: 24px;
    padding-top: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
    overflow-x: hidden;
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.GeoGebraFrame .matAvDesign.algebraPanelScientific .NewRadioButtonTreeItemParent {
    border-width: 0;
}

.GeoGebraFrame .matAvDesign.algebraPanelScientific .scrollableTextBox {
    margin-left: 56px;
    padding-left: 0px;
    border-bottom: 1px #dcdcdc solid;
    width: calc(100% - 56px);
    box-sizing: border-box;
    min-height: 48px;
}

.avItemHeaderScientific {
        position: absolute;
}

.avItemNumber {
    color: rgba(0,0,0,.54);
    font-size: 75%;
    top: 14px;
    left: 16px;
    position: absolute;
}
