.GeoGebraHeader{
	display: flex;
    border-bottom: 1px solid #dcdcdc;
	background-color: rgb(255,255,255);
    padding: 4px;
}
.GeoGebraHeader .appName{
	padding-left: 12px;
	font-size: 16px;
	margin: 3px 0;
	font-weight: unset;
}
.GeoGebraHeader a{
	color: #00A8A8;
    text-decoration: none;
    padding: 0px 8px;
    margin-left: 5px;
    margin-right: 0px;
}
.GeoGebraHeader ul{
    list-style-type:none;
    margin: 0;
}
.GeoGebraHeader li{
    display: inline;
}
.GeoGebraHeader .links {
	position: absolute;
	right: 8px;
    padding: 3px 0px;
    font-size: 15px;
    margin: 0px;
}
.application .startscreen {
	display: none;
}
.startscreen.logo{
	position: absolute;
	max-width: 400px;
	width: 40%;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
}