<div>

    <div id="horizontal-timeline-splitter">
        <div class="info-section">

            <section class="pane-info-header">

                <div class="pane-top-info">
                    <input id="timeline-input" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    <!--
                    <span class="ic-animations-info"></span>
                    <span>Animations</span>
                    -->
                </div>
                <div id="animation-toolbar"></div>
            </section>
            <div class="info-widgets">
                <div class="info-stack">

                </div>
                <footer class="timeline-footer">

                    &nbsp;
                </footer>
            </div>

        </div>
        <div class="timeline-wrap">

            <div class="timeline">
                <section class="breadcrumb">
                    &nbsp;
                </section>
                <section class="animation-timeline">
                    <div class="timeline-pin-area">
                        <canvas id="timeline-ruler" width="" height="20px">

                        </canvas>
                        <div id="timeline-pin" class="dragging-point">
                            <span class="pin-height"></span>
                        </div>
                    </div>

                </section>
                <section class="widgets-keyframes">
                    <div class="widgets-keyframes-stack">

                    </div>
                    <footer class="timeline-footer">

                        &nbsp;
                    </footer>
                </section>

            </div>
        </div>
    </div>

</div>
