<div class="clearfix">
    <label class="options-name">Timing:</label>
    <select class="animation-timing">
        {{#select timing}}
            <option value="linear">linear</option>
            <option value="ease">ease</option>
            <option value="ease-in">ease-in</option>
            <option value="ease-out">ease-out</option>
            <option value="ease-in-out">ease-in-out</option>
            <option value="step-start">step-start</option>
            <option value="step-end">step-end</option>
            <option value="inherit">inherit</option>
        {{/select}}
    </select>
</div>
<div class="clearfix">
    <label class="options-name">Direction:</label>
    <select class="animation-direction">
        {{#select direction}}
            <option value="normal">normal</option>
            <option value="reverse">reverse</option>
            <option value="alternate">alternate</option>
            <option value="alternate-reverse">alternate-reverse</option>
            <option value="inherit">inherit</option>
        {{/select}}
    </select>
</div>
<div class="clearfix">
    <label class="options-name">Iteration-count:</label>
    {{#ifvalue iteration value="infinite"}}
        <input class="animation-iteration" type="number" min="1" value="1" disabled/>
        <i class="char-loop">&infin;</i>
        <input type="checkbox" class="animation-iteration-loop" checked/>
    {{else}}
        <input class="animation-iteration" type="number" min="1" value="{{iteration}}"/>
        <i class="char-loop">&infin;</i>
        <input type="checkbox" class="animation-iteration-loop"/>
    {{/ifvalue}}
</div>
<div class="clearfix">
    <label class="options-name">Name:</label>
    <input class="animation-name" type="text" value="{{ name }}"/>
</div>
