@use 'colors';
@use 'z-index';

.GeoGebraFrame {
	.distributionPanel {
		padding: 16px 0 0 16px;
		display: grid;
		gap: 16px;

		.holder {
			display: flex;
			gap: 8px;
		}

		.inputTextField {
			margin: 0;
		}

		.gwt-Label {
			height: 32px;
			line-height: 32px;
		}

		.iconPanel {
			display: flex;
			gap: 8px;
		}

		.probabilityResultRow {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 4px;

			.mathTextField {
				width: 120px;
			}
		}

		.mathTextField {
			border: none;
			border-bottom: 1px colors.$black-42 solid;
			margin-bottom: 1px;
			border-radius: 0;
			cursor: pointer;
			padding-top: 0;

			&:hover {
				border-bottom-color: colors.$black-87;
			}
		}

		.holder.focusState {
			.mathTextField {
				margin-bottom: 0;
				border-bottom: 2px solid colors.$purple-default;
			}
			.gwt-Label {
				color: colors.$purple-default;
			}
		}

		.holder:hover:not(.focusState) {
			.mathTextField {
				border-bottom-color: colors.$black-87;
			}

			.gwt-Label {
				color: colors.$black-87;
			}
		}

		.holder.errorStyle,
		.holder.errorStyle.focusState,
		.holder.errorStyle:hover {
			.gwt-Label {
				color: colors.$error;
			}

			.mathTextField {
				border-bottom-color: colors.$error;
			}
		}
	}

	.probCalcStylbarBtn.iconButton {
		float: right;
		z-index: z-index.$z-on-top-of-graphics;
		margin: 0 8px 16px 0;

		&.singleButton {
			margin: 16px 16px 16px 0;
		}
	}
}
