@use 'colors';
@use 'z-index';
@use "menu-styles";
@use 'colorMap' as *;

$shadow-dark: 0px 0px 2px 1px rgba(102, 102, 102, 0.3);

.GeoGebraFrame {

	.floatingSettings {
		position: absolute;
		top: 0px;
		right: 0px;
		/*box-shadow: 0 0 16px $black-28;*/
		box-shadow: 0 6px 16px rgba(0, 0, 0, 0.28);
		background-color: colors.$white;
		/* keep shadow under keyboard */
		z-index: z-index.$z-dialog-under-keyboard;
		height: 100%;
		width: 500px;
		overflow: hidden;
	}

	.propertiesTab {
		overflow: auto;
		padding-right: 8px;
		padding-left: 16px;
		box-sizing: border-box;
	}

	.animateInFromRight {
		animation-duration: 0.25s;
		animation-name: settingsIn;
		overflow: auto;
	}

	.floatingSettings.animateIn {
		@extend .animateInFromRight;
	}

	@keyframes settingsIn {
		0% {
			right: -500px;
			top: 0px;
		}
		100% {
			right: 0px;
			top: 0px;
		}
	}

	.animateOutToRight {
		animation-duration: 0.2s;
		animation-name: settingsOut;
		overflow-y: auto;
		right: -500px;
	}

	.floatingSettings.animateOut {
		@extend .animateOutToRight;
	}

	@keyframes settingsOut {
		0% {
			right: 0px;
			top: 0px;
		}
		50% {
			right: -250;
			top: 0px;
		}
		100% {
			right: -500px;
			top: 0px;
		}
	}

	.PropertiesViewW .sideSheet {
		.contentPanel {
			height: calc(100% - 64px); //64px height of sideSheet titlePanel

			.componentTab {
				height: 100%;

				.panelContainer {
					height: 100%;

					.sideSheetTab {
						height: calc(100% - 56px); //56px height of tab bar
						overflow: auto;
					}
				}
			}
		}
	}

	.sideSheetTab {
		width: 100%;

		.expandableList .containerPanel {
			display: grid;
			gap: 16px;
			margin: 0 16px 16px 16px;
			.gwt-Label {
				height: 32px;
				line-height: 32px;
			}
			.checkboxPanel {
				padding: 0;
				&.withLabel .checkbox {
					margin-left: 0px;
				}
			}
			.dropDown, .comboBox, .inputTextField {
				width: 100%;
				margin: 8px 0 0 0;
			}
			.colorPalette, .sliderComponent, .iconButtonPanel {
				margin: 0;
			}
			.buttonWithIcon {
				margin: 0;
				width: 100%;

				.gwt-Label {
					height: 36px;
					line-height: 36px;
				}
			}
		}
		.buttonWithIcon {
			display: flex;
			cursor: pointer;
			gap: 12px;
			margin: 0 16px;
			width: calc(100% - 32px);

			&:hover {
				background-color: neutral(200);
			}

			img {
				margin: 6px 0;
			}
			.gwt-Label {
				height: 36px;
				line-height: 36px;
			}
		}
		.checkboxPanel {
			display: flex;
			padding: 8px 16px 8px 0;
		}
		.dropDown, .comboBox, .inputTextField, .textEdit {
			width: calc(100% - 32px);
			margin: 16px 16px 8px 16px;
		}
		.colorPalette, .sliderComponent, .iconButtonPanel {
			margin: 16px;
		}
		.componentTab {
			.wrapPanel {
				margin-top: 12px;
			}
			.scrollPanel {
				border-bottom: none;
			}
		}
		.actionableButtonPanel {
			margin: 8px 16px;

			.button {
				margin: 10px 0 10px 10px;
			}
		}
		.expandableList.extended + .expandableList.extended {
			border-top: none;
		}
		.expandableList:not(.extended) .colorPalette .colorButton.selected .checkmark,
		 .expandableList:not(.extended) .colorPalette .colorButton .plus{
			visibility: hidden;
		}
		.iconButtonPanel .iconPanel {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
		}
		.iconButtonPanel .iconButtonListPanel {
			display: flex;
		}
		.colorPalette.colorPanel {
			width: 368px;
			height: 68px;
			.colorButton {
				position: relative;
				display: inline;
			}
			.checkmark, .plus {
				top: 0;
			}
			.gwt-Label {
				height: 32px;
				line-height: 32px;
			}
		}
		.labelStyle {
			.iconButton {
				margin-right: 8px;
			}
		}
		.ratioPanel {
			display: flex;
			gap: 8px;
			width: 368px;

			.inputTextField {
				width: 155px;
				margin: 8px 0 10px 0;
			}
			.gwt-Label {
				margin: 16px 0 12px 0;
				padding: 0;
			}
			.iconButton {
				margin: 14px 0;
			}
		}
		.dimensionPanel .containerPanel {
			margin-top: 10px;
		}
		.navigationBar {
			display: contents;
		}
		.horizontalSplitView {
			display: flex;
			gap: 16px;
		}
		.contentSpacing16 {
			display: grid;
			gap: 16px;
		}
		.contentSpacing4 {
			display: grid;
			gap: 4px;
		}
		.contentSpacing8 {
			display: grid;
			gap: 8px;
		}
		.contentSpacing10 {
			display: grid;
			gap: 10px;
		}
		.sliderComponent {
			.labelPreviewHolder {
				gap: 8px;
			}
			.sliderLabel, .displayValue {
				font-size: 16px;
				height: 24px;
				line-height: 24px;
				margin: 4px 0;
			}
		}
		.customIconButtonPanel {
			display: flex;
			gap: var(--Spacing-Spacing-16, 16px);
			align-items: center;
			flex: 1 0 0;

			.imagePreview {
				width: 48px;
				height: 48px;
				border-radius: 8px;
				border: 1px solid neutral(500);
			}

			.imageName {
				flex: 1 0 0;
				font-size: 16px;
				line-height: 48px;
				letter-spacing: 0.5px;
				max-width: 200px;
				text-overflow: ellipsis;
				overflow: auto;
			}

			.iconButton {
				margin: auto;
			}
		}
		.buttonIconEditor {
			display: flex;
			flex-direction: column;
			gap: 16px;

			.materialOutlinedButton {
				width: fit-content;
				margin: 0;
			}
		}
		.materialOutlinedButton {
			margin: 0 auto;
			display: block;
		}
	}
}
