<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>

<script>
var firebaseConfig = {
    apiKey: "AIzaSyDg3hfaFLUKQDJCRRrTnTIshxxgyAUzPuU",
    authDomain: "geogebra-ggb.firebaseapp.com",
    databaseURL: "https://geogebra-ggb.firebaseio.com",
    projectId: "geogebra-ggb",
    storageBucket: "geogebra-ggb.appspot.com",
    messagingSenderId: "895270214636",
    appId: "<!--FIREBASE APP ID-->",
    measurementId: "<!--MEASUREMENT ID-->"
};

// Initialize Firebase
firebase.initializeApp(firebaseConfig);
firebase.analytics();
</script>
