{
  "name": "GeoGebra",
  "description": "Free dynamic mathematics software for all levels of education that joins geometry, algebra, graphing, and calculus.",
  "version": "VERSION",
  "app": {
    "launch": {
    "local_path": "app.html"
    }
  },
  "icons": { 
    "16": "icon_16.png",
    "48": "icon_48.png",
    "128": "icon_128.png" 
    }
}
