/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
.toolbar {
	position: absolute !important;
	bottom: 0px;
}

.headerpanel {
	position: static !important;
}

.rightbutton {
	position: absolute !important;
	right: 0px;
}

.toolbutton5 {
	background-image: url("http://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg") !important;
}

.toolbutton6{
	background: url("http://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg") !important;
}