div.stylingbar {
	position: absolute;
	right: 0px;
	margin-right: 0px;
	background-color: white;
	box-shadow: 5px 5px 10px #333333;
	border-radius: 1em 0em 0em 1em;
}

.euclidianview {
	position: absolute;
	top: 0px;
}

div.mgwt-ButtonBar-toolbar {
	position: absolute;
	bottom: 0px;
}

div.mgwt-ButtonBar-toolBarOptionsBackground {
	position: absolute;
	bottom: 50px;
	background: none;
	background-color: transparent;
	border: none;
}

div.StyleBarOptions {
	position: absolute;
	right: 75px;
	top: 150px;
	box-shadow: 5px 5px 10px #333333;
	border-radius: 1em 1em 1em 1em;
}

.colorBarBackground {
	position: absolute;
	right: 75px;
	top: 150px;	
	width: 250px;
	z-index: 100;
}

div.colorBar { 	
	height: 220px;
	box-shadow: 5px 5px 10px #333333;	
	width: 100%;
	background: none;
	background-color: transparent;
	border: none;
	border-radius: 1em 1em 1em 1em;
}

div.colorSliderPanel{
	box-shadow: 5px 5px 10px #333333;
}

div.colorScrollPanel {
	width: 100%;
	height: 100%;
}

div.mgwt-Button-colorChoiceButton {
	margin-left: 27px;
	height: 18px;
	width: 100%;
	background-image: none;
}

div.mgwt-Button-dummyButton {
	height: 20px /*58px*/;
	background-image: none;
	background: none;
	border: none;
}

div.mgwt-Button-picker{
	border-radius: 0px;
	margin: 0px; 
}


.colorBar * td {
	width: 170px;
}

.headerpanel {
	position: static;
	top: 0px;
}

.leftHeader {
	position: absolute;
	top: 0px;
}

.rightHeader {
	position: absolute;
	top: 0px;
	right: 0px;
}

div.mgwt-BarButton-tool-rightButton {
	position: absolute;
	right: 0px;
}

.inputdialog {
	width: 70%;
}

.inputtext {
	width: 98%;
}

.savedialog {
	width: 40%;
}

.savetextinput {
	width: 98%;
}

.opendialog {
	width: 40%;
}

.listBoxToOpen {
	width: 100%;
}


div.mgwt-BarButton-tool {
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin: 3px;
	border-radius: 6px;
	background-size: 100%;
	background-color: white;
}

div.mgwt-BarButton-active {
	margin: 1px;
	border: 3px solid rgba(0, 0, 255, 1);
}

.inputtextbox input {
	position: inherit;
	left: 0px;
	width: 90%;
	height: 100%;
}

.inputbutton {
	position: inherit;
	right: 0px;
	width: 5%;
}

.inputbar {
	position: absolute;
	bottom: auto;
	width: 100%;
	height: 10%;
	background-color: scrollbar;
	box-shadow: 5px 5px 10px #333333;
	border-radius: 1em 1em 1em 1em;
}

.algebraview {
	width: 15%;
	background-color: white;
	position: relative;
	height: 80%;
	left: 0px;
	box-shadow: 5px 5px 10px #333333;
	border-radius: 0em 1em 1em 0em;
}

.algebraView-notExtended {
	width: 5%;
}

.algebraRoundPanel {
	border: 0px;
}

.algebraScrollPanel {
	width: 100%;
	height: 100%;
}

.algebraView-heading {
	color: black;
}

.rootTest {
	width: 1000px;
	height: 1000px;
}