/*geogebra.mobile.gui.algebra.AlgebraViewM*/

.algebraView-heading {
	color: black;
}

/*geogebra.mobile.gui.algebra.AlgebraViewPanel*/

.algebraview {
	width: 25%;
	background-color: white;
	height: 80%;
	left: 0px;
	box-shadow: 5px 5px 10px #333333;
	border-radius: 0em 1em 1em 0em;
	/* 	position: relative; */
	position: fixed;
	top: 50px;
}

.algebraView-notExtended {
	width: 5%;
}

.algebraScrollPanel {
	width: 100%;
	height: 100%;
}

.algebraButton {
	position: absolute;
	top: 0px;
	right: 0px;
}

/*geogebra.mobile.gui.elements.heade.OpenSaveDialog*/

.savetextinput {
	width: 98%;
}

.listBoxToOpen {
	width: 100%;
}

.opendialog {
	width: 40%;
}

/*geogebra.mobile.gui.elements.header.TabletHeaderPanelLeft*/

.leftHeader {
	position: absolute;
	top: 0px;
}

/*geogebra.mobile.gui.elements.header.TabletHeaderPanelLeft*/

.rightHeader {
	position: absolute;
	top: 0px;
	right: 0px;
}

/*geogebra.mobile.gui.elements.stylingbar.CaptionBar and
  geogebra.mobile.gui.elements.stylingbar.LineStyleBar*/

div.StyleBarOptions {
	position: absolute;
	right: 75px;
	top: 150px;
	box-shadow: 5px 5px 10px #333333;
	border-radius: 1em 1em 1em 1em;
}

/*geogebra.mobile.gui.elements.stylingbar.ColorBar*/

div.colorBar {
	height: 220px;
	box-shadow: 5px 5px 10px #333333;
	width: 100%;
	background: none;
	background-color: transparent;
	border: none;
	border-radius: 1em 1em 1em 1em;
}

.colorBar * td {
	width: 170px;
}

div.colorScrollPanel {
	width: 100%;
	height: 100%;
}

/*geogebra.mobile.gui.elements.stylingbar.ColorBarBackground*/

.colorBarBackground {
	position: absolute;
	right: 75px;
	top: 150px;
	width: 250px;
	z-index: 100;
}

div.colorSliderPanel {
	box-shadow: 5px 5px 10px #333333;
}

/*geogebra.mobile.gui.elements.stylingbar.Colors*/

div.mgwt-Button-colorChoiceButton {
	margin-left: 27px;
	height: 18px;
	width: 100%;
	background-image: none;
}

/*geogebra.mobile.gui.elements.stylingbar.StylingBar*/

div.stylingbar {
	position: absolute;
	right: 0px;
	margin-right: 0px;
	background-color: white;
	box-shadow: 5px 5px 10px #333333;
	border-radius: 1em 0em 0em 1em;
}

div.mgwt-BarButton-active {
	margin: 1px;
	border: 3px solid rgba(0, 0, 255, 1);
}

/*geogebra.mobile.gui.elements.toolbar.OptionsBarBackground*/

div.mgwt-ButtonBar-toolBarOptionsBackground {
	position: absolute;
	bottom: 50px;
	background: none;
	background-color: transparent;
	border: none;
}

/*geogebra.mobile.gui.elements.toolbar.ToolBar*/

div.mgwt-ButtonBar-toolbar {
	position: absolute;
	bottom: 0px;
}

div.mgwt-BarButton-tool-rightButton {
	position: absolute;
	right: 0px;
}

/*geogebra.mobile.gui.elements.InputDialog*/

.inputdialog {
	width: 70%;
}

.inputtext {
	width: 98%;
}

/*geogebra.mobile.gui.elements.Picker*/

div.mgwt-Button-picker {
	border-radius: 0px;
	margin: 0px;
}

/*geogebra.mobile.gui.elements.ToolButton*/

div.mgwt-BarButton-tool {
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin: 3px;
	border-radius: 6px;
	background-size: 100%;
	background-color: white;
}

/*geogebra.mobile.gui.euclidian.EuclidianViewPanel*/

.euclidianview {
	position: absolute;
	top: 0px;
}


/* NOT USED */

.headerpanel {
	position: static;
	top: 0px;
}

.inputtextbox input {
	position: inherit;
	left: 0px;
	width: 90%;
	height: 100%;
}

.inputbutton {
	position: inherit;
	right: 0px;
	width: 5%;
}

.inputbar {
	position: absolute;
	bottom: auto;
	width: 100%;
	height: 10%;
	background-color: scrollbar;
	box-shadow: 5px 5px 10px #333333;
	border-radius: 1em 1em 1em 1em;
}

.maxSize (){
	height: 100%;
	width: 100%;
}

.algebraRoundPanel {
	border: 0px;
}

.rootTest {
	width: 1000px;
	height: 1000px;
}