.euclidianview {
	position: absolute; 
	top: 0px; 
/* 	background-image: */
/* 		url("http://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg"); */
}

.toolbar {
	position: absolute;
	bottom: 0px;
}

.toolBarOptionsBackground {
	position: absolute;
	bottom: 50px;
	background: none;
	background-color: transparent;
	border: none;
}

.headerpanel {
	position: static;
	top: 0px;
}

.leftHeader {
	position: absolute;
	top: 0px;
	background: none;
	background-color: transparent;
	border: none;
}

.rightHeader {
	position: absolute;
	top: 0px;
	right: 0px;
	background: none;
	background-color: transparent;
	border: none;
	max-width: 38mm;
}

.rightbutton {
	position: absolute;
	right: 0px;
}

.toolbutton {
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin: 3px;
	-webkit-border-radius: 6px;
	-webkit-background-size: 100%;
	background-color: white; 
}

.button-active {
	color: #fff;
	margin: 1px; 
	border: 3px solid rgba(0, 0, 255, 1);
}

.inputtextbox input {
	position: inherit;
	left: 0px;
	width: 90%;
	height: 100%;
}

.inputbutton {
	position: inherit;
	right: 0px;
	width: 5%;
}

.inputbar {
	position: absolute;
	bottom: auto;
	width: 100%;
	height: 10%;
	background-color: scrollbar;
	box-shadow: 5px 5px 10px #333333;
	-webkit-border-radius: 1em 1em 1em 1em;
}

.algebraview {
	position: relative;
	height: 80%;
	width: 15%;
	left: 0px;
	background-image:
		url("http://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg");
	background-color: scrollbar;
	box-shadow: 5px 5px 10px #333333;
	-webkit-border-radius: 0em 1em 1em 0em;
}