.euclidianview {
	background-image:url("http://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg");
}
.toolbar {
	position:absolute;
	bottom:0px;
}
.headerpanel {
	position:static;
	top:0px;
}
.rightbutton {
	position:absolute;
	right:0px;
}
.toolbutton {
	-webkit-background-size: 100%;
}
.inputtextbox input {
	position:inherit;
	left:0px;
	width:90%;
	height:100%;
}
.inputbutton {
	position:inherit;
	right:0px;
	width:5%;
}
.inputbar {
	position:absolute;
	bottom:auto;
	width:100%;
	height:10%;
	background-color:scrollbar;
	box-shadow:5px 5px 10px #333333;
	-webkit-border-radius:1em 1em 1em 1em;
}
.algebraview {
	position:relative;
	height:80%;
	width:15%;
	left:0px;
	background-image:url("http://upload.wikimedia.org/wikipedia/commons/3/35/Tux.svg");
	background-color:scrollbar;
	box-shadow:5px 5px 10px #333333;
	-webkit-border-radius:0em 1em 1em 0em;
}