* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.stylingbar {
	position: absolute;
	right: 0px;
	margin-right: 0px;
	background-color: white;
	box-shadow: 5px 5px 10px #333333;
	-webkit-border-radius: 1em 0em 0em 1em;
}

.euclidianview {
	position: absolute;
	top: 0px;
}

.toolbar {
	position: absolute;
	bottom: 0px;
}

.toolBarOptionsBackground {
	position: absolute;
	bottom: 50px;
	background: none;
	background-color: transparent;
	border: none;
}


.colorBarBackground {
	position: absolute;
	right: 75px;
	bottom: 320px;
	width: 250px;
	height: 220px;
	box-shadow: 5px 5px 10px #333333;
	-webkit-border-radius: 1em 0em 0em 1em;
}
.colorBar {
	margin-left: 20px;
	width: 90%;
	background: none;
	background-color: transparent;
	border: none;
}

.colorScrollPanel {
	width: 100%;
	height: 100%;
}

.colorChoiceButton {
	height: 18px;
	width: 100%;
	background-image: none !important;
}

.dummyButton {
	height: 58px;
	background-image: none !important;
	background: none;
	border: none !important;
}

.colorBar * td {
	width: 170px;
}

.headerpanel {
	position: static;
	top: 0px;
}

.leftHeader {
	position: absolute;
	top: 0px;
}

.rightHeader {
	position: absolute;
	top: 0px;
	right: 0px;
}

.rightButton {
	position: absolute;
	right: 0px;
}

.inputdialog {
	width: 70%;
}

.inputtext {
	width: 98%;
}

.toolbutton {
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin: 3px;
	-webkit-border-radius: 6px;
	-webkit-background-size: 100%;
	background-color: white;
}

.button-active {
	color: #fff;
	margin: 1px;
	border: 3px solid rgba(0, 0, 255, 1);
}

.inputtextbox input {
	position: inherit;
	left: 0px;
	width: 90%;
	height: 100%;
}

.inputbutton {
	position: inherit;
	right: 0px;
	width: 5%;
}

.inputbar {
	position: absolute;
	bottom: auto;
	width: 100%;
	height: 10%;
	background-color: scrollbar;
	box-shadow: 5px 5px 10px #333333;
	-webkit-border-radius: 1em 1em 1em 1em;
}

.algebraview {
	width: 15%;
	background-color: white;
	position: relative;
	height: 80%;
	left: 0px;
	box-shadow: 5px 5px 10px #333333;
	-webkit-border-radius: 0em 1em 1em 0em;
}

.algebraView-notExtended {
	width: 5%;
}

.algebraRoundPanel {
	border: 0px;
}

.algebraScrollPanel {
	width: 100%;
	height: 100%;
}

.algebraView-heading {
	color: black;
}

.rootTest {
	width: 1000px;
	height: 1000px;
}