@font-face {
    font-family: 'geogebra-sans-serif';
    src: url('../font/GeogebraSans-Regular.eot');
    src: url('../font/GeogebraSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/GeogebraSans-Regular.woff') format('woff'),
         url('../font/GeogebraSans-Regular.ttf') format('truetype'),
         url('../font/GeogebraSans-Regular.svg#roboto') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geogebra-serif';
    src: url('../font/GeogebraSerif-Regular.eot');
    src: url('../font/GeogebraSerif-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/GeogebraSerif-Regular.woff') format('woff'),
         url('../font/GeogebraSerif-Regular.ttf') format('truetype'),
         url('../font/GeogebraSerif-Regular.svg#roboto_slab') format('svg');
    font-weight: normal;
    font-style: normal;

}
