{
   "app": {
      "launch": {
         "web_url": "http://web.geogebra.org/beta/"
      },
      "urls": [ "http://web.geogebra.org/beta/" ]
   },
   "author": "International GeoGebra Institute",
   "description": "GeoGebra is free dynamic mathematics software for all levels of education that joins geometry, algebra, graphing, and calculus.",
   "homepage_url": "http://www.geogebra.org",
   "icons": {
      "128": "icon_128.png",
      "16": "icon_16.png",
      "48": "icon_48.png"
   },
   "key": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlY/podpUkW8n+IYI/h8+3rhUE8p+3ppzAaIz5DErWQ+Rhw5rd01YuBjoA/iSpOfgRi0ZpaO9SSOa7sB+pKS84x+P6LBG1SekueC/CnEIVaWT+XjpGv/HoFmE2OGV1rWq/nOVpa5CN702Yr5x958OJCkrIXerXzqStbjmYUWDFNOuKq7irxidZiipjMyykK7m6GO+eOF6XVNbGphmDpWF/J6m7R2LCpabFp8il0c5Mps/zUuu/IfmrffMqlcBkWTbnckpcd7xzC43qYfMPvFxzwWgzBgQLfLw1IRl9Q6AMbMh5YJe9YcZ9OC4nZsSFVqBmhx90U6rA+4ZdZM3Lr4CKQIDAQAB",
   "manifest_version": 2,
   "name": "GeoGebra 5 Beta",
   "offline_enabled": true,
   "permissions": [ "clipboardRead", "clipboardWrite" ],
   "update_url": "https://clients2.google.com/service/update2/crx",
   "version": "VERSION"
}
