/* remove border */
.mathquill-editable,
.mathquill-embedded-latex .mathquill-editable {
  border: 0px;
  padding: 3px;
}

/* remove shadows */
.mathquill-editable.hasCursor,
.mathquill-editable .hasCursor {
  -webkit-box-shadow: #68b4df 0 0 0 0;
  -moz-box-shadow: #68b4df 0 0 0 0;
  box-shadow: #68b4df 0 0 0 0;
}