@import 'colors';
@import 'dimens';
@import 'shared';
@import 'z-index';

$duration: 0.2s;

.GeoGebraFrame {
	.suggestionBar {
		position: absolute;
		font-family: sans-serif;
		bottom: 0;
		right: 0;
		overflow-y: hidden;
		&.animating {
			animation-name: addSuggestions;
			animation-duration: $duration;
		}
		&.removing {
			animation-name: removeSuggestions;
			animation-duration: $duration;
		}
	}

	.suggestionButton {
		@extend %primaryButton;
	}

	.algebraView .panelRow .withSuggestions{
		margin-bottom: 40px;
		animation-name: addSuggestionsParent;
		animation-duration: $duration;
	}
	.algebraView .panelRow .noSuggestions{
		animation-name: removeSuggestionsParent;
		animation-duration: $duration;
	}

	.AlgebraViewObjectStylebar.withContextMenu {
			bottom: 0;
			padding: 8px 2px 0px 0px;
			box-shadow: none;
			background-color: $transparent;
			.gwt-ToggleButton.XButton.shown.gwt-ToggleButton-up-hovering {
				opacity: 1;
			}

			.XButton{
				opacity: 0.54;
				&:hover {
					opacity: 0.78;
				}
				background-color: $white;
				float: right;
			}

			.symbolicButton{
				display: inline-block;
				position: absolute;
    			padding: 2px;
    			top: 50%;
    			right: 8px;
    			width: 22px;
    			height: 22px;
    			background-color: $purple-default;
    			border-radius: 2px;
    			border: none;
    			box-shadow: 0px 3px 1px -2px $black-20, 0px 2px 2px 0px $black-14, 0px 1px 5px 0px $black-12;
    			transition: background-color 150ms ease 0ms;
    
    			&:hover {
    				background-color: $purple-dark;
    			}
			}
	}
	.matAvDesign  {

		.matMinMaxPanel {
			 display: flex;

			.AutoCompleteTextFieldW {
    			width: initial;
    			margin: 0px !important;
    			border-radius: 2px;
    
    			.TextField {
    				padding: 0px;
   					padding-left: 8px;
   					margin-bottom: 2px;
    				border: none;
    				border-bottom: 1px solid #dcdcdc;
    				background: transparent;
    				box-shadow: none;
    				border-radius: 0px !important;
    			}
    		}
		}

		.textOverMarble {
			height: 20px;
   			width: 20px;
			position: absolute;
    		margin-left: -1px !important;
    		opacity: 0.54;
		}

		.marblePanel.error, 
		.marblePanel.help,
		.marblePanel {
			position: absolute;
			height: 100%;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-left: 18px;
			padding-right: 18px;
			/*width: 48px;*/
		}

		.marblePanel.error.gwt-ToggleButton.gwt-ToggleButton-up {
			width: 22px !important;
			height: 22px;
		}

		.marblePanel.error { 
			padding-left: 16px;
			padding-right: 16px;
		}

		.marblePanel.help {
			width: 48px !important;
		}


		.marblePanel.error, 
		.marblePanel.help,
		.marblePanel.plus {

			.gwt-Image {
				height: 24px;
				width: 24px;
			}
		}

		.marblePanel.plus {
			padding-top: 0px;
			padding-left: 4px;
			padding-right: 4px;
			min-height: 47px;
			/*width: 62px; */
			img {
				opacity: 0.54;
			}
			.gwt-ToggleButton {
				margin: 0px;
				top: 0px;
				padding: 12px;
				padding: 12px;
			}
		}

		.marblePanel.plus :hover{
			img {
				opacity: 1;
			}
		}

		.marblePanel.text {
			width: 57px !important;
		}

		.marble {
			position: relative;
			margin-top: -12px;
			top: 50%;
			height: 18px;
			width: 18px;
			background-color: $purple-default;
			border: 1px solid $black;
			border-radius: 24px;

		}
		.marble.elemHidden {
			background-color: $white;
		}
		.marble.elemShown {
			background-color: $purple-default;
			border: 1px solid $marble-border;

			.textOverMarble {
				opacity: 1;
			}
		}

		div[data-title="Input Help"]:hover:after {
            top: 48px;
        }

		.scrollableTextBox,
		.scrollableTextBox.avPreview,
		.scrollableTextBox.noPreview,
		.avItemContent {
			padding-top: 10px;
			padding-left: 68px;
			padding-bottom: 0px;
			display: inline-block;
		}

		&.algebraPanelScientific {
			.avItem .gwt-TreeItem, .NewRadioButtonTreeItemParent {
				border-width: 0;

				&.focused {
					border-top: none;
					border-bottom: none;
				}
			}
			.AlgebraViewObjectStylebar.smallStylebar {
				padding: 12px 8px 0 0;
			}
			.scrollableTextBox,
			.scrollableTextBox.avPreview,
			.scrollableTextBox.noPreview, 
			.avItem .elemText,
			.avItem .elemText.scrollableTextBox {
				margin-left: $scientificHeaderWidth;
				padding-left: 0px;
				border-bottom: 1px $tool-border solid;
				width: calc(100% - #{$scientificHeaderWidth});
				box-sizing: border-box;
				min-height: 48px;
			}
			.avInputItem {
				margin-top: 0;
			}
		}

		.avItem .elemText.noPadding{
			padding-left: 0;
			padding-top: 6px;
		}
		.avItem .elemText.additionalRow{
			display: flex;
			padding-top: 16px !important;
		}
		.avItem .elemText.avPlainText.avOutput {
			line-height: 30px;
		}
		.avItem .elemText {
			padding-top: 14px;
			padding-bottom: 0px;
			padding-left: 68px;
			&.noPreview:not(.scrollableTextBox) {
				padding-bottom: 4px;
			}
		}

		.avItem .gwt-CheckBox{
			padding-left: 68px;
			padding-top: 8px;
		}

		.avItemContent {
			padding-top: 6px;
			min-height: 72px;

			.panelRow {
				padding-top: 8px;
			}

			&.avSlider {
				padding-top: 10px !important;
			}
		}

		.avEditSlider {
			padding-top: 0px;

			.panelRow {
				padding-top: 4px;
			}
		}

		.avSlider {
			.panelRow {
				padding-top: 20px;
			}
		}
		.playOnly {
			position: absolute;
			top: 42px;
			right: 3px;

			img {
				opacity: 0.54;
			}

			&:hover {
				img {
					opacity: 1;
				}
			}
		}

		.speedPanel {
			position: absolute;
			top: 4px;
			right: 0px;
			opacity: 1;
			transition: 0.3s ease;
			z-index: $z-algebra-speed-panel;
			cursor: default;

			.flatButton {
				margin: 0px;
				padding: 0px;
				width: 24px;
				height: 24px;
				cursor: pointer;
				img {
					opacity: 0.54;
				}

				&:hover {
					img {
						opacity: 0.84;
					}
				}
			}

            .value {
                display: inline-block;
                width: 40px;
                font-size: 0.8em;
                text-align: center;
                vertical-align: top;
                border: none;
                outline: none;
                overflow: hidden;
                height: 19px;
                margin-right: 0px;
                line-height: 200%;
            }

        }

		.speedPanel-hidden {
			@extend .speedPanel;
			opacity: 0;
			transition: 0.2s ease;
			z-index: $z-hidden;
		}

		.speedPanel-hidden >* {
			display: none;
		}

		.speedPanel >* {
			display: inline-block;
		}

		.more {
			opacity: 0.54 !important;
			transition: 0.3s ease;

			&:hover {
				opacity: 1 !important;
			}
		}

		.hidden {
			display: none;
		}
		
		.more-hidden {
			opacity: 0 !important;
			transition: 0.3s ease;
			&:hover {
				opacity:  !important;
			}
		}

		.NewRadioButtonTreeItemParent {
			border-top: $tool-border solid 1px;
			border-bottom: $tool-border solid 1px;

    		&.focused {
    			border-top: $purple-default solid 1px;
    			border-bottom: $purple-default solid 1px;
    		}

			.scrollableTextBox, .inputBorder {
				min-height: 48px;
				overflow: hidden;
			}
		}

		.gwt-Tree .gwt-TreeItem .elem {
			min-height: 48px;
			position: relative;
		}
	}

	.arrowOutputImg {
		margin-right: 8px;
    	opacity: 0.54;
    	width: 24px !important;
    	height: 24px !important;
    }

    .algebraPanel {
        height: 100%;
    }
}

@keyframes removeSuggestions {
	0% {max-height: 50px;}
	100% {max-height: 10px;}
}

@keyframes addSuggestions {
	0% {max-height: 10px;}
	100% {max-height: 50px;}
}

@keyframes addSuggestionsParent {
	0% {margin-bottom: 0;}
	100% {margin-bottom: 40px;}
}

@keyframes removeSuggestionsParent {
	0% {margin-bottom: 40px;}
	100% {margin-bottom: 0;}
}

