@import 'colors';

.GeoGebraFrame {	

	.matMenu.gwt-PopupPanel {
		
		background-color: $white-95;
		padding: 8px 0px 8px 0px;
		border-radius: 2px;
		min-width: 192px;
	
		.gwt-MenuItem {
			height: 32px;
			min-width: 192px;
			cursor: pointer; 
			padding-left: 64px;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 16px;
			.no-image {
				padding-left: 0px !important;
			}
		}
		
		.gwt-MenuItem.no-hover,
		 gwt-MenuItem.no-hover:hover{
		 	background-color: transparent !important;
			color: $black;
			font-size: 120%;
			padding-left: 24px;
			padding-bottom: 8px;
			cursor: default;
		}
		
		.gwt-MenuItem:hover {
			background-color: $selected-menuitem-background;
			img {
				opacity: 0.87;
			}
			color: $black;
		}
		
		.gwt-MenuItem-disabled,
		.gwt-MenuItem-disabled:hover {
			img {
				opacity: 0.38;
			}
			color: $black;
			opacity: 0.38;
		}
		
		img {
			width: 24px !important;
			height: 24px !important;
			position: absolute;
			margin-left: -40px;	
			margin-top: -2px;
			opacity: 0.54;
		}
		
		.subMenuIcon {
			padding-right: 0px;
		}
		
		.subMenuIcon img {
			margin-right: 0px !important;
			margin-top: -12px !important;
		}
		
		.subMenuIcon:hover {
			opacity: 0.87;
		}
	}
	
	.matSubMenu.gwt-PopupPanel {
		padding: 4px 0px 4px 0px;
		border-radius: 2px;
		min-width: 64px;
		background-color: $white-95;
	
		.gwt-MenuItem {
			height: 24px;
			min-width: 64px;
			cursor: pointer; 
			padding-left: 0px;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-rigth: 16px;
		}
		
		.gwt-MenuItem.no-image {
			padding-left: 24px !important;
			padding-right: 16px;
		}
		
		.gwt-MenuItem:hover {
			background-color: $selected-menuitem-background;
			color: $black;
		}
		
		.gwt-MenuItem-disabled,
		.gwt-MenuItem-disabled:hover {
			color: $black;
			opacity: 0.38;
		}
		
	}
	
	.textOverMarble {
		opacity: 0.6;
	}
	
}