@import 'colors';

.GeoGebraFrame {	

	.matMenu.gwt-PopupPanel {
		
		background-color: $white-95;
		padding: 8px 0px 8px 0px;
		border-radius: 2px;
		min-width: 192px;
	
		.gwt-MenuItem {
			height: 32px;
			min-width: 192px;
			cursor: pointer; 
			padding-left: 64px;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-right: 16px;
			.no-image {
				padding-left: 0px !important;
			}
			
			 span.gwt-CheckBox.matCheckBox { 
	 	        padding-left: 16px; 
			}
		}
		
		.gwt-MenuItem.no-hover,
		 gwt-MenuItem.no-hover:hover{
		 	background-color: transparent !important;
			color: $black;
			font-size: 120%;
			padding-left: 24px;
			padding-bottom: 8px;
			cursor: default;
		}
		
		.gwt-MenuItem:hover {
			background-color: $selected-menuitem-background;
			img {
				opacity: 0.87;
			}
			color: $black;
		}
		
		.gwt-MenuItem-disabled,
		.gwt-MenuItem-disabled:hover {
			img {
				opacity: 0.38;
			}
			color: $black;
			opacity: 0.38;
		}
		
		img {
			width: 24px !important;
			height: 24px !important;
			position: absolute;
			margin-left: -40px;	
			margin-top: -2px;
			opacity: 0.54;
		}
		
		.subMenuIcon {
			padding-right: 0px;
		}
		
		.subMenuIcon img {
			margin-right: 0px !important;
			margin-top: -12px !important;
		}
		
		.subMenuIcon:hover {
			opacity: 0.87;
		}
	}
	
	.matSubMenu.gwt-PopupPanel {
		padding: 4px 0px 4px 0px;
		border-radius: 2px;
		min-width: 64px;
		background-color: $white-95;
	
		.gwt-MenuItem {
			height: 24px;
			min-width: 64px;
			cursor: pointer; 
			padding-left: 0px;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-rigth: 16px;
		}
		
		 span.gwt-RadioButton.RadioButtonMenuItem.GeoGebraFrame { 
	 	    padding-left: 16px; 
	 	    padding-right: 16px; 
	 	} 
	 	                         
	 	 span.gwt-RadioButton.RadioButtonMenuItem.GeoGebraFrame:hover { 
	 	    background-color: $selected-menuitem-background; 
	 	} 
		
		.gwt-MenuItem.no-image {
			padding-left: 24px !important;
			padding-right: 16px;
		}
		
		.gwt-MenuItem:hover {
			background-color: $selected-menuitem-background;
			color: $black;
			
			span.gwt-RadioButton.RadioButtonMenuItem.GeoGebraFrame { 
	 	       background-color: $selected-menuitem-background; 
	 	    } 
		}
		
		.gwt-MenuItem-disabled,
		.gwt-MenuItem-disabled:hover {
			color: $black;
			opacity: 0.38;
		}
		
	}
	
	.AlgebraViewObjectStylebar.smallStylebar {
		padding: 4px 2px 0px 0px;
		box-shadow: none;
		
		.gwt-ToggleButton.XButton.shown.gwt-ToggleButton-up-hovering {
			opacity: 1;
		}
		
		.XButton{			
			opacity: 0.54;
		}
		
	}
	
	.textOverMarble {
		height: 20px;
   		width: 20px;
		position: absolute;
    	margin-left: -1px !important;
    	opacity: 0.54;
	}	
	
	.matDesign  {
		.marblePanel.error, 
		.marblePanel.help,
		.marblePanel {
			position: absolute;
			height: 100%;
			padding-top: 0px;
			padding-bottom: 0px;
			padding-left: 16px;
			width: 48px;
		}
	
		.marblePanel.error, 
		.marblePanel.help {
			width: 49px;
		}
		
		
		.marblePanel.error, 
		.marblePanel.help,
		.marblePanel.plus {
			
			.gwt-Image {
				height: 24px;
				width: 24px;
			}
		}
		
		.marblePanel.plus {
			padding-top: 0px;
			padding-left: 4px;
			width: 62px; 
			img {
				opacity: 0.54;
			}
			.gwt-ToggleButton {
				margin: 0px;
				top: 0px;
				padding: 12px;
				padding: 12px;
			}
		}
		
		.marblePanel.plus :hover{
			img {
				opacity: 1;
			}
		}
		
		.marble {
			position: relative;
			margin-top: -12px;
			top: 50%;
			height: 24px;
			width: 24px;
			background-color: #6161FF;
			border: 1px solid #000000;
			border-radius: 24px;
		
		}
		.marble.elemHidden {
			background-color: #FFFFFF;
		}
		.marble.elemShown {
			background-color: #6161FF;
			border: 1px solid #CCCCFF;
		}
		
		.scrollableTextBox,
		.scrollableTextBox.avPreview,
		.scrollableTextBox.noPreview, 
		.avItem .elemText,
		.avItemContent {
			padding-top: 10px;
			padding-left: 80px; // 72 + 8
			padding-bottom: 0px;
			display: inline-block;
		}
		
		.avItemContent {
			padding-top: 6px;
			min-height: 72px;	
			
			.panelRow {
				padding-top: 8px;
			}
		}
		
		.playOnly {
				position: absolute;
				top: 42px;
	    		right: 2px;
			}
		
		.NewRadioButtonTreeItemParent .scrollableTextBox,
		.NewRadioButtonTreeItemParent .inputBorder
		{
			border-top: #6161FF solid 1px;
			border-bottom:	#6161FF solid 1px;
			min-height: 48px;
			overflow: hidden;
		}
		
		.gwt-Tree .gwt-TreeItem .elem {
			min-height: 48px;
			position: relative;
		}
	}
}