/** Created by stefanie.bogner
*	16.09.2015
*	contains styles for algebra view in web
* 
*	Make sure everything is placed in .GeoGebraFrame!
**/
@import 'z-index';

.GeoGebraFrame {
	.algebraView {
		height: 100%;

		div table:not(.spec) {
			width: 100%;
			border-collapse: collapse;
		}

		div table:not(.spec) tr > td:first-child {
			display: none;
		}

		div table:not(.spec) tr > td + td {
			width: 100%;
			padding: 0;
		}

		.avItem {
			line-height: 10px; /*low enough to avoid overflow in IE*/
		}
	}

	.algebraView > div > div > div {
		margin-left: 0 !important;
	}

	.algebraView .avItem, .algebraView .avInputItem {
		padding: 0 !important;
		z-index: $z-algebra-input;
		margin-top: -2px;
	}

	.avItem.avSelectedRow {
		z-index: $z-algebra-selected-row;
	}

	.avItem,
	.avItem .gwt-TreeItem,
	.avItem .gwt-TreeItem > * {
		width: 100%;
		box-sizing: border-box;
	}

	.avItem .gwt-TreeItem,
	.avItem .gwt-TreeItem-selected {
		display: inline-block !important;
		background: none;
	}

	.algebraView .panelRow > * {
		margin: 0;
	}

	.panelRow .optionsSlider input[type=range] {
		display: inline-block;
	}

	.NewRadioButtonTreeItemParent {
		/* AlgebraViewObjectStylebar was not at right position, needs position absolute */
		position: absolute;
		width: 100%;
		z-index: $z-algebra-new-item;
	}

	.NewRadioButtonTreeItemParent .AlgebraViewObjectStylebar .gwt-PushButton {
		padding: 0 0 2px 5px;
	}

	.avItem .gwt-TreeItem {
		padding: 0;
		margin-top: 1px;
		/* transparent border: keep layout, avoid extra border for top row*/
		border-top: 1px solid transparent;
		border-bottom: 1px solid #DCDCDC;
		background-color: transparent !important;
	}

	.avItem.avSelectedRow .gwt-TreeItem {
		padding: 0;
	}

	.avItem.avSelectedRow .marblePanel {
		background-color: #DCDCDC;
	}

	.algebraHelpButton, .marblePanel {
		border-right: 1px solid #DCDCDC;
	}

	.algebraView .gwt-CheckBox {
		padding-left: 40px;
	}

	.NewRadioButtonTreeItemParent {
		border-top: #6161FF solid 1px;
		border-bottom: #6161FF solid 1px;
		background-color: white;
	}

	.NewRadioButtonTreeItemParent .scrollableTextBox,
	.NewRadioButtonTreeItemParent .inputBorder {
		overflow: hidden;
	}

	.algebraSimpleP {
		input[type="checkbox"] {
			width: 24px;
			height: 24px;
			margin: 5px 7px 5px 0;
		}
	}

	.avDefinition, .avDefinitionPlain {
		min-height: 30px;
		display: inline-block; // needed for view expanding
	}

	.avDefinitionPlain {
		padding-left: 4px;
	}

	.avOutput {
		min-height: 30px;
		font-weight: bold;
		display: flex;
		align-items: center;
	}

	.avOutput > * {
		display: inline-block;
	}

	.elemText .prefix, .elemText .prefixLatex {
		font-size: 150%;
		position: relative;
		transform: translateY(-15%);
		margin-left: 4px;
		margin-top: 4px;
		opacity: 0.54;
	}

	.avOutput .prefix {
		margin-right: 14px;
	}

	.avOutput .symbolicButton {
		width: 22px;
		height: 22px;
		color: #6161FF;
		background-color: #FFFFFF;
		border: #6161FF solid 1px;
		margin-right: 5px;
		margin-left: -1px;
		padding: 1px;
	}

	.avOutput .symbolicButton:hover {
		background-color: #CCCCFF;
	}

	.btn-prefix {
		transform: translateY(15%);
	}

	.avPreview > div {
		display: block;
	}

	.avDummyLabel {
		display: inline-block;
		color: #999999;
		line-height: 1.6;
	}

	.latexEditor {
		font-family: mathsans, calibri, sans-serif;
	}

	.prefixLatex, .prefix {
		font-family: geogebra-sans-serif, "Arial Unicode MS", Arial
	}

	.NewRadioButtonTreeItemParent .AlgebraViewObjectStylebar {
		top: 2px;
	}

	.scrollableTextBox.avPreview {
		padding-top: 10px;
	}

	.scrollableTextBox.noPreview {
		padding-top: 14px;
	}

	.avItem .elemText {
		&.scrollableTextBox {
			padding-top: 10px;
		}

		&.additionalRow {
			display: inline-flex;
		}
	}

	.marblePanel {
		position: absolute;
		height: 100%;
		box-sizing: border-box;
		margin-top: -1px;
		padding: 1px 7px;

		.gwt-ToggleButton {
			position: relative;
			top: 50%;
			margin-top: -12px;
		}

		.textOverMarble {
			height: 20px;
			width: 20px;
			position: absolute;
			margin-left: -1px !important;
			opacity: 0.54;
		}
	}

	.XButton {
		width: 24px;
		height: 24px;
		line-height: 24px;
		text-align: center;
		display: none;
	}

	.AlgebraViewObjectStylebar {
		position: absolute;
		top: 0;
		right: 0;
		z-index: $z-algebra-stylebar;
		padding: 4px 4px 2px 0;
		border-bottom-left-radius: 5px;
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 0 0 2px 1px rgba(102, 102, 102, 0.3);
	}

	.AlgebraViewObjectStylebar.smallStylebar {
		padding: 2px 2px 2px 0;
	}

	.AlgebraViewObjectStylebar > * {
		display: inline-block;
		vertical-align: middle;
	}

	.elemRow > * {
		display: inline-block;
		padding-left: 4px;
		vertical-align: middle;
	}

	.marblePanel.error, .marblePanel.help {
		padding: 1px 5px;
	}

	.marblePanel.plus {
		padding-left: 3px;

		img {
			opacity: 0.54;
		}
	}

	.marblePanel.plus :hover {
		img {
			opacity: 1;
		}
	}

	.playOnly {
		position: absolute;
		top: 33px;
		right: 2px;
	}

	.avPlainText {
		line-height: 140%;
	}

	.scrollableTextBox .avPlainText {
		display: block;
	}
}