$black: #000000;
$transparent: rgba(255,255,255,0);
$toolbar-header: #6161ff;
$toolbar-header-dark10: #4848e6;
$toolbar-header-light5: #6e6eff;
$toolbar-header-light5-dark10: #5555e6;
$toolbar-header-54: rgba(97,97,255,0.54);
$toolbar-menu-hover: #ffff00;
$tool-border: #dcdcdc;
$button-border: rgb(169, 169, 169);
$marble-border: #ccccff;
$selected-menuitem-background: #eeeeee;
$zoomBtnBckg: #525659;

$white: rgb(255, 255, 255);
$white-30: rgba(255, 255, 255, 0.3);
$white-80: rgba(255, 255, 255, 0.8);
$white-90: rgba(255, 255, 255, 0.9);
$white-95: rgba(255, 255, 255, 0.95);
$black-87: rgba(0,0,0,0.87);
$black-28: rgba(0,0,0,0.28);
$black-14: rgba(0, 0, 0, 0.14);
$black-12: rgba(0,0,0,0.12);
$black-3: rgba(0, 0, 0, 0.3);
$black-2: rgba(0, 0, 0, 0.2);

$mow_purple: #a388d4;
$mow_purple_dark: #673AB7;

$slider-background: #bebebe;
$slider-handle: #5c5c5c;

$slider-track: rgba(0, 0, 0, 0.4);
$slider-track-focus: rgba(0, 0, 0, 0.6)