// main colors
// PURPLE
$purple-light: #9984FF;
$purple-default: #6557D2;
$purple-dark: #4C42A1;
$purple-dark-26: rgba($purple-dark, 0.26);
$purple-dark-87: rgba($purple-dark, 0.87);

// CARROT
$carrot-light: #EA9143;
$carrot-default: #E67E22;
$carrot-dark: #DB6114;
// TEAL
$teal-light: #4cb4a4;
/* #59DAD9;*/
$teal-default: #008475;
/* #00A8A8;*/
$teal-dark: #006758;
/*#008475;*/
$gray: #CCCCCC;
/* toolbar color in exam mode by cheating */
$exam-red: #D32F2F;

$black: #000000;
$transparent: rgba(255,255,255,0);
$toolbar-header: #6161ff;
$toolbar-header-dark10: #4848e6;
$toolbar-header-light5: #6e6eff;
$toolbar-header-light5-dark10: #5555e6;
$toolbar-header-54: rgba(97,97,255,0.54);
$toolbar-menu-hover: #ffff00;
$tool-border: #dcdcdc;
$burger-menu-border: #cccccc;
$button-border: rgb(169, 169, 169);
$marble-border: #ccccff;
$selected-menuitem-background: #eeeeee;
$zoomBtnBckg: #525659;/*#777*/
$snackbar-background: #323232;
$popup-shadow: rgba(102,102,102,0.3); // used for dyn stylebar and preview point popup
$material-black900: #212121;
$focus-black: $material-black900;
$white-5-overlay: #F5F5F5;
$gray-background: #f9f9f9;
$dialog-text-btn-hover: #6b6b6b;

$red: rgb(255,0,0);
$red-87: rgba(255,0,0,.87);
$red-A400: #FF1744;
$red-A400-87: rgba(255, 23, 68,.87);
$error: rgb(176,0,32);
$white: rgb(255, 255, 255);
$white-25: rgba(255,255,255,0.25);
$white-30: rgba(255, 255, 255, 0.3);
$white-70: rgba(255, 255, 255, 0.7);
$white-80: rgba(255, 255, 255, 0.8);
$white-90: rgba(255, 255, 255, 0.9);
$white-95: rgba(255, 255, 255, 0.95);
$black-87: rgba(0,0,0,0.87);
$black-60: rgba(0,0,0,0.60);
$black-54: rgba(0,0,0,0.54);
$black-42: rgba(0,0,0,0.42);
$black-30: rgba(0,0,0,0.3);
$black-28: rgba(0,0,0,0.28);
$black-24: rgba(0,0,0,0.24);
$black-20: rgba(0,0,0,0.2);
$black-19: rgba(0,0,0,0.19);
$black-15: rgba(0,0,0,0.15);
$black-14: rgba(0,0,0,0.14);
$black-12: rgba(0,0,0,0.12);
$black-10: rgba(0,0,0,0.1);
$black-04: rgba(0,0,0,0.04);

$preview-border: rgba(51,51,51,.2);

$text-primary: $black-87;
$text-secondary: $black-54;

$text-light-primary: $white;
$text-light-secondary: $white-70;

$mow_purple: #a388d4;
$mow_purple_dark: #673AB7;

$slider-background: #989898;
$slider-handle: #5c5c5c;

$slider-track: rgba(0, 0, 0, 0.4);
$slider-track-focus: rgba(0, 0, 0, 0.6);

// Customizable MOW colors
$mow_primary: $purple-default !default;
$mow_primary_variant: $purple-light !default;
$mow_dark: $purple-dark !default;
$mow_light: $purple-light !default;

$mow_dark_26: rgba($mow_dark, 0.26);
$mow_dark_87: rgba($mow_dark, 0.87);

$mow_grey_button: #f5f5f5;
$mow_card_background: #fafafa;
$mow_card_background_hover: #e5e5e5;
$mow_card_divider: $black-30; 

$menu-focus-default: #ccf;

$mow_pdf_dialog_border: #999999;
$mow_pdf_left_right_hover: $mow_card_background_hover;

$mow_material_card_bgd: $mow_card_background;
$mow_white_hover: #f5f5f5;
$teal-default-hover: #3DA196;
$teal-default-20: rgba(0,132,117,0.2);
$tableview-row: rgba(216, 216, 216, 0.2);