@import 'colors';

.GeoGebraFrame {

    /* CHECKBOX COMPONENT */
    .checkbox {
        width: 18px;
        height: 18px;
        padding: 3px;
        position: relative;
        cursor: pointer;

        .background {
            width: 18px;
            height: 18px;
            box-sizing: border-box;
            border: 2px solid;
            border-radius: 2px;
            border-color: $black-54;
            background-color: transparent;
            transition: border-color 90ms cubic-bezier(0,0,.2,1) 0ms,background-color 90ms cubic-bezier(0,0,.2,1) 0ms;
         }

         .checkmark {
             position: absolute;
             left: 5px;
             top: 5px;
         }

        &.selected {
            .background {
                border-color: $mow_primary;
                background-color: $mow_primary;
            }
        }
    }
	
	/* SWITCHER COMPONENT */
	.switch {
		width: 40px;
		height: 24px;
		margin-right: 16px;
		position: relative;
		top: 7px;
		float: right;
		cursor: pointer;
				
		.track {
			content: "";
			display: inline-block;
			position: relative;
			width: 36px;
			height: 14px;
			border-radius: 15px;
			-webkit-transition: background 0.3s ease;
			transition: background 0.3s ease;
			vertical-align: middle;
		}

		.thumb {
			width: 20px;
			height: 20px;
			position: relative;
			top: -18px;
			border-radius: 50%;
			display: block;
			transition: left 0.3s ease, background 0.3s ease;
		}

		&.on {
			.track {
				background-color: #9ADAEC;
			}
			.thumb {
				left: 16px;
				background-color: #00A8D5;
			}
		}
				
		&.off {
			.track {
				background-color: #c5c5c5;
			}
			.thumb {
				left: 0px;
				background-color: #f1f1f1;
			}
		}
	}

	/* INPUT TEXT FIELD COMPONENT */
	.inputTextField {
		margin-top: 8px;
		margin-bottom: 8px;
		display: inline-block;
		min-height: 68px; 
		
		.inputLabel {
			font-size: 75%;
			color: $text-secondary;
			height: 12px;
    		line-height: 100%;
    		display: block;
		}

		&.error {
			.inputLabel {
				color: $error;
			}

			.AutoCompleteTextFieldW {
				border-bottom-color: $error;
			}
		}
	
		.textField {
			margin-top: 8px;
		}
	
		.AutoCompleteTextFieldW {
			margin-right: 16px;
			margin-bottom: 7px; // 8 - border
			border-radius: 0px;
			border: none;
			border-bottom: 1px solid $black-42;
			
			input[type="text"] {
				border: none !important;
				box-shadow: none !important;
				height: 28px; // 20px text container + 8px bottom padding
				margin: 0px;
				padding: 0px 0px 8px 0px;
			}
		}
		
		.errorLabel {
			color: $error;
			font-size: 75%;
			height: 12px;
			line-height: 100%;
		}

		&.focusState {
			.AutoCompleteTextFieldW {
				margin-bottom: 6px; // 8 - border
				border-bottom-width: 2px;
			}
		}

		&.focusState:not(.error), &.focusState:not(.error):hover {
			
			.inputLabel {
				color: $teal-default;
			}
			.AutoCompleteTextFieldW {
				border-bottom-color: $teal-default;
			}
		}
	
		&.hoverState:not(.error) {

			.inputLabel {
				color: $black-87;
			}

			.AutoCompleteTextFieldW {
				border-bottom: 2px solid $black-87;
			}
		} 	
	}

	// in case the last input field shouldn't have any bottom margin
	.noBottomMarg {
		.inputTextField {
			margin-bottom: 0px;
		}
	}

    .buttonActive {
        position: relative;

        img {
            opacity: 0.54;
        }

        &:hover {
            img {
                opacity: 0.84;
            }
        }
    }

    .buttonInactive {
        position: relative;
        cursor: default;
        img {
            opacity: 0.26;
        }

        &:hover {
            background-color: transparent;
        }
    }

    /* DROPDOWN COMPONENT */
    .dropDownSelectorContainer {
        max-width: 200px;
   }

    .dropDownSelector {
        position: relative;
        height: 64px;

        .titleLabel {
            font-size: 100%;
            width: 100%;
            height: 24px;
            padding-top: 10px;
            white-space: nowrap;
        }

        .selectedOptionLabel {
            font-size: 87.5%;
            height: 20px;
            padding-bottom: 10px;
            color: $black-60;
        }
    }

    .dropDownPopup {
        overflow-y: auto;

        .dropDownElement {
            padding-left: 24px;
            padding-right: 24px;
            line-height: 32px;
        }

        .dropDownElement:hover {
            cursor: pointer;
            background: $black-04;
        }

        .selectedDropDownElement, .selectedDropDownElement:hover {
            background: $black-12;
        }
    }

    .messagePanel {
        img {
            padding: 20px;
            margin-left: calc(50% - 76px); // (112+2*20)/2=76
            margin-bottom: 48px;
            margin-top: 88px;
            opacity: 0.54;
            background-color: $mow_white_hover;
            border-radius: 50%;
        }
        .caption {
            margin-bottom: 12px;
            color: $text-primary;
            font-size: 125%;
            line-height: 1;
            letter-spacing: 0.25px;
            vertical-align: top;
            text-align: center;
        }
        .info {
            color: $text-secondary;
            vertical-align: top;
            text-align: center;
            line-height: 1;
            letter-spacing: 0.2px;
            margin-bottom: 48px;
        }
    }

    .dialogComponent {
        z-index: 500;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0,0,0,.12);
        max-width: 500px;
        max-height: 350px;
        width: 90%;
        height: 100%;

        .popupContent {
            height: 100%;
        }

        .dialogMainPanel {
            padding: 20px 0px 0px 24px;
            height: calc(100% - 20px);

            .dialogTitle {
                height: 20px;
                font-size: 125%;
                margin-bottom: 20px;
                color: $text-primary;
            }

            .dialogContent {
                // 112px = 20px title + 20px margin + 52px button panel
                // NOTE: this needs to be adjusted according what is added to the dialog
                // (e.g. if no buttons do not add button panel height)
                height: calc(100% - 92px);
                padding-right: 24px;
            }

            .dialogBtnPanel {
                display: inline-flex;
                padding: 8px 8px 8px 24px;
                position: relative;
                float: right;
            }
        }
    }

    /** Material Design TEXT BUTTON **/
    .materialTextButton {
        display: inline-block;
        min-width: 64px;
        height: 36px;
        background: transparent;
        color: $mow_primary;
        font-size: 90%;
        letter-spacing: .04em;
        line-height: 36px;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 0px 8px;
        margin-left: 8px;
        cursor: pointer;
        transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background: $mow_card_background_hover;
        }

        .html-face {
            text-align: center;
        }

        &.disabled {
            color: $disabled-text-btn-col;

            &:hover {
                background: transparent;
                cursor: default;
            }
        }
    }

    /** Material Design CONTAINED BUTTON **/
    .materialContainedButton {
        @extend .materialTextButton;

        padding: 0px 16px;
        background-color: $mow_primary;
        color: white;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
        transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background: $mow_primary;
            box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0,0,0,.12);
        }

        &.disabled {
            background-color: $disabled-contained-btn-bg;
            color: $disabled-contained-btn-col;

            &:hover {
                cursor: default;
                background: $disabled-contained-btn-bg;
                box-shadow: none;
            }
        }
    }

    /** Material TEXT BUTTON used for dialogs negative action **/
    .dialogTextButton {
        @extend .materialTextButton;

        color: $black-54;

        &:hover {
            color: $dialog-text-btn-hover;
            background-color: $selected-menuitem-background;
        }
    }

    /** Material CONTAINED BUTTON used for dialogs positive action **/
    .dialogContainedButton {
        @extend .materialContainedButton;

        box-shadow: none;
    }
}