@import 'colors';
$duration: 0.2s;

.GeoGebraFrame {		
	
	.MaterialDialogBox {
		 	input[type="text"]:focus, 
		 	input[type="number"]:focus, 
			.GeoGebraFrame .gwt-TextBox:focus, .GeoGebraFrame select:focus,
		 	textarea:focus, .GeoGebraFrame .gwt-TextArea:focus, 
			 iframe.objectPropertiesTextEditor:focus, 
			 input[type="text"]:focus:not([readonly]), 
			 input[type="number"]:focus:not([readonly]),
		  .gwt-TextBox:focus:not([readonly]),
		 	  select:focus:not([readonly]), 
		 	 	 textarea:focus:not([readonly]), 
			 .gwt-TextArea:focus:not([readonly]), 
			 iframe.objectPropertiesTextEditor:focus:not([readonly]) {
				border: 1px $teal-default solid;
			}	
	}	

	.MaterialDialogBox {
		.gwt-Label {
			cursor: default;	
		}	
	}

	/* color chooser dialog */
	.MaterialDialogBox.ColorChooser { 
		.ColorDialog-content {
			.gwt-Label {
				margin-top: 0px;
				font-size: initial;;	
			}
			
			input[type="range"] {
				cursor: pointer;	
			}
		
			.ggbSpinner { 
				margin-right: 16px;
				border-radius: 2px;
				box-shadow: none;
			}
		
			.CustomColorPreview {
				canvas {
					width: 266px;;	
					border-radius: 2px;
				}
			
				.gwt-Label {
					font-size: 80%;
					color: $teal-default;
					cursor: default;
				}
			}
		}
	}
		
	.MaterialSymbolTablePopup {
		z-index: 501;
		background-color: $white;
		border-radius: 0px;
		padding: 16px;
	    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
   		box-shadow: 0 2px 10px rgba(0,0,0,.2);
   		
   		.SymbolTable tr {
   			cursor: pointer;	
   		}
   		
   		.SymbolTable td {
   			padding: 8px;	
   			text-align: center;
   		}
   	
   		.SymbolTable td:hover, .GeoGebraFrame .SymbolTable td.focus {
   			background: $white;
    		color: $teal-light;
   		}
	}

	/* image tool dialog */
	.MaterialDialogBox.image {
		.gwt-Label:hover {
			color: $teal-default;
		}
		
		.gwt-Label-highlighted {
			color: $teal-default;
			cursor: pointer;	
		}
	}

	/* checkbox tool dialog */
	.MaterialDialogBox.Checkbox {
		.gwt-ListBox {
			margin-right: 16px;
			width: calc(100% - 16px) !important;
		}
	
		.panelTitle {
  	  		margin-right: 16px;
    		color: $teal-default;
    		display: block;
    		cursor: default;
    		border-bottom: 1px solid $teal-light;
		}		
	}
	
	/* button tool dialog*/
	.MaterialDialogBox.buttonDialog {
		.scriptArea {
			margin-right: 16px;	
			border-radius: 2px;
			width: calc(100% - 16px) !important;
		}	
	
		.gwt-ListBox {
			margin-right: 16px;
			width: calc(100% - 16px) !important;
		}
	}

	/* recover dialog*/
	.MaterialDialogBox.RecoverAutoSavedDialog, .MaterialDialogBox.GeoGebraFileChooser {
		.infotext {
			font-size: 95%;
			margin-right: 16px;
		} 
		.buttonPanel {
   			height: 36px;
   			text-align: right;
    		padding-top: 32px;
    		padding-right: 0px;
    		padding-bottom: 8px;
    		padding-left: 0px;
    		
    		.gwt-Button,.button {
    			@extend .flatDialogBtn;
   			}
   		
   			.visibility {
   				top: 130px;
   				left: 76px;
   			 }
   			
   			.MyCanvasButton {
   				border-radius: 2px;
   				bottom: 15px;
   				left: 24px !important;
   			}
   		
   			input.gwt-TextBox {
    			opacity: 0.7;
			}
   		}
	}

	/* text tool dialog */
	.MaterialDialogBox.TextInputDialog {
		
		 .MyToggleButton {
		 	border-radius: 2px;	
		 	line-height: 24px;
    		vertical-align: middle;
    		text-align: center;
    		min-width: 24px;
    		height: 24px;
    		font-size: 90%;
    		line-height: 24px;
    		text-align: center;
    		text-decoration: none;
    		overflow: hidden;
    		vertical-align: middle;
   			box-shadow: none;
   			padding: 3px;
   			margin-right: 8px;
   			
   			img {
   				opacity: 0.54;
   			}
		 }
		
		.MyToggleButton.gwt-ToggleButton-down, .MyToggleButton.gwt-ToggleButton-down-hovering { 
			border-color: $teal-default;
		}
	
		.MyToggleButton.gwt-ToggleButton-up-hovering {
			border-color: $teal-light;
		}
		
		.textEditor {
			margin-right: 16px;	
			margin-top: 10px;
		}
	
		.gwt-DisclosurePanel {
			.textEditorAdvancedPanel.textEditorDisclosurePanelContent {
				.gwt-TabLayoutPanelTabInner {
					.gwt-Label {
						margin-top: 0px !important;
					}
				}
				
				.ggbTab { 
					top: 4px;
    				padding-top: 6px;
				}
			
				.latexPanel canvas:hover {
    				background-color: $teal-light;
    				cursor: pointer;
    			}
			}
		
			.gwt-TabLayoutPanelTab.com-google-gwt-resources-client-CommonResources-InlineBlockStyle-inlineBlock {
				height: 28px;
			}
		
			.SymbolTable td:hover, .GeoGebraFrame .SymbolTable td.focus {
   				background: $white;
    			color: $teal-default;
    		}    		
		}
	
		.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected,
			 .GeoGebraFrame .gwt-TabBar .gwt-TabBarItem-selected {
			color: $teal-default; 
		}
	
		.gwt-TabLayoutPanelTabInner:hover {
			color: $teal-light; 
		}
	}
	
	.MaterialDialogBox {
		z-index: 501;	
		background-color: $white;
		border-radius: 2px;
		padding-left: 24px;
		padding-right: 8px;
		padding-top: 24px;
		
	 /*   -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
   		box-shadow: 0 2px 10px rgba(0,0,0,.2);*/
   		box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
   		-webkit-box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
   		
   		.flatDialogBtn {
			display: inline-block;
    		position: relative;
    		min-width: 64px;
    		height: 36px;
    		border: none;
    		outline: none;
    		background: transparent;
    		color: $teal-default;
    		font-size: 90%;
    		font-weight: 500;
    		letter-spacing: .04em;
    		line-height: 36px;
    		text-align: center;
    		text-decoration: none;
    		text-transform: uppercase;
    		overflow: hidden;
    		vertical-align: middle;
    		border-radius: 2px;
    		padding: 0px 8px;
    		margin-left: 8px;
   			box-shadow: none;
   			font-family: Roboto,sans-serif;
    		font-weight: 400 !important;
    			
    		&:hover {
    			background: $black-10 !important;
    			color: $teal-dark;
    		}
    	}
   		
   		.Caption { 
   			font-size: 125%;	
   			margin-bottom: 20px;
   			color: $text-primary;
    		border: none;
    		cursor: default;
   		}
   	
   		.SymbolToggleButton:hover, .SymbolToggleButton:focus { 
			color: $teal-default;
		}
	
		.Dialog-messagePanel { 
			margin-bottom: 0px;
			
			.gwt-Label {
				margin-top: 0px;
				color: $teal-default;
			}
		}
   	
   		.coloredLabel {
   			font-size: 80%;
   			color: $teal-default;
   		}
   		
   		.gwt-RadioButton label {
    		padding-left: 8px;
		}
	
		.gwt-CheckBox label {
    		padding-left: 8px;
		}
	
		.gwt-CheckBox {
    		margin-right: 16px;
		}
	
		.gwt-ListBox {
   			border-radius: 2px;
    		box-shadow: none;
   		}	

   		input[type="text"] {
    		border: none !important;
   			box-shadow: none !important;
   			margin-bottom: 0px;
   			padding-left: 4px;
		}
	
		.gwt-Label {
   			font-size: 80%;
   			color: $text-secondary;
   			margin-top: 10px;
		}
	
		.sliderIntervalPanel { 
			margin-top: 10px;
			
			.gwt-TextBox {
				border-bottom: 1px solid $teal-default !important;
    			border-radius: 0px;
			}
			
			.gwt-Label {
    			margin-top: 0px;
			}
		
		}
   		
   		.gwt-TabBar {
   			.gwt-Label {
   				font-size: 100% !important;
			}
   			
   		}
   		
   		.gwt-TabBar .gwt-TabBarItem-selected { 
   			color: $teal-default;
   		}
   	
   		.gwt-TabPanelBottom {
   			padding: 0px;
   			select:focus {
   				border: 1px $teal-default solid;		
   			}
   		
   			.optionsPanel {
   				margin-top: 10px;
   				margin-bottom: 0px;
   				.gwt-ListBox {
   					border-radius: 2px;
    				box-shadow: none;
   				}	
   			}
   		
   			.sliderWidthPanel {
   				.AutoCompleteTextFieldW {
   					 display: block;
   					 
   					 .unitLabel {
   					 	float: right;	
   					 }
   				}
   			}
   		}
   	
   		.AutoCompleteTextFieldW {
   			margin-right: 16px;	
   			margin-bottom: 10px;
   			border-radius: 0px;
   			border: none;
   			border-bottom: 1px solid $teal-default; 
   		}
   	
   		.DialogRbPanel {
   			padding-right: 16px;	
   			margin-top: 16px;
   		}
   	
   		.sliderPanelWidget {
   			padding-right: 16px;
   			margin-top: 16px;	
   		}
   	
   		.scriptArea { 
   			padding-right: 16px;	
   		}
   	
   		.DialogButtonPanel {
   			height: 36px;
   			text-align: right;
    		padding-top: 32px;
    		padding-right: 0px;
    		padding-bottom: 8px;
    		padding-left: 0px;
    		
    		.gwt-Button, .button {
    			@extend .flatDialogBtn;
    			.html-face {
    				text-align: center;	
    			}
   			}
   		}
   	
   		.moreBtn {
   			@extend .flatDialogBtn;
   		}
   	
   		.dialogBtn {
   			@extend .flatDialogBtn;
   			float: right;
   		}   	
	}

	.MaterialDialogBox.audioDialog {
   		.mowAudioDialogContent {
   			.AutoCompleteTextFieldW {
   				margin: 8px 16px 8px 0px;	
   			}
   			
   			&.emptyState {
   				.inputLabel {
   					color: $text-secondary;
   					font-size: 75%;
   				}
   			
 				.AutoCompleteTextFieldW {
 					border-bottom: 1px solid $black-42;
 					.TextField {
 						padding: 0px;
 						margin-bottom: 8px;
 						margin-top: 0px;
 						font-size: 100%;
 						color: $text-primary;
 						&::placeholder {
 							color: $text-secondary;	
 						}
 					}
 				}
   					
   				.errorLabel {
   					color: $white;
   					font-size: 75%;
   				}  	
   			
   				&.hoverState {	
   					.inputLabel {
   						color: $black-87;
   					}
   			
 					.AutoCompleteTextFieldW {
 						margin: 8px 16px 7px 0px;	
 						border-bottom: 2px solid $black-87;
 					}
 				} 				
   			}    
   			
   			&.errorState, &.errorState:hover {
   				@extend .emptyState;
   				.inputLabel {
   					color: $red-87;
   				}
   			
 				.AutoCompleteTextFieldW {
 					margin: 8px 16px 7px 0px;	
 					border-bottom: 2px solid $red;
 				}
   					
   				.errorLabel {
   					color: $red-87;
   				}   				
   			}
   		
   			&.focusState, &.focusState:hover {
   				@extend .emptyState;
   				.inputLabel {
   					color: $mebis-teal-dark-87;
   				}
   			
 				.AutoCompleteTextFieldW {
 					margin: 8px 16px 7px 0px;	
 					border-bottom: 2px solid $mebis-teal-dark;
 				} 				
   			}		
   		}
   	
   		.DialogButtonPanel {
   			padding-top: 10px;
   			
   			.button {
   				color: $mebis-teal-dark;	
   			}
   			
   			.insertBtn.button-up-disabled {
   				opacity: 1;
   				color: $mebis-teal-dark-26;
   				
   				&:hover {
   					background: none !important;	
   				}
   			}
   		}
   	}
   
   .MaterialDialogBox.exportImgDialog {
   		.expImgContent {
   			margin-right: 16px;	
   			width: 440px;
   		}
   	
   		.rightClickHelpText {
   			margin: 0px;
   			margin-bottom: 20px;
   		}
   		
   		.imagePanel {
   			width: 100%;
			height: 190px;
			border: 1px solid $preview-border;
			box-sizing: border-box;
			border-radius: 2px 2px 0 0 ;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 110%;
			cursor: pointer;
   		}
   }
}
	
