@import 'colors';
	
.GeoGebraFrame {
	
	.MatTitleBarPanelContent {
		box-shadow:none;	
		background-color: transparent;
	}
	
	.button.flatButton.graphicsContextMenuBtn.button-up {
		margin-top: 10px;
		margin-right: 5px;	
		position: absolute;
    	right: 0px;
			
		img {
			opacity: 0.54;
		}
	}
		
	.button.flatButton.graphicsContextMenuBtn.button-up-hovering {
		@extend .button-up;
				
		img {
			opacity: 0.8;	
		}
	}

	/*dyn stylebar*/
	.matDynStyleBar {
		position: absolute;
	    border-radius: 2px;
	    padding: 8px 4px 8px 16px;
	    background-color: $white;
	    box-shadow: 0 0 2px 1px rgba(102,102,102,0.3);
	    
	    /*stylebar btn*/
	    .MyCanvasButton {
			text-align: center;
			border-radius: 2px;
			border: $tool-border solid 1px;
			background-color: $white;
			width: 24px;
			height: 24px;
			margin-left: 0px;
			margin-right: 8px;
			cursor: pointer;
			
			&:hover {
    			border: $toolbar-header-54 solid 1px;
			}
		
			&.active {
				border: $toolbar-header solid 1px;
			}
		
			&.withIcon {
				border: $tool-border solid 1px;
				
				.buttonContent {
					opacity: 0.54;	
				}
			
				&:hover {
					border: $toolbar-header-54 solid 1px;;	
				}
			}
		}
	
		.btnBold,.btnItalic {
			border-radius: 2px;
			margin-left: 0px;
   	 		margin-right: 8px;
   	 		
			img {
				opacity: 0.54;
			}	
		
			&:hover {
				border: $toolbar-header-54 solid 1px;
			}
		}
	    
	    .matDynStyleContextButton { 
			margin-right: 0px !important;
			margin-left: 0px !important;
			border: none !important;
			opacity: 0.54;
			
			&.noOpacity, &.noOpacity:hover {
				opacity: 1;	
			}
		
			&:hover {
				opacity: 1;		
			}
		
		}
	}

	/* text size popup */
	.textSizePopupPanel {
		border-radius: 2px;
		padding: 8px 0px 8px 0px;
		margin: 0px;
		
		.matSelectionTable {
    		border-collapse: separate;
			border-spacing: 0px 0px;
    			
    		.gwt-Label {
    			padding: 0px 16px 0px 16px;
    			height: 24px;
    			line-height: 24px;
    			
    			&:hover {
    				background-color: $selected-menuitem-background;
    				color: $black;
    				/*background-color: $white-90;*/
    				/*color: $toolbar-header-54;	*/
    			}
    		
    			&.selected {
    				color: $toolbar-header;
    				
    				&:hover {
    					color: $toolbar-header !important;
    				}
    			}
    		}
    	}
    
	}

	/*dyn stylebar popup panel*/
	.matPopupPanel {
		border-radius: 2px;
    	padding: 0px 8px 0px 8px;
    	background-color: $white-90;
    	box-shadow: 0 0 2px 1px $tool-border;
    	z-index: 500;	
    	min-height: 30px;
    	
    	/*slider panel*/
    	.ButtonPopupMenu .panelRow2 { 
    		padding-bottom: 8px;
    		padding-top: 8px;
    		line-height: 10px;
    		
    		/*slider label*/
    		.popupSliderLabel {
    			float: right;
    		    margin-right: 10px;
    		    cursor: default;
    		}
    		/*slider*/
    		input[type=range] {
    			padding: 5px 0;
    			margin: 0px 0px 0px 8px;
    			width: 156px;
    			cursor: pointer;
    		}
    	}
	}

	/*point/line style table*/
	.matSelectionTable {
		
			border-collapse: separate;
			border-spacing: 8px 8px;
    		
    		td {
    		    padding: 0px;
    		}	
    	
    		.gwt-Label {
    			margin: 0px;
    		}
    	
    		.gwt-Label.border {
    			border-radius: 2px;
    			
    			&:hover {
    				border: 1px solid $toolbar-header-54;
    			}
    		}
    	
    		.gwt-Label.border.selected:hover {
    			border: 1px solid $toolbar-header;
    		}
    	
    		 .gwt-Label.borderButton {
    		 	border: 1px solid;
    			border-radius: 2px;
    			height: 24px;
    			width: 24px;
    			
    			&:hover {
    				opacity: 0.65;
    			}
    			
    			&.plusButton {
    				border: $black-3 solid 1px;
    				opacity: 0.54;	
    				
    				&:hover {
    					border: 1px solid $toolbar-header;
    					background-color: $white-90;
    				}
    			}
    		 }
	}	

	.zoomPanel {
		top: auto !important;
    	left: auto !important;
    	z-index: 11;
    	
    	.zoomPanelBtn {
    		width: 36px;
    		height: 36px;
    		margin-right: 16px;
    		margin-bottom: 16px;
    		background-color: $zoomBtnBckg;
    		border-radius: 50%;
    		box-shadow: 0 1px 3px 0 $black-2, 0 1px 1px 0 $black-14, 0 2px 1px -1px $black-12;
    		transition: background-color 150ms ease 0ms;
    		
    		img {
    			padding: 9px;
    			/*opacity: 0.54;*/
    		}	
    	
    		&:hover {
    			background-color: $black;
    		}
    	}
	}

}