@import 'colors';

.EuclidianPanel{
	.flatButton {
		margin: 6px;
		padding: 6px;
		width: 24px;
		height: 24px;
		position: absolute;
		z-index: 10;
		top: 60px;
		left: 70px;
	}
	
	
	.flatButton:hover {
		crusor: hand;
		background-color: $white-30;
	}


}









