@import 'colors';
	
.GeoGebraFrame {
	
	.MatTitleBarPanelContent {
		box-shadow:none;	
		padding: 0px;
		background-color: transparent;
	}
	
	.button.flatButton.graphicsContextMenuBtn.button-up {
		margin-top: 10px;
		margin-right: 10px;	
		position: absolute;
		right: 0px;
			
		img {
			opacity: 0.54;
		}
	}
		
	.button.flatButton.graphicsContextMenuBtn.button-up-hovering {
		@extend .button-up;
				
		img {
			opacity: 0.84;	
		}
	}

	.flatButton:focus{
		outline: $focus-black 5px auto;
	}

	.gwt-MenuItem:focus {
		background: $menu-focus-default !important;
	}	
	/*dyn stylebar*/
	.matDynStyleBar {
		// popup has 500
		z-index: 499;
		position: absolute;
	    border-radius: 2px;
	    padding: 8px 4px 8px 16px;
	    background-color: $white;
	    box-shadow: 0 0 2px 1px $popup-shadow;
	    
	    /*stylebar btn*/
	    .MyCanvasButton {
			text-align: center;
			border-radius: 2px;
			border: $tool-border solid 1px;
			background-color: $white;
			width: 24px;
			height: 24px;
			margin-left: 0px;
			margin-right: 8px;
			cursor: pointer;
			
			img , .buttonContent {
				opacity: 0.7;	
			}
			
			&:hover {
    			border:$purple-default solid 1px;
			}
		
			&.active {
				border: $purple-default solid 1px;
			}
		
			&.withIcon {
				border: $tool-border solid 1px;
				
				.buttonContent {
					opacity: 0.7;	
				}
			
				&:hover {
					border: $purple-default solid 1px;;	
				}
			}
		}
	
		.btnBold,.btnItalic {
			border-radius: 2px;
			margin-left: 0px;
   	 		margin-right: 8px;
   	 		
			img {
				opacity: 0.7;
			}	
		
			&:hover, &:focus {
				border: $purple-default solid 1px;
			}
		
			&.gwt-ToggleButton-down {
				border: $purple-default solid 1px;
			}
		}
	    
	    .matDynStyleContextButton { 
			margin-right: 0px !important;
			margin-left: 0px !important;
			border: none !important;
			
			&.noOpacity, &.noOpacity:hover {
				.buttonContent.stylebarButton {
					opacity: 1 !important;	
				}
			}
		
			&:hover {
				.buttonContent.stylebarButton {
					opacity: 1 !important;		
				}
			}
		
		}
	}

	/* text size popup */
	.textSizePopupPanel {
		border-radius: 2px;
		padding: 8px 0px 8px 0px;
		margin: 0px;
		
		.matSelectionTable {
    		border-collapse: separate;
			border-spacing: 0px 0px;
    			
    		.gwt-Label {
    			padding: 0px 16px 0px 16px;
    			height: 24px;
    			line-height: 24px;
    			
    			&:hover {
    				background-color: $selected-menuitem-background;
    				color: $black;
    				/*background-color: $white-90;*/
    				/*color: $toolbar-header-54;	*/
    			}
    		
    			&.selected {
    				/*border: 1px solid $purple-default;*/
    				color: $purple-default;
    				
    				&:hover {
    					color: $purple-default !important;
    				}
    			}
    		}
    	}
    
	}

	/*dyn stylebar popup panel*/
	.matPopupPanel {
		border-radius: 2px;
    	padding: 0px 8px 0px 8px;
    	background-color: $white;
    	box-shadow: 0 0 2px 1px $tool-border;
    	z-index: 500000;	
    	min-height: 30px;
    	
    	/*slider panel*/
    	.ButtonPopupMenu .panelRow2 { 
    		padding-bottom: 8px;
    		padding-top: 8px;
    		line-height: 10px;
    		
    		/*slider label*/
    		.popupSliderLabel {
    			float: right;
    		    margin-right: 10px;
    		    cursor: default;
    		}
    		/*slider*/
    		input[type=range] {
    			padding: 5px 0;
    			margin: 0px 0px 0px 8px;
    			width: calc(100% - 40px);
    			cursor: pointer;
    		}
    		.opacityLabel {
    			display: block;
			    margin-bottom: 15px;
			    margin-left: 5px;
			    margin-top: 5px;
			    cursor: default;
    		}
    		.thicknessLabel {
    			display: block;
			    margin-bottom: 10px;
			    margin-left: 5px;
			    margin-top: 5px;
			    cursor: default;
    		}
    		.pointSizeLabel {
    			display: block;
			    margin-left: 5px;
			    margin-top: 5px;
			    cursor: default;
    		}
    		.preview{
		    	margin: 3px 0px 3px 12px;
			}
    	}
    
    	.labelPopupPanel {
    		padding: 8px 8px;
    		width: 192px;
    		
    		.panelRow {
    			height: 32px !important;
    			display: flex;
    			.gwt-Label {
    				line-height: 30px;
    				cursor: default;
				}
    			
    			.AutoCompleteTextFieldW {
    				width: 134px;
    				margin: 0px !important;
    				border-radius: 2px;	
    				
    				.TextField {
    					padding: 2px;
   						padding-left: 8px;
   						margin-bottom: 2px;
    					border: none;
    					border-bottom: 1px solid #dcdcdc;
    					background: transparent;
    					box-shadow: none;
    					border-radius: 0px !important;
    				}
    			}
    		}
    		
    		.checkMarkMenuItem {
    			cursor: pointer;
    		
    			img {
    				opacity: 0.54;
    				margin-top: -2px;
    			}	    				
    		}
    	}
	}

	/*point/line style table*/
	.matSelectionTable {
		
			border-collapse: separate;
			border-spacing: 8px 8px;
    		
    		td {
    		    padding: 0px;
    		}	
    	
    		.gwt-Label {
    			margin: 0px;
    		}
    	
    		.gwt-Label.border {
    			border-radius: 2px;
    			
    			&:hover {
    				border: 1px solid $purple-default;
    			}
    		}
    	
    		.gwt-Label.border.selected,.gwt-Label.border.selected:hover {
    			border: 1px solid $purple-default;
    		}
    	
    		 .gwt-Label.borderButton {
    		 	border: 1px solid;
    			border-radius: 2px;
    			height: 24px;
    			width: 24px;
    			
    			&:hover {
    				opacity: 0.65;
    			}
    			
    			&.plusButton {
    				border: $black-3 solid 1px;
    				opacity: 0.54;	
    				
    				&:hover {
    					opacity: 1;
    					border: 1px solid $purple-default;
    					background-color: $white-90;
    				}
    			}
    		 }
	}	

	.matPopupPanel.tealBorder {
		padding: 0px !important; 
		
   		.matSelectionTable {
   		 	.gwt-Label.border:hover,
   		 		.gwt-Label.border.selected, 
					.gwt-Label.border.selected:hover {
   		 		border: 1px solid $teal-default !important;
   		 	}
   		}
   	}

	.zoomPanel {
		position: absolute;
		z-index: 11;
		cursor: default;
		top: auto !important;
    	left: auto !important;
    	
    	.zoomPanelBtn {
    		position: relative;
    		width: 36px;
    		height: 36px;
    		margin-bottom: 8px;
    		background-color: $white;
    		/*background-color: #888;*/
    		border-radius: 50%;
    		box-shadow: 0 1px 3px 0 $black-2, 0 1px 1px 0 $black-14, 0 2px 1px -1px $black-12;
    		cursor: pointer;
    		transition: background-color 150ms ease 0ms;
    		
    		img {
    			padding: 6px;
    			opacity: 0.54;
    		}	
    	
    		&:hover {
    			/*background-color: #666;*/
    			background-color: $selected-menuitem-background;
    			
    			img {
    				opacity: 1;	
    			}
    		}
    	
    		&:focus {
    			img {
    				opacity: 1;
    				outline: $focus-black 5px auto;	
    			}	
    		}
    	}

		.zoomPanelHomeIn {
			@extend .zoomPanelBtn;
			opacity: 1;
			visibility: visible;	 
			transition: all 0.2s ease;
			}
	
		.zoomPanelHomeOut {
			@extend .zoomPanelBtn;
			cursor: default;
			opacity: 0;	
			visibility: hidden;	 
			transition: all 0.2s ease;
	
			img {
    			opacity: 0;
    		}
    	
    		&:hover, &:focus {
    			/*background-color: #666;*/
    			background-color: $selected-menuitem-background;
    			
    			img {
    				opacity: 0;	
    			}
    		}
    	
		}
	}
	.zoomPanelPosition {
    	bottom: 8px !important;
    	right: 16px !important;
    }
    .zommPanelMow {
    	margin-bottom: 8px;
    	right: 16px !important;
    }
	.zoomPanelWithPageControl {
		margin-bottom: 64px;
		right: 22px !important;
	}

	.undoRedoPanel {
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 12px;
		position: absolute;
		z-index: 10;

		.flatButton {
			display: inline-block;
		}
		
		.buttonActive {
			position: relative;
			
			img {
				opacity: 0.54;
			}
				
			&:hover {
				img {
					opacity: 0.84;
				}	
			}
		}
		
		.buttonInactive {
			position: relative;
			cursor: default;
			img {
				opacity: 0.26;
			}
		}
		
		.hideButton {
			display: none;
		}
	}
	.undoRedoPositionMow {
		top: 0px;
		left: 40px;
	}
		.fullscreen-ipad {
			position: absolute;
			top: 0px;
			left: 0px;
		}	
}