
.GeoGebraFrame {
   .evaluatorEditor {
            padding-top: 2px;
            padding-left: 2px;
            border: 1px solid green;
            width: 150px;
            min-height: 48px;
            max-height: 48px;
            overflow: hidden;
         }
}