$header_shadow: 0 2px 2px 0 $black-14, 0 1px 5px 0 $black-12, 0 3px 1px -2px $black-2;
$header_height: 64px;
$button_height: 36px;
$button_hover_transition: background-color 0.15s;

.GeoGebraFrame {

	.headerView {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: $header_height;
		z-index: 200;
		background-color: white;
		box-shadow: $header_shadow;
		
		.headerBackButton {
			cursor: pointer;
			float: left;
			width: 24px;
			height: 24px;
			padding: 12px;
			margin: 8px 12px 8px 12px;
			opacity: 0.54;
			&:hover {
				opacity: 0.87;
			}
		}
		
		.headerCaption {
			font-size: 125%;
			color: $text-primary;
			letter-spacing: 0.25px;
			margin: 22px 0px;
		}
	}
}
