@import 'colors';

$header_shadow:
    0 4px 5px 0 $black-14,
    0 1px 10px 0 $black-12,
    0 2px 4px -1px $black-20;
$header_height: 64px;
$small_header_height: 48px;
$button_height: 36px;
$button_hover_transition: background-color 0.15s;

.GeoGebraFrame {

	.headerView {
	    height: $header_height;
	    line-height: $header_height;
	    position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		background-color: white;
		box-shadow: $header_shadow;
		
		.headerBackButton {
			cursor: pointer;
			float: left;
			width: 24px;
			height: 24px;
			opacity: 0.54;
			padding: 0px 12px;
			margin: 0px 12px;
			display: inline-block;
			vertical-align: middle;
			&:hover {
				opacity: 0.87;
			}
			.gwt-Image {
			    vertical-align: middle;
			}
		}
		.headerCaption {
            display: inline-block;
        	font-size: 125%;
        	vertical-align: middle;
        	color: $text-primary;
        	letter-spacing: 0.25px;
        }
        > .headerCaption:first-child {
            margin-left: 16px;
        }
	}

	%compactHeaderViewShared {
        .headerBackButton {
            padding: 0px 8px;
            margin: 0px 4px;
        }
        .headerCaption {
            margin: 0px;
        }
    }

	.smallHeaderView {
        @extend %compactHeaderViewShared;
    	height: $small_header_height;
        line-height: $small_header_height;
        .headerBackButton {
            margin-left: 8px;
            margin-right: 24px;
        }
    }

    .droppedHeaderView {
        box-shadow: none;
    }

    .compactHeaderView {
        @extend %compactHeaderViewShared;
        .headerCaption {
            font-size: 112.5%;
        }
        .headerBackButton {
            margin: 0px 8px;
        }
    }
}
