.GeoGebraFrame {
	.cardInfo {
		width: 100%;
		height: 44px;
		border-radius: 0 0 2px 2px;
		background-color: $mow_card_background;
		box-sizing: border-box;
		display: flex;

		.cardTitle {
			line-height: 28px;
			font-size: 100%;
			height: 28px;
			width: 154px;
			padding: 8px 30px 8px 16px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: block;
			color: $text-primary;
		}

		.cardAuthor {
			font-size: 87.5%;
			color: $text-secondary;
			line-height: 20px;
			letter-spacing: 0.25px;
			padding: 6px 0px 12px 16px;
			text-overflow: ellipsis;
			position: absolute;
			font-weight: 400;
			top: 48px;
			overflow: hidden;
			white-space: nowrap;
			width: 178px;
		}
			}
}