@import 'colors';
@import 'z-index';

.GeoGebraFrame {

	&.appletStyle {
		overflow: hidden;
		box-sizing: border-box;
	}

	div[data-title]:after,
	button[data-title]:after {
		opacity: 0;
		content: "";
	}

	div[data-title]:hover:after,
	button[data-title]:hover:after {
		transition: opacity 0s linear 1s;
		content: attr(data-title);
		font-size: 65%;
		white-space: nowrap; 
		position: absolute;
		top: 30px;
		left: -8px;
		height: 22px;
		line-height: 21px !important;
		padding-left: 8px !important;
		padding-right: 8px !important;
		vertical-align: middle;
		border-radius: 2px;
		background: #616161;
		color: white;
		opacity: 0.9;
		z-index: $z-snackbar;
	} 

	.gwt-SplitLayoutPanel>div {
		/*overflow: hidden !important;*/
	}

	.hide-Dragger {

		.draggerParent {
			overflow-x: hidden !important;
		}

		.gwt-SplitLayoutPanel-HDragger {
			border-left: 1px solid #ccc;
			z-index: $z-on-top-of-graphics; /* for MOW double canvas */
			/* display: none; */
			width: 0px !important;
			cursor: e-resize;
			border-right: none;
			box-shadow: inset 5px 3px 8px rgba(0,0,0,0.2);
			background-color: transparent;
			padding-right: 8px;
		}

		.gwt-SplitLayoutPanel-VDragger {
			border: none;
			box-shadow: 2px -1px 8px 4px rgba(0,0,0,0.2);
			height: 0px !important;
			top: 9px !important;
		}
	}

	.moveUpDragger {

		div {
			overflow: visible !important;
		}

		.gwt-SplitLayoutPanel-VDragger {
			border: none;
			box-shadow: 2px -1px 8px 4px rgba(0,0,0,0.4);
			height: 0px !important;
			top: 9px !important;
		}
	}

	.hiddenHDraggerRightPanel {
		left: -8px !important;
		/*top: 9px !important;*/
	}

	.hidden, .temporarilyHidden {
	 	display: none;
	 }

	.menu {
		position: absolute;
		top: 4px;
		left: 0px;
	}

	.menu:hover, .menu:focus {
		img {
			opacity: 1.0;
		}
	}

	.flatButton {
		margin: 6px;
		padding: 6px;
		width: 24px;
		height: 24px;
		cursor: pointer;

		img {
			opacity: 0.85;
		}
		z-index: $z-flat-button;
	}
	.tabButton {
		position: relative;
		margin: 6px;
		padding: 6px;
		width: 24px;
		height: 24px;
		min-width: 24px;
		cursor: pointer;
		img {
			opacity: 0.85;
		}
	}

	.tabButton:hover, .tabButton:focus {

		img {
			opacity: 1.0 !important;
		}
	}

	.textWrap{
		white-space: normal;
	}

	.advanced-ListPopupPanel {
		z-index: $z-dialog;
		background: $white;
		border: 1px solid #dcdcdc;
		cursor: pointer;
		border-radius: 2px;
		padding: 0px;
		box-shadow: none;

		.item:hover {
			color: $teal-default;
			background: $white;
		}

		.gwt-Label {
			position: relative;
			left: 8px;
		}
	}

	.verticalScroll {
		overflow-y: auto;
	}

	.mowColorPlusButton img {
		padding: 3px;
	}

	.matDynStyleBar {
		will-change: transform;
	}
 }

.screenReaderStyle {
	position: fixed;
	bottom: 20px;
	width: 1px;
	height: 1px;
	padding: 0;
	outline-width: 0;
	overflow: hidden;
	margin: 0;
	border-width: 0;
	clip: rect(0 0 0 0);
}