@import 'colors';

.GeoGebraFrame {
	.hide-HDragger {
		
		.gwt-SplitLayoutPanel-HDragger {
			display: none;
		}
	}
	
	.hiddenHDraggerRightPanel {
		left: -8px !important;
	}
	
	
	.hide-VDragger {
		
		.gwt-SplitLayoutPanel-VDragger {
			display: none;
		}
	}

	.hidden {
	 	display: none;
	 }				
	 
	.menu {
		position: absolute;
		top: 4px;
		left: 0px;
		z-index: 99999;
	}
	
	.menu:hover {
			background-color: $white-30;
	}
	
	.flatButton {
		margin: 6px;
		padding: 6px;
		width: 24px;
		height: 24px;
		cursor: pointer;
	}
	
	.undoRedoPanel {
		padding-top: 4px;
		position: absolute;
		z-index: 10;

		.flatButton {
			display: inline-block;
		}
		
		.buttonActive {
			opacity: 0.54;
		}
		
		.buttonInactive {
			opacity: 0.26;
		}
		
		.hideButton {
			display: none;
		}
		

	}
	
  }
  
 