@import 'colors';

.GeoGebraFrame {
	.hide-HDragger {
		
		.gwt-SplitLayoutPanel-HDragger {
			display: none;
		}
	}
	
	.hide-VDragger {
		
		.gwt-SplitLayoutPanel-VDragger {
			display: none;
		}
	}

	.hidden {
	 	display: none;
	 }				
	 
	.menu {
		position: absolute;
		top: 12px;
		left: 12px;
		padding-top: 4px;
		padding-top: 4px;
		z-index: 99999;
	}
	
	.menu:hover {
			cursor: hand;
			background-color: $white-30;
	}
	
	.undoRedoPanel {
		margin: 4px;
		position: absolute;
		z-index: 10;

		.flatButton {
			margin: 6px 6px 6px 6px;
			padding: 6px;
			width: 24px;
			height: 24px;
			display: inline-block;
			cursor: pointer;
		}

	}
	
  }
  
 