@import 'colors';
@import 'z-index';

.GeoGebraFrame{
	$toolbarWidth: 600px;
	$toolbarHeight: 56px;
	$toolbarPanelHeight: 212px;

	$mowsubmenu-transition: bottom 0.2s cubic-bezier(0.4, 0, 1, 1);

	.showMowSubmenu {
		transition: $mowsubmenu-transition;
	}

	.hideMowSubmenu {
		transition: $mowsubmenu-transition;
	}

	.showMowSubmenu.narrowscreen {
		bottom: $toolbarPanelHeight !important;
	}

	.hideMowSubmenu.narrowscreen {
		bottom: $toolbarHeight !important;
	}

	.toolbarMow {
		will-change: transform;
		bottom: 212px;
		position: relative;
		width: $toolbarWidth;
		z-index: $z_mow_toolbar;
		margin: 0px auto;
		box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);

		.mowSubMenu {
			width: calc(100% /3);
			overflow: hidden;
		}

		.headerMow {
			background-color: $mow_primary;

			.content {
				height: $toolbarHeight;

				.button {
					position: relative;
					&:hover img{
						opacity: 1;
					}
				}
				.center {
					position: absolute;
					top: 0px;
					margin: 4px auto;
					display: inline-flex;
					left: calc(50% - 108px);

					.indicator {
						width: 36px;
						height: 3px;
						background-color: white;
						vertical-align: bottom;
						position: relative;
						bottom: 10px;
						display: inline-table !important;
						top: 40px;
						transition: all 0.3s ease;
						left: 50%;
						opacity: 0.85;
					}
				}

				.center.indicatorLeft {
					.indicator {
						transform: translateX(50%) translateX(-66px);
					}
				}
				.center.indicatorCenter {
					.indicator {
						transform: translateX(50%) translateX(-18px);
					}
				}
				.center.indicatorRight {
					.indicator {
						transform: translateX(50%) translateX(30px);
					}
				}

				.openCloseBtn {
					float: right;
					margin: 10px 6px;
				}
			}
		}

		.toolbarMowPanel {
			overflow: hidden;

			.keyboardFocus:focus {
				outline: $focus-black 5px auto;
			}

			.mowSubmenuScrollPanel {
				background-color: white;
				height: 156px;
				z-index: $z_mow_toolbar_panel;
				width: 300%;
				position: relative;
				display: flex;
				top: 0px;

				&.slideLeft {
					left: 0px !important;
					transition: left 0.3s ease;
				}
				&.slideCenter {
					left: -100% !important;
			   		transition: left 0.3s ease;
				}
				&.slideRight {
					left: -200% !important;
			   		transition: left 0.3s ease;
				}

				.mowSubMenuContent {
					width: 100%;
					height: 100%;
					background-color: $white;
				}

				.panelRow {
					padding: 0px;
				}

				.penSubMenu {
	   				padding: 8px 10px 3px 8px;
					width: 582px;

					.penPanel {
						width: 160px;
					}

					.colorPanel {
						position: absolute;
						left: 160px;
						margin: 0px;
						bottom: 84px;

						.mowColorButton {
							 width: 32px;
							 height: 32px;
							 border-radius: 2px;
							 margin: 6px;
							 cursor: pointer;

							&:hover:not(.disabled) {
								opacity: 0.65;
							}

							&.mowColorButton-selected {
								width: 38px;
								height: 38px;
								margin: 3px !important;
								border-radius: 2px;
							}
							&.disabled, .disabled:hover {
								opacity: 0.3;
								img {
									opacity: 0.3;
								}
								cursor: default;
							}
						}

						.mowColorPlusButton {
							 width: 30px;
							 height: 30px;
							 border: 1px solid $tool-border !important;
							 img {
							 	opacity: 0.54;
							 }

							 &:hover:not(.disabled) {
							 	img {
							 		opacity: 1;
							 	}
								border: 1px solid $mow_primary !important;
							 }
						}
					}

					.sizePanel {
						position: absolute;
						left: 180px;
						top: 92px;

						.mowOptionsSlider {
							.preview {
								position: absolute;
								display: inline-block;
								padding-left: 30px;
								top: -2px;
							}

							.gwt-Label {
								display: none;
							}

							&[disabled = true]{
								opacity: 0.3;
								input[type=range]::-webkit-slider-thumb:hover {
									cursor: default !important;
								}
							}
						}
					}
				}

			 	.toolsSubMenu, .mediaSubMenu {
			 		.panelRow {
						padding: 0px;
					}
			 		.groupPanel {
						height: 144px;
						display: block;
						margin: 8px auto 4px auto;
						padding: 0px;

						.toolButton {
							display: inline-block;
							vertical-align: bottom;
							margin: 0px 10px !important;
						 }
					}
			 	}
			}
		}
	}

	.showMowToolbarPanel {
		bottom: $toolbarPanelHeight;
		transition: $mowsubmenu-transition;
	}
	.hideMowToolbarPanel {
		bottom: $toolbarHeight;
		transition: $mowsubmenu-transition;
	}

	.toolButton {
		display: inline-block;
		margin: 0px !important;
		border-radius: 4px;
		height: 72px;
		cursor: pointer;

		img {
			padding: 8px 28px;
			opacity: 0.54;
		}

		&.keyboardFocus:focus {
			outline: $focus-black 5px auto;
		}

		.gwt-Label {
			color: $text-secondary;
			font-size: 12px;
			margin: 0px !important;
			width: 80px;
			max-height: 28px;
			text-align: center;
			vertical-align: top;
			line-height: 14px;
			padding-bottom: 4px;
			position: relative;
			top: -4px;
			overflow: hidden;
		}

		&:hover {
			img {
				opacity: 1;
			}
			.gwt-Label {
				color: $text-primary;
			}
		}
	}

	.toolButton[selected=true]{
		img {
			opacity: 1;
		}
		.gwt-Label {
			color: $mow_primary;
		}
	}
}