@import 'colors';

.GeoGebraFrame{
	$toolbarWidth: 600px;
	$toolbarHeight: 56px;
	$toolbarPanelHeight: 212px;
	$z_mow_toolbar: 51;
	$z_mow_toolbar_panel: 50;
	$z_mow_toolbar_slider: 54;
	$mowsubmenu-transition: bottom 0.2s cubic-bezier(0.4, 0, 1, 1);
	
	.toolbarMow {
	    bottom: 212px;
	    position: relative;
	    width: $toolbarWidth;
	    z-index: $z_mow_toolbar;
	    margin: 0px auto;
	        box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);

		.headerMow {
		    background-color: $mow_toolbar;
		    
		    .content {
		    	height: $toolbarHeight; 	
		    	.flatButton:focus {
		    		outline: none;
		    	}
		    	.button {
				    position: relative;	
				    &:hover img{
						opacity: 1;
					}	
				}	    	
		    	.center {
		    		position: absolute;
				    top: 0px;
				    margin: 4px auto;
				    display: inline-flex;
				    left: calc(50% - 108px);
				    
				    .indicator {
				    	width: 36px;
					    height: 3px;
					    background-color: white;
					    vertical-align: bottom;
					    position: relative;
					    bottom: 10px;
					    display: inline-table !important;
					    top: 40px;
					    transition: all 0.3s ease;
					    left: 50%;
					    opacity: 0.85;	
				    }
		    	}
		    
				.center.indicatorLeft {
					.indicator {
						transform: translate(calc(50% - 66px),0);
					}	
				}
				.center.indicatorCenter {
					.indicator {
						transform: translate(calc(50% - 18px),0);
					}	
				}
				.center.indicatorRight {
					.indicator {
						transform: translate(calc(50% + 30px),0);
					}	
				}		    
		    
		    	.openCloseBtn {
	    			float: right;	
	    			margin: 10px 6px;
		    	}
		    }
		}
	
		.toolbarMowPanel {
			overflow: hidden;
			
			.mowSubmenuScrollPanel {
				background-color: white;
				height: 156px;
				z-index: $z_mow_toolbar_panel;
				width: 300%;
				position: relative;
    			top: 0px;
    			
    			&.slideLeft {
					left: 0px !important;
			    	transition: left 0.3s ease;
				}
				&.slideCenter {
					left: -100% !important;
			   		transition: left 0.3s ease;
				}
				&.slideRight {
					left: -200% !important;
			   		transition: left 0.3s ease;
				}
			
				.mowSubMenuContent {
					width: 100%;
					height: 100%;
					background-color: $white;
				}
				
				.panelRow {
					padding: 0px;		
				}
			
				.penSubMenu {
	   				padding: 8px 10px 3px 8px;
	    			width: 582px;
	
					.penPanel {
						width: 144px;
					}
				
					.colorPanel {
					    position: absolute;
					    left: 142px;
					    margin: 0px;
					    bottom: 84px;
					    
					    .mowColorButton {
							 width: 32px;
							 height: 32px;
							 border-radius: 2px;
							 margin: 6px;
							 cursor: pointer;
							 
							 &:hover {
							 	opacity: 0.65;
							 }
							
							&.mowColorButton-selected {
								width: 38px;
								height: 38px;
								margin: 3px !important;
								border-radius: 2px;
							}
						}
					
						.mowColorPlusButton {
							 width: 30px;
							 height: 30px;
							 border: 1px solid $tool-border !important;
							 img {
							 	opacity: 0.54;	
							 }	
							 
							 &:hover {
							 	img {
							 		opacity: 1;
							 	}
					    		border: 1px solid $mow_highlight !important;
							 }
						}
					}
				
					.sizePanel {
					    position: absolute;
					    left: 174px;
					    top: 92px;
					    
					    .mowOptionsSlider { 
							.preview {
								position: absolute;
								display: inline-block;
								padding-left: 30px;
								top: -2px;
							} 
							.gwt-Label {
								display: none;
							} 
							.ui-slider-horizontal {
								height: 5px;
								background-color: $slider-background;
								box-shadow: none;
								cursor: pointer;
							}
							.ui-slider-handle,
							.ui-slider-handle.ui-state-hover,
					    	.ui-slider-handle.ui-state-active,
					    	.ui-slider-handle.ui-state-focus  {
						        cursor: pointer;
						        position: absolute;
						        top: -5px !important;
						        left: 0%;
						        width: 15px !important;
						        height: 15px !important;
						        margin-left: -8px !important;
						        border-radius: 50% !important;
						        border: none !important;
						        box-shadow: none !important;
						        transition: all .2s ease;
						        user-select: none;
						        z-index: $z_mow_toolbar_slider;
						        
						        span{
						        	border: none !important;
						        }
					    	}
					    	&[disabled = true]{
					    		opacity: 0.3;
					    		.ui-slider-horizontal, .ui-slider-handle{
					    			cursor: default;
					    		}
					    	}
					    }
					}
				
					.disabled, .disabled:hover {
						opacity: 0.3;
						img {
							opacity: 0.3;
						}
						cursor: default;
					}
				}
		
			 	.toolsSubMenu, .mediaSubMenu {
			 		.panelRow {
						padding: 0px;
					}
			 		.groupPanel {
					    height: 144px;
					    display: block;
			    		margin: 8px auto 4px auto;	
			    		padding: 0px;
			    			    
					    .toolButton {
					    	display: inline-block;	
					    	vertical-align: bottom;
						    margin: 0px 20px !important;
						 }
					}	
			 	}
			}
		}
	}

	.showMowToolbarPanel { 
	    bottom: $toolbarPanelHeight;
	    transition: $mowsubmenu-transition;
	} 
	.hideMowToolbarPanel { 
	    bottom: $toolbarHeight;
	    transition: $mowsubmenu-transition;
	} 

	.toolButton {
		margin: 0px !important;
	    border-radius: 4px;
	    height: 72px;
	    margin-right: 8px !important;	
	    
		img {
			padding: 8px 20px;		
		    opacity: 0.54;	
		}
	
		.gwt-Label {
			color: $text-secondary;	
			font-size: 12px;
		    margin: 0px !important;
		    width: 64px;
		    min-height: 28px;
		    height: fit-content;
		    text-align: center;
		    vertical-align: top;
		    line-height: 14px;
		    padding-bottom: 4px;
		    position: relative;
    		top: -4px;
		}
	
		&:hover {
			img {
				opacity: 1;	
			} 	
			.gwt-Label {
				color: $text-primary;	
			}			
		} 
	}

	.toolButton[selected=true]{
		img {
			opacity: 1;	
		} 
		.gwt-Label {
			color: $mebis-teal;	
		}
	}
}


