@import 'colors';

.GeoGebraFrame{
	$toolbarWidth: 600px;
	$toolbarHeight: 56px;
	$z_mow_toolbar: 51;
	$z_mow_toolbar_panel: 50;
	
	.toolbarMow {
	    bottom: 300px;
	    position: relative;
	    width: $toolbarWidth;
	    z-index: $z_mow_toolbar;
	    margin: 0px auto;

		.headerMow {
		    background-color: $mow_toolbar;
		    
		    .content {
		    	height: $toolbarHeight; 	
		    	.flatButton:focus {
		    		outline: none;
		    	}
		    	.button {
				    position: relative;	
				    &:hover img{
						opacity: 1;
					}	
				}	    	
		    	.center {
		    		position: absolute;
				    top: 0px;
				    margin: 4px auto;
				    display: inline-flex;
				    left: calc(50% - 108px);
				    
				    .indicator {
				    	width: 36px;
					    height: 3px;
					    background-color: white;
					    vertical-align: bottom;
					    position: relative;
					    bottom: 10px;
					    display: inline-table !important;
					    top: 40px;
					    transition: all 0.3s ease;
					    left: 50%;
					    opacity: 0.85;	
				    }
		    	}
		    
				.center.indicatorLeft {
					.indicator {
						transform: translate(calc(50% - 66px),0);
					}	
				}
				.center.indicatorCenter {
					.indicator {
						transform: translate(calc(50% - 18px),0);
					}	
				}
				.center.indicatorRight {
					.indicator {
						transform: translate(calc(50% + 30px),0);
					}	
				}		    
		    
		    	.openCloseBtn {
	    			float: right;	
	    			margin: 10px 6px;
		    	}
		    }
		}
	
		.toolbarMowPanel {
			background-color: lightgrey;
			height: 245px;
			z-index: $z_mow_toolbar_panel;
		}
	}
}


