@import 'colors';

.GeoGebraFrame{

/*****************
*   TOOLBAR
******************/	
	
	.mowToolbar {
		position: relative;
		height: 40px;
		/** explicit non-transparent to hide EV content */
		background-color: #fff;
		
		border-radius: 2px;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
  		padding: 5px 0px 5px 0px;
	    
	    img {
			opacity: 0.6;
		}
		
		.left {
			position: absolute;
			top: 3px;
			float: left;
			padding-left: 10px;
		} 
		.middle {
			position: absolute;
			top: 3px;
			left: 45%; 
		} 
		.right {
			top: 3px;
			float: right;
			padding-right: 5px;
		} 
	}
	.animateBaseToDouble { 
	    animation-name: animBaseToDouble;
	    animation-duration: 0.2s;
	    bottom: 172px;
	} 
	.animateDoubleToBase { 
	    animation-name: animDoubleToBase;
	    animation-duration: 0.2s;
	    bottom: 50px;
	} 
	
	@keyframes animBaseToDouble {
		0% {bottom: 50px;}
		100% {bottom: 172px;}
	}
	@keyframes animDoubleToBase {
		0% {bottom: 172px;}
		100% {bottom: 50px;}
	}
	
	.BigScreen {
		width: 700px;
	} 
	.SmallScreen {
		width: 100%;
	} 
	
		
	.opacityFixForOldIcons {
		opacity: 1 !important;
	}
	
	.mowPanelButton {
		/*opacity: 0.6;*/
	}	
	.mowPanelButton :hover {
		opacity: 0.8;
	}
	
	.mowToolButton {
	  /*  width: 34px;
	    height: 34px;*/
	    padding: 3px;
	    margin: 4px !important;
		float: left;
		
		&[selected = true] {
			border-radius: 2px;
			border: 2px solid $mow_purple;
			margin: 2px !important;
			}
	}
	
	
	
	.mowSubMenu {
		position: absolute;
		top: 50px;
		height: 120px;
		width: 100%;
		/*padding-top: 10px;*/
		border-top: 1px solid #e0e0e0;
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
	}
	
	.mowSubMenuContent {
		width: 380px;
		padding-left: 10px;
		padding-top: 5px;
		/*height: 65px;*/
		background-color: #fff;
	}
	
	.penSubMenu {
		.mowSubMenuContent {
			width: 690px;
			panelRow {
				top: -2px;
			}
		}
		.penPanel {
			width: 100px;
			margin-top: 1px;	
		}
		.colorPanel {
			position: absolute;
			left: 30%; 
			top: 5px;
		} 
		.plusButton {
			text-align: center;
			font-size: larger;
		}
		.sizePanel {
			position: absolute;
			left: 35%; 
	    	top: 60px;
	    	
		}
		.disabled {
			border-color: rgb(111,111,111);
			opacity: 0.3;
			cursor: default;
		}
	}
	
	.toolsSubMenu {
		position: absolute;
		
		.mowSubMenuContent {
			width: 380px;
			height: 117px;
			top: -3px;
			overflow: hidden;
			overflow-x: scroll;
			overflow-y: hidden !important;
			border-right: 2px solid #e0e0e0;
			
			.panelRow {
				position: absolute;    
				top: -2px;
				width: 1750px;
			}	
		}
		.groupPanel {
			padding-right: 10px;
		}
	}
	
	.mediaSubMenu {
		.mowSubMenuContent {
			position: absolute;
			width: 380px;
			height: 115px;
			padding-top: 6px;
   			top: -3px;
			border-right: 2px solid #e0e0e0;
			
			panelRow {
				margin-top: 3px;
			}
		}	
	}
	.mowColorButton {
		 width: 28px;
		 height: 28px;
		 border-radius: 2px;
	}
	.mowColorButton-selected {
		width: 34px;
		height: 34px;
		border-radius: 2px;
	}
	.mowColorPlusButton {
		 border: 1px solid #666666;
		 text-align: center;
		 font-size: larger;
	}
	.mowColorPlusButton  div {
	 	margin-top: 3px;	 
	}
	

	.optionsSlider { 
		.preview {
			position: absolute;
			display: inline-block;
			padding-left: 30px;
			top: -2px;
		} 
		.gwt-Label {
			padding-left: 15px;
			display: none !important;
		} 
		.ui-slider-horizontal {
			height: 4px;
			background-color: $slider-background;
		}
		.ui-slider-handle {
	        cursor: pointer;
	        position: absolute;
	        top: -5.5px;
	        left: 0%;
	        width: 15px;
	        height: 15px;
	        margin-left: -8px;
	        border-radius: 50%;
	        border: 2px solid $slider-handle;
	        transition: all .2s ease;
	        user-select: none;
	        z-index: 2;
    	}
    	.ui-slider-handle:active { 
    		box-shadow: 0 0 0 10px rgba($mow_purple,.26); 
    	}
	}
	
/*****************
*   INFOPANEL
******************/	
		
	.mowSubMenuInfo {
		position: absolute;
		top: 10px;
		width: 290px;
		img {
			margin-top: 5px;
			margin-left: 0px;
		}
	}
	
	.mowInfoLabel {
		position: absolute;
		padding-left: 50px !important;
		padding-top: 5px;
		padding-right: 30px;
		max-width: 210px;
		b {
			font-weight: bold !important;
		}
	}
		
	.mowQuestionMark {
		position: absolute;
		top: 10px;
	    right: 0px;
		width: 24px;
		height:24px;
		cursor: pointer;
		}
	
	
	
/*****************
*   STYLEBAR
******************/	
	
	.mowColorPopup input[type="range"]{
		width: 130px;
	    margin: 0 0 0 4px;
		}	
	.mowColorPopup .popupSliderLabel{
		margin-right: 3px;
		padding-top: 2px;
	}
	
	.mowLinePopup .preview{
		    margin: 3px 0px 3px 12px;
	}
	.mowLinePopup input[type="range"]{
		width: 130px;
	    margin: 0 0 0 4px;
	}
	
	.mowLinePopup .popupSliderLabel{
		margin-right: 0px;
	}

	.mowColorPopup .SelectionTable .gwt-Label.border.selected, 
	.mowColorPopup .SelectionTable .gwt-Label.border:hover,
	.mowColorPopup .SelectionTable .gwt-Label.border:active,
	.mowStylePopup .SelectionTable .gwt-Label.border.selected,
	.mowStylePopup .SelectionTable .gwt-Label.border:hover,	
	.mowStylePopup .SelectionTable .gwt-Label.border:active{	
		background-color: transparent !important;
		border: 2px solid $mow_purple;
		padding: 2px;
	}
	
/*****************
*   BURGER MENU
******************/

	.mowOpenMenuButton {
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 99999;
	}
	.mowMenubar {
		  position: absolute;
		  width: 100%;
	  	  top: 45px;
	  	  background-color: #fff !important;
	  	  
	  	  .menuPanel {
			width: 267px !important;
			border: 1px solid #DCDCDC;
		}
	}
	.subMenuRightSidePopup {
		box-shadow: none;
		padding: 0px;
		border-radius:0px;
		left: 280px;
	}
	.subMenuRightSide {
		left: -15px;
		
		.arrowSubmenu {
			position: absolute;
			top: 0px;
			left: -15px;
		}
	}
}


