.GeoGebraFrame {
	.providers {
		width: 70px;
		float: right;
		padding-left: 2px;
	}

	.providers .button {
		width: 50px;
		height: 50px;
		padding: 10px;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		border: none;
		background: none;
		position: relative;
		cursor: pointer;
	}

	.providers .button.selected {
		background-image: -webkit-linear-gradient(left, #EDEDED, #FAFAFA);
		background-image: -moz-linear-gradient(left, #EDEDED, #FAFAFA);
		background-image: -ms-linear-gradient(left, #EDEDED, #FAFAFA);
		background-image: -o-linear-gradient(left, #EDEDED, #FAFAFA);
		background-image: linear-gradient(left, #EDEDED, #FAFAFA);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,
			startColorstr='#EDEDED', endColorstr='#FAFAFA' );
		zoom: 1;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px
			rgba(0, 0, 0, 0.05);
	}

	/* +++ BrowseGUI CONTENT +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
	
	.browsegui {
		background-color: white;
	}

	/* to avoid scrollbars on tablets and mac */
	.browsegui > div:nth-child(1), .browsegui > div:nth-child(1) > div,
	.languageGUI > div:nth-child(1), .languageGUI > div:nth-child(1) > div {
		overflow: hidden !important;
	}

	.searchDiv {
		margin: 15px 10px;
		position: relative;
		float: left;
	}
	
	.searchDiv .searchButton {
		position: absolute;
		top: 6px;
		left: 6px;
		z-index: 10;
		cursor: pointer;
	}
	
	.searchDiv input.gwt-TextBox {
		padding-left: 35px;
		padding-right: 35px;
		z-index: 5;
		color: #999999;
		width: 100%;
	}
	
	.searchDiv .cancelButton {
		z-index: 10;
		position: absolute;
		top: 8px;
		right: 8px;
		cursor: pointer;
	}

	/* ++++++  MaterialListPanel   ++++++++ */
	.materialListPanel {
		padding: 20px;
		overflow-y: scroll;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-shadow: 0px 0px 2px 1px rgba(102, 102, 102, 0.3);
		background-color: white;
	}

	.ggbChapterName{
		clear:both;
		font-size:30px;
		padding-bottom:10px;
	}

	.materialListElement {
		width: 182px;
		height: 250px;
		margin-right: 15px;
		margin-bottom: 15px;
		float: left;
		position: relative;
	}

	.materialElementContent {
		position: relative;
	}
	
	.materialListElement .fileImage {
		width: 170px;
		height: 170px;
		padding: 5px;
		overflow: hidden;
		border-radius: 5px;
		border: 1px solid #CCCCCC;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	}
	
	.materialListElement .fileImage .background {
		width: 170px;
		height: 170px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}
	
	.materialListElement .infoPanel .sharedPanel {
		font-size: 80%;
		padding-bottom: 5px;
	}
	
	
	
	/** default style of material **/
	.materialListElement.default {
		cursor: pointer;
	}
	
	.materialListElement.default:hover .fileImage {
		border-color: #6161FF;
	}
	
	.materialListElement .infoPanel .fileTitle {
		max-height: 40px;
		overflow: hidden;
		padding-top: 7px;
		word-wrap: break-word;
	}
	
	/** Material is selected **/
	.materialListElement.selected .materialElementContent {
		border-radius: 10px;
		border: 1px solid #CCCCCC;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		cursor: default;
		padding: 15px;
		z-index: 100;
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
		position: absolute;
		top: -16px;
		left: -16px;
	}
	
	.materialListElement.selected .infoPanel .fileTitle {
		max-height: 70px;
	}
	
	.materialListElement.selected .infoPanel .renameBox {
		margin-left: -5px;
		width: 192px;
		margin-right: -5px;
		margin-top: 2px;
	}
	
	.materialListElement.selected .fileImage {
		border-color: #6161FF;
		cursor: pointer;
	}
	
	.materialListElement.selected .infoPanel .button {
		cursor: pointer;
		padding: 2px 0px 2px 0px;
	}
	

	.Tablet .materialListElement.selected .infoPanel .button {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.materialListElement.default .infoPanel .Separator {
		display: none;
	}
	
	.materialListElement .infoPanel .Separator {
		display: none;
	}
	.materialListElement.selected .infoPanel .Separator {
		margin-bottom: 5px;
		display: block;
	}
	
	.materialListElement .infoPanel .button:hover,
	.materialListElement .infoPanel .button:active {
		background-color: #CCCCFF;
	}
	
	.materialListElement .button .gwt-Image {
		vertical-align: middle;
		display: inline-block;
		margin-right: 5px;
	}
	
	.materialListElement .infoPanel.detailed .button .gwt-Label {
		display: inline-block;
		vertical-align: middle;
	}
	 
	.materialListElement.selected .infoPanel.detailed .deleteActive {
		color: #6161FF;
	}
	
	.materialListElement.selected .infoPanel.detailed .confirmDelete {
		margin-top: 5px;
	}
	
	.materialListElement.selected .infoPanel.detailed .confirmDelete .button {
		text-align: center;
		width: 80%;
		margin-bottom: 5px;
		padding: 4px 14px;
	}
	
	.materialListElement .cancelButton {
		float: right;
	}
	
	.materialListElement .deleteButton {
		float: left;
	}
	
	/** Material is unselected **/
	.materialListElement.unselected {
		opacity: 0.2;
		filter: alpha(opacity = 20);
	}

	.materialListElement.unselected:hover {
		cursor: default;
	}
	
	.materialListElement.unselected:hover .fileImage {
		border-color: #CCCCCC;
		cursor: default;
	}
	
		button.gwt-Button.signInButton {
		margin-top: 6px;
	}

	.profilePanel {
		cursor: pointer;
		text-align: center;
		padding-right: 10px;
		width: 40px;
		height: 40px;
		overflow: hidden;
	}

	.profilePanel .profileImage {
		max-width: 70px;
	}

	.profilePanel .optionsArrow {
		position: absolute;
		right: 0px;
		bottom: 0px;
	}

	.profileOptionsPanel {
		position: relative;
		z-index: 200;
	}

	.profileOptionsPanel .arrow {
		position: absolute;
		z-index: 300;
		right: 15px;
	}

	.profileOptionsPanel .profileOptionsContent {
		position: relative;
		top: 15px;
		margin-left: 5px;
		z-index: 200;
		border-radius: 10px;
		padding: 5px;
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 0px 0px 2px 1px rgba(102, 102, 102, 0.3);
	}

	.profileOptionsContent .logoutButton {
		margin: 20px 10px 10px;
		min-width: 75px;
	}
}