
.perspectivesBox {

	.storeIconHolder {
		width: 100%;
		text-align: center;
		display: block;
	}

	.storeIconHolder a {
		display: inline-block;
		vertical-align: middle;
		padding-top: 10px;
	}
	
	.storeIconHolder .separatorDiv {
		clear: both;
	}
	
	.storeIconHolder .linkPlaystore {
		margin-right: 10px;
	}
	
}