
.perspectivesBox {

	.storeIconHolder {
		width: 100%;
		text-align: center;
		display: block;
	}

	.storeIconHolder a {
		display: inline-block;
		vertical-align: middle;
		padding-top: 10px;
	}
	
	.storeIconHolder a:first-child{
		padding-right: 10px;
	}
	
}