
.perspectivesBox {

	.appstoreholder {
		width: 100%;
		text-align: center;
		display: block;
	}

	.appstoreholder a {
		display: inline-block;
		vertical-align: middle;
		padding-top: 10px;
	}
	
	.appstoreholder a:first-child{
		padding-right: 10px;
	}
	
}