@import 'colors';

.GeoGebraFrame {
    .smallScreenHeaderScientific {
        height: 48px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
        position: absolute;
        width: 100%;
        z-index: 11; //shadow should hide three dot menu
    }

    .algebraPanelScientificWithHeader {
        height: calc(100% - 48px);
        padding-top: 8px;
        top: 48px;
        box-sizing: border-box;
    }

    .menuBtnScientific {
        margin:6px 10px;
    }

    .settingsBtnScientific {
        margin: 6px;
        float: right;
        position: relative;
    }

    .undoBtnScientific {
        margin-right: 12px;
    }

    .undoRedoCntScientific {
        margin: 6px;
        float: left;
        position: relative;
    }

    .undoRedoSettingsPanelScientific {
        position: relative;
        clear: both;
        width: 33%;
        height: 48px;
        margin: auto;
    }

    .dropDownSelector {
        position: relative;
        height: 64px;

         .titleLabel {
              font-size: 100%;
              width: 100%;
              height: 24px;
              padding-top: 10px;
         }

         .selectedOptionLabel {
              font-size: 75%;
              height: 20px;
              padding-bottom: 10px;
         }
    }

    .dropDownPopup {
        overflow: auto !important;
        max-height: 50%;

			.dropDownElement {
                padding-left: 24px;
                padding-top: 0px;
                line-height: 32px;
            }

            .dropDownElement:hover {
                cursor: pointer;
                background: $selected-menuitem-background;
            }
    }

    .scientificSettingsView {
        background-color: #f9f9f9;
    }
}
