@import 'colors';

.GeoGebraFrame {
    .smallScreenHeaderScientific {
        height: 48px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
        position: absolute;
        width: 100%;
        z-index: 11; //shadow should hide three dot menu
    }

    .algebraPanelScientificWithHeader {
        height: calc(100% - 48px);
        padding-top: 8px;
        top: 48px;
        box-sizing: border-box;
    }

    .menuBtnScientific {
        margin:6px 10px;
    }

    .settingsBtnScientific {
        margin: 6px;
        float: right;
        position: relative;
    }

    .undoBtnScientific {
        margin-right: 12px;
    }

    .undoRedoCntScientific {
        margin: 6px;
        float: left;
        position: relative;
    }

    .undoRedoSettingsPanelScientific {
        position: relative;
        clear: both;
        width: 800px;
        max-width: calc(100% - 48px);
        height: 48px;
        margin: auto;
        padding-left: 4px;
        padding-right: 4px;
    }

    .dropDownSelector {
        position: relative;
        height: 64px;

         .titleLabel {
              font-size: 100%;
              width: 100%;
              height: 24px;
              padding-top: 10px;
         }

         .selectedOptionLabel {
              font-size: 87.5%;
              height: 20px;
              padding-bottom: 10px;
              color: rgba(0, 0, 0, 0.6);
         }
    }

    .dropDownPopup {
        overflow: auto !important;
        max-height: 50%;

			.dropDownElement {
                padding-left: 24px;
                line-height: 32px;
            }

            .dropDownElement:hover {
                cursor: pointer;
                background: $black-04;
            }

            .selectedDropDownElement, .selectedDropDownElement:hover {
                background: $black-12;
            }
    }

    .scientificSettingsView {
        background-color: $gray-background;
    }
}
