@import 'colors';
@import 'z-index';

$shadow-dark: 0px 0px 2px 1px rgba(102, 102, 102, 0.3);

.GeoGebraFrame {

	.floatingSettings {
			position: absolute;
			top: 0px;
			right: 0px;
			/*box-shadow: 0 0 16px $black-28;*/
			box-shadow: 0 6px 16px rgba(0,0,0,0.28);
			background-color: $white;
			/* keep shadow under keyboard */
			z-index: $z-dialog-under-keyboard;
			height: 100%;
			width: 500px;
			overflow-y: auto;

    		select:focus,select:hover, textarea:focus:not([readonly]) {
    			border: 1px $teal-default solid;
    		}

    		.closeButton {
    			opacity: 0.54;
    			
    			&:hover {
    				opacity: 1;	
    			}
    		}

    		.settingsBtn, .textButton, .openFileBtn,
    			.okBtn, .cancelBtn {
    			height: 36px !important;
    			width: 136px !important;
    			padding: 0px 16px;
    			text-align: center;
    			font-size: 90%;
    			text-transform: uppercase;
    			border: none;
    			margin-top: 16px;
    			margin-right: 16px;
    			border-radius: 2px;
    			line-height: 38px;
    			cursor: pointer;
    			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    			transition: box-shadow 0.3s ease-out;
    			
    			.html-face {
    				text-align: center;
    				height: 36px;	
    			}
    		
    			&:hover {
    				box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    				border: none !important;
    			}
    		}
    	
    		.textButton, .okBtn, .cancelBtn {
    			width: 100% !important;
    			min-width: 64px;	
    			max-width: 128px;
    			color: $black;
    			margin-top: 0px;
    			margin-left: 16px;
    			
    			&:hover {
    				background-color: $white;
    				text-decoration: none;	
    			}
    		}
    	
    		.openFileBtn {
    			width: 150px !important;	
    			color: $black;
    			margin-top: 0px;
    			margin-left: 16px;
    			
    			&:hover {
    				text-decoration: none;	
    				background-color: $white;
    			}
    		}  
    	
    		.settingsBtn {
    		    width: 100% !important;
    			max-width: 256px;
    			min-width: 136px;
    		}
    	
    		.clearImgBtn {
    			padding: 4px;
    			img {
    				opacity: 0.54;	
    			}	
    			img:hover {
    				opacity: 1;	
    			}
    		}
    	
    		.btnBold,.btnItalic,.btnUnderline, .btnLatex {
				border-radius: 2px;
				margin-left: 0px;
   	 			margin-right: 8px;
   	 		
				img {
					opacity: 0.7;
				}	
		
				&:hover {
					border: $teal-default solid 1px;
				}
		
				&.gwt-ToggleButton-down {
					border: $teal-default solid 1px;
				}
			}
    	
    		.CustomColorButton:hover {
    			border: 2px solid $teal-default !important;
    			background-color: $white !important;
    		}
    	
    		.gwt-ToggleButton {
    						cursor: pointer; 
    						padding: 4px;
    						margin: 0px;
    						img {
    							opacity: 0.54;	
    						}	
    					
    						&:hover {
    							img {
    								opacity: 1;
    							}
    						}
    					}
    	
    	    .BackgroundColorPanel {
    	    	.gwt-RadioButton {
    	    		input[type="radio"] {
    	    			margin-right: 10px;
    	    		}
    	    	
    	    		label {
    	    			font-size: 90%;	
    	    		}
    	    	}
    	    	
    	    	.ClearBackgroundButton {
    	    		cursor: pointer; 
    				padding: 4px;
    				margin: 0px;
    				img {
    					opacity: 0.54;	
    				}	
    					
    				&:hover {
    					img {
    						opacity: 1;
    					}
    				}
    	    	}	
    	   }		
    	
    		.panelTitle:first-child {
    			margin-top: 8px !important;
			}
    	
    		.panelTitle {
    			margin-bottom: 8px;
    			margin-top: 16px;
    			padding-bottom: 0px;
    			display: block;
    			color: $black;
    			font-size: 95%;
    			opacity: 0.7;
    			border-bottom: 1px solid $tool-border;
			}
		
			iframe.objectPropertiesTextEditor {
   				border: #dcdcdc solid 1px;
    			background: $white;
    			padding: 4px 5px;
    			color: #666;
    			border-radius: 2px;
   				 box-sizing: border-box;
    			-moz-box-sizing: border-box;
    			font-size: 90%;
    			box-shadow: none;
    		}
    	
    		.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab, .gwt-TabBar .gwt-TabBarItem {
    			margin-right: 4px;
   				padding: 8px;
    			height: 36px;
    			cursor: pointer;
    			font-size: 100%;
    			cursor: hand;
    			font-weight: normal;
    			text-align: center;
   				background: $white;
    			border-radius: 3px 3px 0 0;
    			border: 1px solid $tool-border;
    			box-sizing: border-box;
    			
    			&:hover {
    				color: $teal-light;	
    			}
    		}
    	
    		.gwt-DisclosurePanel 
    			.gwt-TabLayoutPanelTab
    				.com-google-gwt-resources-client-CommonResources-InlineBlockStyle-inlineBlock {
   	 			height: 28px;
			}
		
			.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected,
				.gwt-TabBar .gwt-TabBarItem-selected {
    			color: $teal-default;
			}
    	
    		.propertiesStyleBar {
    			overflow: visible;

    			.selected,
    				.gwt-MenuItem.selected:hover {
    				background-image: -webkit-linear-gradient(right,#dcdcdc,#f8f8f8);
    			}
    			    
    			.menuProperties {
    				position: relative;
    				width: 40px;
   					right: 6px;
    				
    				.gwt-MenuItem{
    					padding: 0px;
    					
    					img {
    						padding: 8px;	
    					}
    				}	
    			}
    		}
    	
    		.propertiesTabPanel {
    			.gwt-TabBar {
    				cursor: pointer;	
    			}
    			
    			.gwt-CheckBox {
					margin-bottom: 8px;	
					
					input[type="checkbox"] {
    					margin-right: 10px;		
    				}
				}
			
				textarea {
					border-radius: 2px;
					box-shadow: none;
				}
    			
    			.numberInput {
    				border: none;
    				box-shadow: none;	
    			}
    			
    			.gwt-TabBar 
    				.gwt-TabBarItem-selected {
    				cursor: default;
    				background: white;
    				color: $teal-default;
    				border-bottom: 1px solid white;
				}
			
				.panelRowIndent, 
				  .panelRowCell, 
					.panelRow,
					  .listBoxPanel,
					  	.optionsPanel, .optionsPanelIndent {
					  	margin-bottom: 10px;
					  	
						.gwt-Label {
							cursor: default;
							font-size: 90%;
						}
					
						.gwt-CheckBox {
							margin-bottom: 0px;	
							
							input[type="checkbox"] {
    							margin-right: 0px;		
    						}
						}
				}
			
				.colorChooserPreview canvas {
					border-radius: 2px;	
					cursor: pointer;
				}
			
				.listBoxPanel {
            		margin-bottom: 0px;
            	}

    			.propMaterialTab {
    				overflow: auto;
    				padding-right: 8px;
    				padding-left: 16px;
    				box-sizing: border-box;	
    				
    				.panelIndent {
    					padding-left: 25px;	
    				}
    			
    				.coloredLabel {
    					cursor: default;
						font-size: 80%;
						color: $teal-default;		
    				}
    			
    				input[type="range"] { 
    					cursor: pointer;	
    				}
    			
    				.gwt-CheckBox, .checkBoxPanel {
    					input[type="checkbox"] { 
    						cursor: pointer;	
    					}
    					
    					label {
    						cursor: default;
    						font-size: 90%;
    						margin-left: 8px;
    						margin-right: 16px;
    					}
    				}
    			
    				.MyCanvasButton {
    					border-radius: 2px;
    					transition: border 0.3s ease-out;
    					
    					&:hover {
    						border: 1px solid $teal-default;	
    					}
    				}
    			
    				.checkBoxPanel {
						margin-bottom: 8px;	
					}
    			
    				.checkBoxPanel-disabled {
    					opacity: 0.42;
    					color: initial;
    					
    					input[type="checkbox"] { 
    						cursor: default;		
    					}
    				}	
    			
    				.gwt-ListBox {
    					cursor: pointer;
    					border-radius: 0px;	
    					box-shadow: none;
    					border: none;
    					border-bottom: 1px solid $tool-border;
    					padding: 8px;
    					font-size: 90%;
    					transition: border-bottom 0.3s ease-out;
    					    
    					&:hover {
    					  	border-bottom: 1px solid $teal-default !important;
    					}
    				}
    				
    				.panelRowIndent, .optionsPanel, .sliderIntervalPanel,
    				  .panelRow, .listBoxPanel, .sliderWidthPanel,
    				  	.optionsInput, .optionsPanelCell {
    					padding-left: 0px;	
    					
    					.gwt-ToggleButton {
    						cursor: pointer; 
    						padding: 4px;
    						margin: 0px;
    						img {
    							opacity: 0.54;	
    						}	
    					
    						&:hover {
    							img {
    								opacity: 1;
    							}
    						}
    					}
    				
    					.advanced-TextButtonPanel { 
    						.choice-button {
    							top: 2px !important;
    						
    							img {
    								opacity: 0.54;	
    							}	
    					
    							&:hover {
    								img {
    									opacity: 1;
    								}
    							}
    						
    							&.choice-button-up-disabled {
    								cursor: default;
    								
    								img {
    									opacity: 0.3;	
    								}	
    							}
 		   					} 
    					}	
    						
    					input[type="text"] {
    						width: 100%;
    						font-size: 90%;
    						border-radius: 0px;
    						border: none;
    						box-shadow: none;
    						border-bottom: 1px solid $tool-border;
    						padding: 0px;
    						padding-left: 8px;
    						margin-bottom: 2px;
    						transition: border-bottom 0.3s ease-out;
    						
    						&:hover,:focus {
    							border-bottom: 1px solid $teal-default;
    						}
    					
    						&:disabled {
    							background-color: $transparent;
    							opacity: 0.42;
    							
    							&:hover {
    								border-bottom: 1px solid $tool-border;	
    							}
							}
    					}
    				}
    			
    				.AutoCompleteTextFieldW {
    					.SymbolToggleButton {
    						top: 0%;
    						right: 20px;
    						
    						&.shown:hover {
    							color: $teal-default;
    						}
    					}
    					
    					.gwt-SuggestBox.TextField {
    						padding: 4px !important;
    					}	
    				}
    			
    				.optionsPanelCell {
    					.gwt-Label {
							font-size: 90%;
							min-width: 64px;
						}
								
    					.AutoCompleteTextFieldW {
    						.SymbolToggleButton {
    							right: -8px;
    						}
    					}
    				}
    				
    				.optionsInput, .sliderIntervalPanel {
					  	margin-bottom: 10px;
					  	
						.gwt-Label {
							cursor: default;
							font-size: 80%;
							color: $teal-default;
						}
					
						.AutoCompleteTextFieldW {
    						.SymbolToggleButton {
    							position: relative;
    						}
    					}
					
						input[type="text"].gwt-SuggestBox  {
    						width: 80%;
    					}
					}
				
					.sliderWidthPanel {
						.AutoCompleteTextFieldW {
							display: flex;
							
							.unitLabel {
								font-size: 90%;	
							}
						}
					}
				
					.optionsPanel, .optionsPanelIndent {
						display: flex;
						
						.optionsSlider {
							display: flex;
						}
					
						.gwt-Label {
							vertical-align: middle;
    						line-height: 250%;
						}
					
						.gwt-CheckBox {
							margin-top: 11px !important;
						}
						
						 input[type="range"] {
						 	padding-top: 0px !important;	
						 }
						
						.optionsSlider {
							.gwt-Label {
								margin-bottom: 3px;
							}
						}
					}
    			
    				.listBoxPanel {
    					.gwt-Label {
    						min-width: 64px;	
    					}
    				
    					.imageCorner{ 
    						font-size: 90%;
    					}
    				}
    			}	
    		}
    }

    .dropdownButton {
        font-size: 87%;
        color: #666666;
        border: 0px;
        box-shadow: none;
        border: 0px;
        border: none !important;
        border-bottom: 1px solid #dcdcdc !important;
        transition: border-bottom 0.3s ease-out;
        background-color: transparent !important;

        &:hover {
            background-color: transparent;
            border-bottom: 1px solid $teal-default !important;
        }
    }

	.listBoxPanel-noLabel {
		margin-top: 4px;
		margin-bottom: 0px;
		margin-left: 20px;
	}

    .grid {
        .cell {
            padding: 8px;
            vertical-align: top;
            cursor: pointer;
            .image {
                width: 104px;
                height: 64px;
                margin-bottom: 8px;
                border-radius: 4px;
                border: 1px solid #e4e4e4;
            }
            .title {
                text-align: center;
                font-size: 75%;
                width: 104px;
                min-height: 40px;
            }
            &-active {
                .image {
                    border: 1px solid $mow_primary;
                }
                .title {
                    color: $mow_primary;
                }
            }
        }
    }

    .animateInFromRight {
        animation-duration: 0.25s;
        animation-name: settingsIn;
        overflow: auto;
    }
	
	.floatingSettings.animateIn {
		@extend .animateInFromRight;
	}
			
	@keyframes settingsIn {
		0% {right: -500px; top: 0px;}
		50% {right: -250; top: 0px;}
		100% {right: 0px; top: 0px;}
	}

	.animateOutToRight {
	    animation-duration: 0.2s;
        animation-name: settingsOut;
        overflow-y: auto;
        right: -500px;
	}
	
	.floatingSettings.animateOut {
		@extend .animateOutToRight;
	}
			
	@keyframes settingsOut {
		0% {right: 0px; top: 0px;}
		50% {right: -250; top: 0px;}
		100% {right: -500px; top: 0px;}
	}
	
}
