@import 'colors';

$shadow-dark: 0px 0px 2px 1px rgba(102, 102, 102, 0.3);

.GeoGebraFrame {

	.floatingSettings {
			position: absolute;
			top: 0px;
			right: 0px;
			box-shadow: 0 0 16px $black-28;
			background-color: $white;
			z-index:  100000;;
			height: 100%;
			width: 500px;
    		overflow-y: auto;	
    		
    		.closeButtonPanel { 
    			float: right;
    			padding: 8px;
    			height: 24px;
    			opacity: 0.54;
    			
    			&:hover {
    				opacity: 1;	
    			}
    		}
    		
    		.MyCanvasButton.settingsBtn {
    			height: 24px !important;
    			width: 180px !important;
    			padding: 4px;
    			text-align: center;
    			border: 1px solid #dcdcdc;
    			margin-top: 8px;
    			margin-right: 16px;
    			border-radius: 5px;
    			line-height: 24px;
    			cursor: pointer;
    			
    			.html-face {
    				height: 24px;	
    			}
    		
    			&:hover {
    				border-color: #ccf;
    			}
    		}
    	
    		.propertiesStyleBar {
    			overflow: visible;
    			top: 40px;
    			    
    			.menuProperties {
    				position: relative;
    				width: 40px;
   					right: 6px;
    				
    				.gwt-MenuItem{
    					padding: 0px;
    					
    					img {
    						padding: 8px;	
    					}
    				}	
    			}
    		}
    }
	
	.floatingSettings.animateIn {
		animation-duration: 0.25s;
		animation-name: settinsIn;
		overflow: auto;
	}
			
	@keyframes settinsIn {
		0% {right:-500px; top:0px;}
		50% {right:-250; top:0px;}
		100% {right:0px; top:0px;}
	}
	
	.floatingSettings.animateOut {
		animation-duration: 0.2s;
		animation-name: settinsOut;
		overflow-y: auto;
		right: -500px;
	}
			
	@keyframes settinsOut {
		0% {right:0px; top:0px;}
		50% {right:-250; top:0px;}
		100% {right:-500px; top:0px;}
	}
	
}
	

