@import 'colors';
@import 'z-index';

%matButton {
	margin: 8px !important;
	padding: 0 16px;
	border: 1px solid $purple-default;
	border-radius: 2px;
	box-shadow: 0 3px 1px -2px $black-20, 0px 2px 2px 0px $black-14, 0px 1px 5px 0px $black-12;
	min-width: 44px;
	height: 28px;
	vertical-align: middle;
	line-height: 200%;
	text-align: center;
	text-transform: uppercase;
	font-size: 90%;
	cursor: pointer;
	transition: background-color 150ms ease 0ms;
	&:hover {
		box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 3px 1px -1px rgba(0,0,0,.2);
	}
}

%primaryButton {	
	@extend %matButton;
	background-color: $purple-default;
	color: $white;
	&:hover {
		background-color: $purple-dark;
		border: 1px solid $purple-dark;
	}
}


.GeoGebraFrame {
.DialogBox,
	.gwt-DialogBox {
		z-index: $z-dialog-over-keyboard;
		/*box-shadow: 1px 1px 6px 1px #666666;*/

		background-color: rgba(255,255,255,0.9);
		border-radius: 2px;

		box-shadow: 0px 0px 2px 1px rgba(102,102,102,0.3);

		padding: 15px;
	}

	.gwt-DialogBox .Caption {
		cursor: default;
		font-family: geogebra-sans-serif, Arial Unicode MS, Arial, sans-serif;
		font-size: 110%;
		/*padding: 10px;*/
		padding-bottom: 5px;
		color: #333333;
		border-bottom: 1px solid #DCDCDC;
		margin-bottom: 15px;
	}

	.dialogContent {
		color: #666666;
	}

	.dialogContent table {
		width: 100%;
	}

	.dialogContent input[type="text"],
	.dialogContent select {
		margin-top: 5px;
		margin-bottom: 10px;
		/* width: 98%; */
		width: 100%;
	}

	.dialogContent textarea {
		margin-top: 5px;
	}

	.dialogContent .optionsPanel > * {
		margin: 3px 0px;
	}

	.panelRow.rows > * {
		width: 100%;
		display: block;
	}

	.dialogContent .gwt-CheckBox {
		margin-right: 10px;
	}

	.DialogButtonPanel {
		text-align: right;
		padding-top: 10px;
		padding-right: 10px;
		min-width: 250px;
		max-width: 100%;
	}

	.DialogButtonPanel button {
		margin-left: 5px;
	}


	.DialogBox .gwt-Button,
	.DialogBox .saveButton {
		background-color: #6161FF;
		border: 1px solid #6161FF;
		color: #FFF;
		font-size: 100%;
		box-shadow: none;
		font-weight: normal;
		margin-left: 15px;
	}

	.DialogBox .gwt-Button:hover,
	.DialogBox .saveButton:hover {
		background-color: #CCCCFF;
		color: #6161FF;
	}

	.DialogBox .gwt-Button:active,
	.DialogBox .saveButton:active {
		box-shadow: 0 1px 3px 0 rgba(51, 51, 255, 0.5) inset;
		background-color: #CCCCFF;
		color: #6161FF;
	}

	.DialogBox .gwt-Button.cancelBtn,
	.DialogBox .button.cancelBtn,
	.DialogBox .gwt-Button.resetBtn,
	.DialogBox .button.resetBtn {
		color: #666666;
		border: none;
		background: none;
		text-decoration: underline;
		padding: 5px 0;
		font-size: 100%;
		box-shadow: none;
		font-weight: normal;
	}
	.DialogBox .gwt-Button.cancelBtn:hover,
	.DialogBox .gwt-Button.cancelBtn:active,
	.DialogBox .button.cancelBtn:hover,
	.DialogBox .button.cancelBtn:active,
	.DialogBox .gwt-Button.resetBtn:hover,
	.DialogBox .gwt-Button.resetBtn:active,
	.DialogBox .button.resetBtn:hover,
	.DialogBox .button.resetBtn:active {
		color: #6161FF;
		background-color: none;
		border: none;
	}

	.DialogBox .mainChild{
		overflow-x: hidden;
		overflow-y: auto;
	}
	
	/*---------------- SHARE DIALOG -------------*/
	.shareDialog, .shareLink, .shareLinkMebis {
		min-width: 320px;
		&>div>table {
			width: 100%;
			padding-right: 16px;
		}
		
		.dialogContent input[type="text"] {
			width: 350px;
		}
	}
	.GeoGebraTabLayout {
		width: 500px;
		.gwt-TabPanelBottom {
			min-height: 220px;
			margin-bottom: 8px;
		}
	}
	.GeoGebraLinkPanel {
		height: 100%;

	}
	.GeoGebraCopyLinkPanel img {
		margin-top: 10px;
		margin-left: 5px;
		margin-bottom: 10px;
	}

	.GeoGebraIconPanel {
		display: block;
	}
	.GeoGebraIconPanel img, .GeoGebraShareOnGClassroom {
		margin: 5px;
	}
	.GeoGebraEmailPanel {
		height: 100%;
	}
	.GeoGebraEmailPanel textarea {
		resize: none;
		width: 100%;
	}

	.GeoGebraImagePanel{
		height: 100%;
	}

	.practiceProgressBar {
		progress[value] {
			width: 250px;
			height: 25px;

			border-radius: 15px;

			&[progress="good"]::-moz-progress-bar {
				 background-color: #4CAF50;
			}

			&[progress="medium"]::-moz-progress-bar {
				background-color: #ffff00;;
			}

			&[progress="bad"]::-moz-progress-bar {
				background-color: #FF1744;
			}
		}
	}
}