@import 'colors';
@import 'z-index';

.GeoGebraFrame {
	.snackbar {
		left: 0px;
		/*min-width: 288px;*/
		/*min-width: 420px;
		max-width: 420px;*/
		height: 80px; /* 48px for single line */
		border-radius: 2px;
		z-index: $z-snackbar;
		position: absolute;
		bottom: -80px;
		background-color: $snackbar-background;
		
		td {
			vertical-align: middle !important;
		}
	
		.infoText {
			padding-left: 24px;
			cursor: default;
			font-size: 90%;
			color: $white-70;
			p {
				color: $white;
			}
		}
	
		.manualLink {
			padding-left: 48px;
			padding-right: 24px;
			padding-top: 30px;
			padding-bottom: 30px;
			float: right;
			cursor: pointer;
			font-size: 90%;
			color: $teal-light;
		}
	
		.warning{
			padding-top: 40px;
			padding-bottom: 40px;
			float: right;
		}
	
	}
	.small{
		width: 100%;
		height: 48px;
		bottom: -48px;
		border-radius: 0px;
		.manualLink {
			padding-top: 0px;
			padding-bottom: 0px;
		}
		.warning{
			padding-top: 0px;
			padding-bottom: 0px;
			float: right;
		}
	}
		
	.animateShow { 
		bottom: 0px;
		transition: bottom 250ms cubic-bezier(0.4, 0, 1, 1) 0ms;
	} 
	.animateHide { 
		bottom: -80px;
		transition: bottom 250ms cubic-bezier(0.4, 0, 1, 1) 0ms;
	} 

	.snackbarMow {
		display: block;
		font-family: geogebra-sans-serif, Arial Unicode MS, Arial, sans-serif;
		border-radius: 4px;
		padding: 3px;
		background-color: $black-87;
		box-shadow: 0px 0px 2px 1px rgba(102, 102, 102, 0.3);
		z-index: $z-snackbar;
		position: absolute;
		color: #FFFFFF;
		/*left: 862px !important;
    	top: 750px !important;*/
			
		.infoText {
			padding: 5px 50px;
			display: inline-block;
			cursor: default;
			color: #FFFFFF;
			
			p {
				margin: 0px !important;
			}
		}

		.manualLink {
			border-left: 1px solid #FFFFFF;
			padding: 10px 20px;
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center center;
			padding-top: 20%;
			color: #FFFFFF;
			cursor: pointer;
		}
	}
}

