@import 'shared';

.GeoGebraFrame{

  .stepTree {
    width: 60%;
    margin: 10px auto;
  }

  .KeyBoard.TabbedKeyBoard {
    position: static;
    bottom: initial;
  }

  .solverPanel {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid lightgrey;
  }

  .editorPanel {
    width: 100%;
    border: 1px solid blueviolet;

    td:first-child {
      width: 75%;
    }
  }

  .solveButton {
    margin-left: auto !important;
    @extend %suggestionButton;
  }
}