.GeoGebraFrame {

  .stepTree {
    table {
      width: 100%;
    }

    td:first-child {
      width: 70% !important
    }

    .stepinformation {
      width: 100%;
    }

    .stepGroupPanel {
      box-sizing: border-box;
      padding: 3px 3px 3px 23px !important;
      width: 100%;
    }

    .stepPanel {
      width: 100%;
    }

    .stepTreeLine {
      white-space: normal;
      width: 100%;
    }

    .stepTreeElem {
      vertical-align: middle;
    }

    canvas.stepTreeElem {
      user-select: all;
      -moz-user-select: all;
    }

    .stepTreeButton {
      padding: 2px;
      display: inline;

      img {
        vertical-align: middle;
      }
    }
  }
}
