@import 'colors';

.GeoGebraFrame {
		.tableViewParent {
			height: 100%;
		}

		.emptyTablePanel {
			width: 50%;
			text-align: center;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: $black-54;
			padding-bottom: 24px;
		}

		.emptyTablePanel div {
			text-align: center;
		}

		.emptyTableImageWrap {
			background-color: rgb(237,237,237);
			border-radius: 50%;
			padding: 28px;
			margin: auto;
			margin: 12px auto;
			width: 56px;
			height: 56px;
		}

		.emptyTableImage {
			opacity: .54;
		}

		.emptyTableInfo {
			font-size: 14px;
			line-height: 20px;
		}

		.emptyTableLabel {
			line-height: 24px;
			font-size: 18px;
			font-weight: 500;
			margin: 4px auto;
			color: $black-87;
		}

		.main >* {
			position: absolute !important;
			display: inline-block;
		}
		
		.tvHeader {
			.com-google-gwt-user-cellview-client-CellTable-Style-cellTableHeader {
				 border: 0px;
				 padding: 0px;
				 text-align: center;
				 padding: 0px;
				 div:FIRST-CHILD {
					color: $black-54; 
					display: inline-flex;
					margin: auto;	
					.MyToggleButton {
						margin-top: 8px;
						padding: 0px;
						border: 0px;
						opacity: 0.54;
					}			 
				 }
			}
			tbody {display: none;}
		}
		
		.tvTable {
			 .com-google-gwt-user-cellview-client-CellTable-Style-cellTableFirstColumn {
				padding: 0px !important;
				border: 0px;
			
			}
		
			.com-google-gwt-user-cellview-client-CellTable-Style-cellTableCell {
				div {			
					color: $black-87;
					text-align: center;
				}
			}
			
			.com-google-gwt-user-cellview-client-CellTable-Style-cellTableOddRowCell {
				background: $tableview-row;
			}
		}
	
	
		
		.tvScrollPanel {
			width: 50%;
		}

		.tvValueCell {
			margin-left: 16px;
			margin-right: 32px;
			text-align:end;
		}

		.tvHeaderCell {
			margin-left: 16px;
		}
	
	.tvPanel .tvScrollPanel{
		flex-grow: 1;
		/*overflow-x: hidden !important;*/
		overflow-y: auto !important;
	}

	.outerScrollPanel{
		/*overflow-y: hidden !important;*/
		overflow: hidden !important;
	}

	.tvHeaderHolderPanel{
		background-color: #F8F8F8;
		overflow: hidden !important;
	}
}