@import 'colors';
$emptyHeight: 212px;
$deleteTime: 120ms;

.GeoGebraFrame {
	.tableViewParent {
		height: 100%;
		min-height: $emptyHeight + 56px;
	}

	.main >* {
		position: absolute !important;
		display: inline-block;
	}

	.tableViewMain {
		margin-top: 8px;
		margin-left: 0px;
		margin-right: 0px;
	}

	%colDelete {
		overflow: hidden !important;
		width: 0px !important;
		margin-left: -81px !important;
		visibility: hidden;
	}

	.tvTable {
		@mixin textSelect($type) {
			user-select: $type;
			-moz-user-select: $type;
			-webkit-user-select: $type;
		}

		td, th {
			border-width: 0 1px 1px 0;
			border-color: $black-12;
			border-style: solid;
		}

		%cellTransition {
			transition: width $deleteTime, margin $deleteTime ease-in;
		}
		
		.values {
			@include textSelect(text);

			thead {
				&.transitioning {
					@extend %cellTransition;
				}

				@include textSelect(none);

				colgroup {
					col {
						@extend .delete;
					}
				}

				th {
					padding: 0;
					position: sticky;
					top: 0;
					background: $tableview-header;

					.cell {
						@extend %cellTransition;
						margin-left: 0px;
						margin-right: 0px;
						text-align: center;
						padding: 0px;
						.content {
							display: inline-flex;
							margin: auto;
							float: right;
							color: $text-primary;

							.gwt-Label {
								font-weight: bold;
							}

							.MyToggleButton {
								margin: auto 3px auto 0;
								padding: 0;
								border: 0;
								background-color: transparent;

								img {
									opacity: 0.54;
									display: block;
								}
							}
						}
					}

					.delete {
						@extend %colDelete;
						text-align: right;
					}
				}
			}
			
			td {
				div {
					color: $text-primary;
					text-align: right;
				}
				
				.delete {
					@extend %colDelete;
					margin-left: 16px;
					margin-right: 32px;
				}
			}
			
			.cell {
				@extend %cellTransition;
				margin-left: 0px;
				margin-right: 0px;
				text-align: right;
			
				.content {
					float: right;
					margin-right: 28px;
				}
			}
		}

		.mainScrollPanel {
			width: 100%;
		}

		.mainScrollPanel .valueScroller {
			flex-grow: 1;
			overflow-y: auto !important;
		}
	
		.outerScrollPanel{
			/*overflow-y: hidden !important;*/
			overflow: hidden !important;
		}
	
		.outerScrollPanel > div{
			height: 100%;
		}
	
		/*needed for vertical scrolling*/
		.valueScroller div, .mainScrollPanel{
			height: 100%;
		}
		
		.headerScroller{
			width: 100%;
			overflow: hidden !important;
		}		
	}
}