@import 'colors';
$emptyHeight: 212px;
$deleteTime: 120ms;

.GeoGebraFrame {
	.tableViewParent {
		height: 100%;
		min-height: $emptyHeight + 56px;
	}

	.emptyTablePanel {
		width: 100%;
		text-align: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateY(-28px);
		color: $text-secondary;
		height: $emptyHeight;
	}

	.emptyTablePanel div {
		text-align: center;
	}

	.emptyTableImageWrap {
		background-color: $white-5-overlay;
		border-radius: 50%;
		padding: 28px;
		margin: auto;
		margin: 16px auto;
		width: 56px;
		height: 56px;
	}

	.emptyTableImage {
		opacity: .38;
	}

	.emptyTableInfo {
		font-size: 14px;
		line-height: 20px;
		margin: 0 24px;
	}

	.emptyTableLabel {
		line-height: 24px;
		font-size: 18px;
		font-weight: 500;
		margin: 4px auto;
		color: $text-primary;
	}

	.main >* {
		position: absolute !important;
		display: inline-block;
	}

	.tableViewMain {
		margin-top: 8px;
		margin-left: 0px;
		margin-right: 0px;
	}

	%colDelete {
		overflow: hidden !important;
		width: 0px !important;
		margin-left: -81px !important;
		visibility: hidden;
	}

	.tvTable {
		@mixin textSelect($type) {
			user-select: $type;
			-moz-user-select: $type;
			-webkit-user-select: $type;
		}

		td, th {
			border: 0px;
		}

		%cellTransition {
			transition: width $deleteTime, margin $deleteTime ease-in;
		}
		
		.values {
			@include textSelect(text);

			thead {
                &.transitioning {
                    @extend %cellTransition;
                }

                @include textSelect(none);

                colgroup {
                    col {
                        @extend .delete;
                    }
                }

                th {
                    padding: 0;
                    border: 0px;
                    position: sticky;
                    top: 0;
                    background: $white;

                    .cell {
                        @extend %cellTransition;
                        margin-left: 0px;
                        margin-right: 0px;
                        border-bottom: 0px;
                        text-align: center;
                        padding: 0px;
                        .content {
                            display: inline-flex;
                            margin: auto;
                            float: right;
                            color: $text-secondary;

                            .MyToggleButton {
                                    margin: auto 0px auto 0px;
                                    padding-left: 6px;
                                    padding-right: 6px;
                                    border: 0px;
                                    img {
                                        opacity: 0.54;
                                    }
                            }
                        }
                    }

                    .delete {
                        @extend %colDelete;
                        text-align: right;
                    }
                }
            }
			
			td {
				div {
					color: $text-primary;
					text-align: right;
				}
				
				.delete {
					@extend %colDelete;
					margin-left: 16px;
					margin-right: 32px;
				}
			}
			
			.cell {
				@extend %cellTransition;
				margin-left: 0px;
				margin-right: 0px;
				text-align: right;
			
				.content {
					float: right;
					margin-right: 32px;
				}
			}

			tbody tr:nth-child(odd) {
				background: $tableview-row;
			}

			tbody tr:nth-child(even) {
				background: $white; // for IE11
			}
		}

		.mainScrollPanel {
			width: 100%;
		}

		.mainScrollPanel .valueScroller {
			flex-grow: 1;
			overflow-y: auto !important;
		}
	
		.outerScrollPanel{
			/*overflow-y: hidden !important;*/
			overflow: hidden !important;
		}
	
		.outerScrollPanel > div{
			height: 100%;
		}
	
		/*needed for vertical scrolling*/
		.valueScroller div, .mainScrollPanel{
			height: 100%;
		}
		
		.headerScroller{
			width: 100%;
			overflow: hidden !important;
		}		
	}
}