@import 'colors';

.GeoGebraFrame{
	.mowTextEditor {
		position: absolute;
		z-index: 99;
		min-height: 32px;
		padding: 3px;
		word-wrap: break-word;
		/* selection needed for iOS */
		-webkit-user-select: text;
		user-select: text;

		p {
			margin: 0;
		}
		* {
			font-style: inherit;
			font-weight: inherit;
		}
	}
}