@import 'colors';

.GeoGebraFrame{
	.mowTextEditor {
		position: absolute;
		border: 1px solid $teal-default;
		z-index: 99;
		min-height: 32px;
		top: 20px;
		left: 300px;	
		padding: 2px;
		word-wrap: break-word;
		
		p {
			margin: 0;
		}
	}
}