@import 'colors';
$tab-anim: 200ms ease;
$tab-transition: left $tab-anim;
$tab-fade-transition: visibility $tab-anim;

$movebtn-transition: bottom  250ms cubic-bezier(0.4, 0, 1, 1) 0ms;

.GeoGebraFrame {
	.gwt-ToggleButton.flatButton.menu.landscapeMenuBtn,.gwt-ToggleButton.flatButton.menu {
		margin-left: 10px;
		&:focus {
			outline: $focus-black 5px auto;
		}
	}

	.gwt-ToggleButton.flatButton.menu.portraitMenuBtn {
		img {
			opacity: 0.54;
		}
	}

	.gwt-ToggleButton.flatButton.menu.portraitMenuBtn.gwt-ToggleButton-up-hovering {
		img {
			opacity: 0.8;
		}
	}

	.toolbar {
		overflow: hidden;

		.header {
			background-color: $purple-default;

			.flatButton:hover {
				cursor: hand;

				img {
					opacity: 1;
				}
			}
			.flatButton:focus {
				outline: $focus-black 5px auto;
			}
			.contents {
				padding-top: 4px;
				padding-bottom: 4px;
			}

			.center {
				position: absolute;
				display: inline-flex;
				left: 50%;
				transform: translateX(-50%);

				.gwt-Image {
					width: 24px;
					height: 24px;
					opacity: 0.85;
				}

				.indicator {
					width: 36px;
					height: 3px;
					background-color: white;
					vertical-align: bottom;
					position: relative;
					display: inline-table !important;
					top: 40px;
					transition: all 0.3s ease;
					left: calc(50% + -24px);
					opacity: 0.85;
				}
			}

			.center.threeTab {
			     .indicator {
					left: calc(50%);
				}
			}

			.center.threeTab.indicatorLeft {
				.indicator {
					transform: translateX(50%) translateX(-84px);
					position: absolute;
				}
			}
			.center.threeTab.indicatorCenter {
				.indicator {
					transform: translateX(50%) translateX(-36px);
					position: absolute;
				}
			}
			.center.threeTab.indicatorRight {
				.indicator {
					transform: translateX(50%) translateX(12px);
					position: absolute;
				}
			}

			.center.indicatorLeft {
				.indicator {
					transform: translateX(50%) translateX(-36px);
					position: absolute;
				}
			}

			.center.indicatorRight {
				.indicator {
					transform: translateX(50%) translateX(12px);
					position: absolute;
				}
			}

			.hidden.center >* {
				display: none !important;
			}

			.rightSide {
				float: right;

				.contextMenu {
					img {
						opacity: 0.85;
					}
				}

				.contextMenu:hover {
					img {
						opacity: 1;
					}
				}
			}

			.close {
				position: relative;
			}
		}

		.header-open-portrait,
		.header-open-landscape {
			@extend .header;

			height: 56px;
			width: 100%;

			.menu {
				margin-right: 10px;
				margin-left: 10px;
			}

			.center.singleButton {
				left: calc(50% - 42px);
			}
		}

		.header-open-portrait.examOk,
		.header-open-landscape.examOk,
		.header-close-portrait.examOk,
		.header-close-landscape.examOk {
			background-color: $teal-default;
		}

		.header-open-portrait.examCheat,
		.header-open-landscape.examCheat,
		.header-close-portrait.examCheat,
		.header-close-landscape.examCheat {
			background-color: $exam-red;
		}

		.header-open-portrait {
			.close {
				margin-left: 10px;
			}

			.contextMenu {
				margin-right: 10px;
			}
		}

		.header-open-landscape {
			.close {
				float: left;
				margin-right: 6px;
			}

			.contextMenu {
				float: right;
				margin-right: 10px;
				margin-left: 0px;
			}
		}

		.header-close-landscape {
			@extend .header;

			width: 56px;
			min-width: 56px;
			height: 100%;

			.center {
				display: table-cell;
				top: calc(50% - 64px);
				height: 84px !important;

				&.threeTab {
					left: 50%;
					transform: translateX(-50%);
					top: calc(50% - 86px);
				}

				.indicator {
					display: none;
					visibility: hidden;
				}
			}

			.flatButton, .menu {
				margin-left: 10px;
				margin-right: 10px;
			}

			.close {
				position: absolute;
				left: 0px;
				bottom: 4px;
			}

			.contextMenu {
				display: none;
			}

			.selected {
				border-bottom: none;
			}
		}

		.header-close-portrait	{
			@extend .header-open-landscape;
			position: absolute;
			bottom: 0;
			height: 52px;
			.center {
				.indicator {
					display: none;
					visibility: hidden;
				}
			}

			.close {
				margin-left: 10px;
			}

			.contextMenu {
				display: none;
			}
		}

		.toolsPanel {
			padding: 8px 16px 14px 16px;

			&.customToolbar {
				padding: 16px 16px 14px 16px;
			}

			.catLabel {
				cursor: default;
			    line-height: 24px;
			    font-size: 100%;
                margin: 8px 0px;
                color: $text-primary;
			}

			.categoryPanel {
				position: relative;
				line-height: 31px !important;
			}

			.button {
				position: relative;
				display: inline-block;
				border-radius: 5px;
				border: 1px solid $tool-border;
				background-color: $white;
				padding: 3px;
				margin: 3px;
				width: 32px;
				height: 32px;
			}

			.button.plusPadding img {
				padding: 4px;
			}

			.button[selected=true] {
				padding: 2px;
				border: 2px solid $purple-default;
			}

			.button[selected=false] {
				border: 1px solid $tool-border;

				&:hover, &:focus {
					border: 1px solid $purple-default;
				}
			}

			.toolButton {
				margin: 0px !important;
				vertical-align: top;
				margin-bottom: 4px;

				img, img:hover {
					opacity: 1;
                }

				&[selected=true] .gwt-Label {
                    color: $purple-dark;
                    font-weight: 600;
				}
			}

			.moreLessBtn {
				border-radius: 2px;
				font-size: 90%;
				min-width: 64px;
				color: $teal-default;
				text-transform: uppercase;
				text-align: center;
				float: left;
				margin: 16px 0px 16px 0px;
				padding: 0px 16px 0px 16px;
				cursor: pointer;
				transition: background-color 0.3s ease-out;

				.gwt-Label {
					line-height: 36px;
					height: 36px;
					min-width: 64px;
					text-align: center;
					align-content: center;
					font-family: Roboto,sans-serif;
					font-weight: 400;
					letter-spacing: .5px;
				}

				&:hover {
					background-color: $black-10;
					color: $teal-dark;
				}
			}
		}

		.main  {
			position: absolute;

			.moveFloatingBtn {
				cursor: pointer;
				position: absolute;
				right: 12px;
				border-radius: 50%;
				width: 48px;
				height: 48px;
				background: $purple-default;
				box-shadow: 0px 2px 10px rgba(0,0,0,.3), 0px 0px 1px rgba(0,0,0,.1), inset 0px 1px 0px rgba(255,255,255,.25), inset 0px -1px 0px rgba(0,0,0,.15);
				transition: background-color 150ms ease 0ms;

				img {
					width: 24px !important;
					padding: 12px;
				}

				&:hover, &:focus {
					background: $purple-dark;
				}
			}

			.moveBtnMiddleTab {
				right: calc(33.3% + 12px)
			}

			.showMoveBtn {
				@extend .moveFloatingBtn;
				opacity: 1;
				visibility: visible;
				transition: opacity 0.2s ease;
			}

			.hideMoveBtn {
				@extend .moveFloatingBtn;
				cursor: default;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.2s ease;

				img {
					opacity: 0;
				}

				&:hover, &:focus {
					background-color: $selected-menuitem-background;

					img {
						opacity: 0;
					}
				}
			}

			.moveMoveBtnUp {
				bottom: 12px + 80px;
				transition: $movebtn-transition;
			}

			.moveMoveBtnDown {
				bottom: 12px;
				transition: $movebtn-transition;
			}

			.moveMoveBtnUpSmall {
				bottom: 68px + 48px;
				transition: $movebtn-transition;
			}

			.moveMoveBtnDownSmall {
				bottom: 68px;
				transition: $movebtn-transition;
			}

			.tab-hidden {
				visibility: hidden;
			}

			.tab {
				visibility: visible;
			}

			.tabFade {
				transition: $tab-fade-transition;
			}
		}

		.algebra {
			position: absolute;
			left: 0px;
			transition: $tab-transition;
			background-color: $white;
		}

		.tools {
			position: absolute;
			left: -100%;
			transition: $tab-transition;
		}

		.table {
			position: absolute;
			left: -200%;
			transition: $tab-transition;
		}
	}
}