@import 'colors';
@import 'z-index';

$tab-anim: 200ms ease;
$tab-transition: opacity $tab-anim;

$movebtn-transition: bottom  250ms cubic-bezier(0.4, 0, 1, 1) 0ms;

.GeoGebraFrame {
	.gwt-ToggleButton.flatButton.menu {
		margin-left: 18px;
		&:focus {
			outline: $focus-black 5px auto;
		}
	}
	&.small .gwt-ToggleButton.flatButton.menu.landscapeMenuBtn {
		margin-left: 10px;
	}
	.gwt-ToggleButton.flatButton.menu {
		img {
			opacity: 0.54;
		}
	}

	.gwt-ToggleButton.flatButton.menu.gwt-ToggleButton-up-hovering {
		img {
			opacity: 0.8;
		}
	}

	.closeLandscape.toolbar {
		box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
		z-index: 60; /* TODO use variable */
	}
	.toolbar {
		overflow: hidden;
		z-index: 2;
		background: $white;

		.header {
			z-index: 5; /* above AV input (4) */
			background-color: $white;
			.flatButton:focus {
				outline: $focus-black 5px auto;
			}

			.center {
				position: absolute;
				display: inline-flex;
				left: 50%;
				transform: translateX(-50%);
				max-width: 100%;
			}

			.hidden.center >* {
				display: none !important;
			}
		}

		.header-open-portrait,
		.header-close-portrait {
			box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2), 1px 0 10px 0 rgba(0, 0, 0, 0.12), 4px 0 5px 0 rgba(0, 0, 0, 0.14);
			height: 56px;
			width: 100%;

			.menu {
				margin-right: 10px;
				margin-left: 10px;
			}
			.tabButton {
				height: 56px;
				width: 168px;
				.gwt-Image {
					margin-top: 8px;
				}
			}

			.center.singleButton {
				left: calc(50% - 42px);
			}
		}

		.header.examOk {
			background-color: $teal-default;
		}

		.header.examCheat {
			background-color: $exam-red;
		}

		.header.examOk, .header.examCheat {
			.gwt-Label {
				color: $white;
			}
		}

		.header-open-portrait {
			position: absolute;
			bottom: 0;
		}

		.header-open-landscape {
			box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
		}

		.header-open-landscape,
		.header-close-landscape {

			width: 72px;

			min-width: 56px;
			height: 100%;
			position: absolute;


			&.compact {
				width: 56px;
			}
			.center {
				display: block;
				width: 100%;
				top: 24px;
				&.withMenu {
					top: 56px;
				}
			}

			.flatButton, .menu {
				margin-left: 10px;
				margin-right: 10px;
			}
			.tabButton {
				width: 100%;
				height: 72px;
				.gwt-Image {
					margin-top: 14px;
					margin-bottom: 6px;
				}
			}
			.selected {
				border-bottom: none;
			}
		}

		.header-close-portrait	{
			position: absolute;
			bottom: 0;
			height: 56px;
		}

		.toolsPanel {
			padding: 8px 16px 14px 16px;

			&.customToolbar {
				padding: 16px 16px 14px 16px;
			}

			.catLabel {
				cursor: default;
			    line-height: 24px;
			    font-size: 100%;
                margin: 8px 0px;
                color: $text-primary;
			}

			.categoryPanel {
				position: relative;
				line-height: 31px !important;
			}

			.button {
				position: relative;
				display: inline-block;
				border-radius: 5px;
				border: 1px solid $tool-border;
				background-color: $white;
				padding: 3px;
				margin: 3px;
				width: 32px;
				height: 32px;
			}

			.button.plusPadding img {
				padding: 4px;
			}

			.button[selected=true] {
				padding: 2px;
				border: 2px solid $purple-default;
			}

			.button[selected=false] {
				border: 1px solid $tool-border;

				&:hover, &:focus {
					border: 1px solid $purple-default;
				}
			}

			.toolButton {
				margin: 0px !important;
				vertical-align: top;
				margin-bottom: 4px;

				img, img:hover {
					opacity: 1;
                }

				&[selected=true] .gwt-Label {
                    color: $purple-dark;
                    font-weight: 600;
				}
			}

			.moreLessBtn {
				border-radius: 2px;
				font-size: 90%;
				min-width: 64px;
				color: $teal-default;
				text-transform: uppercase;
				text-align: center;
				float: left;
				margin: 16px 0px 16px 0px;
				padding: 0px 16px 0px 16px;
				cursor: pointer;
				transition: background-color 0.3s ease-out;

				.gwt-Label {
					line-height: 36px;
					height: 36px;
					min-width: 64px;
					text-align: center;
					align-content: center;
					font-family: Roboto,sans-serif;
					font-weight: 400;
					letter-spacing: .5px;
				}

				&:hover {
					background-color: $black-10;
					color: $teal-dark;
				}
			}
		}

		.main  {
			position: absolute;

			.moveFloatingBtn {
				cursor: pointer;
				position: absolute;
				right: 12px;
				border-radius: 50%;
				width: 48px;
				height: 48px;
				background: $purple-default;
				box-shadow: 0px 2px 10px rgba(0,0,0,.3), 0px 0px 1px rgba(0,0,0,.1), inset 0px 1px 0px rgba(255,255,255,.25), inset 0px -1px 0px rgba(0,0,0,.15);
				transition: background-color 150ms ease 0ms;

				img {
					width: 24px !important;
					padding: 12px;
				}

				&:hover, &:focus {
					background: $purple-dark;
				}
			}

			.showMoveBtn {
				@extend .moveFloatingBtn;
				opacity: 1;
				visibility: visible;
				transition: opacity 0.2s ease;
			}

			.hideMoveBtn {
				@extend .moveFloatingBtn;
				cursor: default;
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.2s ease;

				img {
					opacity: 0;
				}

				&:hover, &:focus {
					background-color: $selected-menuitem-background;

					img {
						opacity: 0;
					}
				}
			}

			.moveMoveBtnUp {
				bottom: 12px + 80px;
				transition: $movebtn-transition;
			}

			.moveMoveBtnDown {
				bottom: 12px;
				transition: $movebtn-transition;
			}

			.moveMoveBtnUpSmall {
				bottom: 68px + 48px;
				transition: $movebtn-transition;
			}

			.moveMoveBtnDownSmall {
				bottom: 68px;
				transition: $movebtn-transition;
			}

			.tab-hidden {
				opacity: 0;
				display: none;
			}

			.tab {
				opacity: 1;
				right: 0;
			}

		}
		.tabFade {
			transition: $tab-transition;
			&.tab-hidden {
				display: inline-block;
			}
		}
		.algebra {
			position: absolute;
			background-color: $white;
		}

		.tools {
			position: absolute;
		}

		.table {
			position: absolute;
		}
	}
}