@import 'colors';

.toolbar {
	.header {
			background-color: $toolbar-header;
			
			.flatButton {
				padding: 12px;
				width: 24px;
				height: 24px;
			}
			
			
			.close {
					
			}
			
			.menu {
			}
			
			.menu:hover {
				opacity: 0.7;	
			}
			
			.contents {
				padding-top: 4px;
				padding-bottom: 4px;
			}
		}

		.header-open {
			@extend .header;
			
			height: 56px;
			width: 100%;
			
			.close {
				float: right;
			}
			
		}
		
		.header-close {
			@extend .header;
	 
			width: 56px;
			height: 100%;
			
			.close {
				position: absolute;
				bottom: 0px;
			}
			
		}

 }