@import 'colors';

.gwt-ToggleButton.flatButton.menu.landscapeMenuBtn,.gwt-ToggleButton.flatButton.menu {
		margin-left: 10px;
}

.gwt-ToggleButton.flatButton.menu.portraitMenuBtn {
	opacity: 0.54;
}

.gwt-ToggleButton.flatButton.menu.portraitMenuBtn.gwt-ToggleButton-up-hovering {
	opacity: 0.8;
}

.toolbar {
	.header {
			background-color: $toolbar-header;
			
			.selected { 
				/*border-bottom: solid 2px $white;*/
			}
		
			.flatButton:hover {
				cursor: hand;
		
				img { 
					opacity: 1;
				}
			}
			
			.contents {
				padding-top: 4px;
				padding-bottom: 4px;
			}
			
			.contents >* {
				display: inline-block;
			 }
			 
			.center {
				position: relative;
				margin: auto;
				width: 64px;
				display: flex;
				top: 0px;
				padding-left: 0;
				padding-right: 0;
				
				.gwt-Image {
					width: 24px;
					height: 24px;
					opacity: 0.85;
				}
			
			    .indicator {
			    	width: 36px;
    				height: 2px;
    				background-color: white;
    				vertical-align: bottom;
    				position: relative;
   					bottom: 10px;
    				display: inline-table !important;
    				top: 40px;	
    				transition: all 0.3s ease;
    				left: calc(50% + 10px);
			    }
				
			}
		
			.center.indicatorLeft {
				.indicator {
					transform: translate(calc(50% - 18px),0);
				/*	left: calc(50% + 10px) !important;*/
				}	
			}
		
			.center.indicatorRight {
				.indicator {
					transform: translate(calc(50% + 30px),0);
				/*	left: calc(50% + 57px) !important;*/
				}	
			}
			
			.center >* {
				display: inline-block;
			}
		
			.rightSide {
				float: right;		
				
				.contextMenu {
					img {
						opacity: 0.85;
					}	
				}	
			
				.contextMenu:hover {
					img {
						opacity: 1;	
					}
				}			
			}
			
		}


		.header-open-portrait,
		.header-open-landscape {
			@extend .header;
			
			height: 56px;
			width: 100%;
			
			.menu {
				margin-right: 10px;
				margin-left: 10px;
			}
	
		 	.center {
				margin: auto;
				left: 10px;
				top: 0px;
			}
			
		}
		
		.header-open-portrait {
			.close {
				position: absolute;
				left: 0px;
				margin-left: 10px;
			}	
		
			.contextMenu {
				margin-right: 10px;	
			}
		
			.center {
				left: -40px;
			}	
		}
	
		.header-open-landscape {
			.close {
				float: left;
				margin-right: 6px;
			}
		
			.contextMenu {
				float: right;
				margin-right: 10px;
				margin-left: 0px;
			}
		}
		
		.header-close-landscape {
			@extend .header;
	 
			width: 56px;
			min-width: 56px;
			height: 100%;
			
			.center {
		 		top: 0px;
				display: table-cell;
				vertical-align: middle;
				
				.indicator {
					display: none;
					visibility: hidden;
				}
			}			
			
			.flatButton, .menu {
				margin-left: 10px;
				margin-right: 10px;
			}
			
			.close {
				position: absolute;
				left: 0px;
				bottom: 0px;
			}
		
			.contextMenu {
				display: none;
			}
		
			.selected { 
				border-bottom: none;
			}
 
		}

	.header-close-portrait	{
		@extend .header-open-landscape;
		position: absolute;
		bottom: 0px;
		
		.center {
			left: -40px;
			
			.indicator {
				display: none;
				visibility: hidden;
			}
		}	
	
		.close {
			position: absolute;
			left: 0px;
			margin-left: 10px;
		}	
	
		.contextMenu {
			display: none;
		}
	}	
	
	.toolsPanel {
	
		padding: 0px 16px 14px 16px;
		
		.gwt-Label {
    		line-height: 48px;
    		font-size: 16px;
    	}
    	
    	.categoryPanel {
    		line-height: 31px !important;
		}
	
		.button {
			display: inline-block;
			border-radius: 5px;
    		border: 1px solid $tool-border;
    		background-color: $white;
    		padding: 3px;
    		margin: 3px;
    		width: 32px;
   			height: 32px;
		}
		
		.button[selected=true]{
			padding: 2px;
			border: 2px solid $toolbar-header;
		}
	}
		
 }
 