$z-algebra-speed-panel: 99999;
$z-hidden: -1;
$z-algebra-input: 1;
$z-algebra-selected-row: 3;
$z-algebra-new-item: 4;
$z-algebra-stylebar: 10;

$z-dialog: 500;
$z-dialog-over-keyboard: 501;
$z-dialog-context-menu: 502;
$z-dialog-under-keyboard: 499;
$z-pdf-dialog-arrow: 1;
$z-on-top-of-graphics: 60;
$z-show-keyboard-button: 99;

// comes from youtube player, you must not change this.
$z-mow-video: 50;
$z-mask: 50;

$z-mow-toolbar: 51;
$z-mow-toolbar-panel: 50;
$z-mow-toolbar-slider: 54;
$z-flat-button: 60;

$z-page-control-button: 61;
$z-page-control-panel: 61;

$z-cas-table-first-row-selected: 20;

$z-spreadsheet-selection-frame: 6;
$z-spreadsheet-button: 10;
$z-spreadsheet-popup: 11;

$z-open-file-view-header: 1;

$z-open-screen-search-input: 5;
$z-open-screen-search-button: 10;
$z-open-screen-header-bar: 10;
$z-open-screen-card-content: 100;
$z-profile-options-panel: 200;
$z-unsupported-browser-message: 100;

$z-main-menu-submenu: 200;
$z-main-menu-floating: 101;
$z-menubar-popup: 100;

$z-toolbar-classic: 100;
$z-toolbar-classic-submenu: 250;
$z-toolbar-classic-submenu-arrow: 300;

$z-accessible-input: 200;

$z-tooltip-classic: 1000;
$z-snackbar: 1000;

$z-fullscreen-container: 2500; /* -same as .fullscreen in marvl */