/* ### onScreenKeyboard ### */

/* ### keyboard color variables ### */
$switcher-background: #f8f8f8;
$new-functional-button: #dcdcdc;
$old-functional-button: #afafaf;
$old-keyboard-background: #666666;
$new-keyboard-background: #eeeeee;
$new-keyboard-button-border: #c7c7c7;
$active-switcher: #6666ff;
$black: #000000;


.GeoGebraFrame{
	.openKeyboardButton:active {
		box-shadow: inset 0 0 1px 0 #cdcdcd;
	}

	.openKeyboardButton:hover {
		border: 1px solid #9999ff;
	}

	.openKeyboardButton {
		position: absolute;
		bottom: 0;
		width: 48px;
		height: 21px;
		padding-top: 0;
		padding-bottom: 8px;
		padding-left: 0;
		background-color: $switcher-background;
		border-radius: 0;
		cursor: pointer;
		cursor: hand;
		border: 1px solid $new-functional-button;
		box-shadow: 0 0 1px 0 rgba(102, 102, 102, 0.3);
		text-align: center;
	}

	.keyBoardClosePanel {
		position: absolute;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		cursor: pointer;
		cursor: hand;
		text-align: center;
		background-color: $old-keyboard-background;
		border-top-left-radius: 5px;
	}

	.keyBoardClosePanel .closeIcon {
		padding-top: 6px;
	}

	.closeTabbedKeyboardButton {
		position: relative;
		top: 8px;
		right: 5px;
		float: right;
		
	}

	/* special css for Springboard */
	.KeyBoard table {
		border-collapse: separate;
		clear: both;
	}

	.KeyBoard {
		border-radius: 0;
		-webkit-border-radius: 0;
		background-color: $old-keyboard-background;
		color: $black;
		box-shadow: none;
		font-family: geogebra-sans-serif;
		position: relative;
		padding: 5px 0;
	}
	
	.TabbedKeyBoard.KeyBoard{
		padding-top: 0;
		background-color: $new-keyboard-background;
	}

	.KeyBoard .SymbolTable {
		display: none;
	}

	.KeyBoardContentNumbers,
	.KeyBoardContentSpecialChars {
		margin: 0 auto;
		max-width: 745px !important;
	}

	.KeyPanelLetters {
		margin: 0 auto;
		position: relative;
	}

	.KeyPanelFunction,
	.KeyPanelNum, 
	.normal .contentLetters {
		padding-right: 20px;
	}

	.KeyPanelRow {
		margin: 0 auto;
	}

	.KeyBoard .KeyBoardButton {
		padding: 10px;
		height: 20px;
		text-align: center;
		margin: 2px;
		font-size: 120%;
		cursor: pointer;
		border-radius: 5px;
		white-space: nowrap;
		color: $black;
	}
	
	.TabbedKeyBoard.KeyBoard .KeyBoardButton {
		height: 40px;
		box-sizing:border-box;
	}

	/** obsolete */
	.KeyBoard .KeyBoardButton {
		background-color: $switcher-background;
	}

	.KeyBoard.TabbedKeyBoard .KeyBoardButton{
		background-color: white;
		border-radius: 5px;
		border-bottom: 1px solid;
		border-bottom-color: $new-keyboard-button-border; 
		padding: 9px;
		
		&.sub {
    		padding: 6.5px;
		}
	
		&.sup {
			padding: 5.5px;
		}
	}

	.KeyBoard.TabbedKeyBoard .KeyBoardButton.colored{
		background-color: $new-functional-button;
	}	

	.lowerHeight .KeyBoardButton {
		height: 10px;
		padding-top: 3px;
		padding-bottom: 13px;
	}

	.waves-effect.waves-keyboard .waves-ripple {
		background-color: rgba(200, 200, 200, 0.65);
	}

	.KeyBoardButton.accentDown {
		background-color: $new-functional-button;
	}

	.KeyBoardButton.supScript .gwt-Label {
		margin-top: -4px;
	}

	.KeyBoard td.hidden {
		display: none;
	}

	.normal .KeyBoardButton {
		width: 50px;
	}

	.KeyBoardButton:active {
		box-shadow: inset 0 0 0 1px #7C7C7C;
	}

	.KeyBoardButton.colored {
		background-color: $old-functional-button;
	}

	.KeyBoardButton.backspace {
		padding-top: 8px;
		padding-bottom: 12px;
	}

	.lowerHeight .KeyBoardButton.backspace {
		padding-top: 1px;
		padding-bottom: 15px;
	}

	/* -- NUMBERS -- */
	.normal .KeyBoardButton.backspace,
	.normal .KeyBoardButton.enter {
		width: 64px;
	}

	.normal .KeyBoardButton.arrow {
		width: 20px;
		padding-left: 9px;
		padding-right: 11px;
	}

	.KeyBoardButton.enter {
		height: 64px;
	}

	.lowerHeight .KeyBoardButton.enter {
		height: 41px;
	}

	.lowerHeight .KeyBoardButton.enter img {
		padding-top: 15px;
	}

	.KeyBoardButton.enter img {
		padding-top: 23px;
	}

	/* -- LETTERS -- */
	.normal .KeyBoardButton.shift {
		width: 80px;
		position: absolute;
		left: 0;
	}

	.normal .KeyBoardButton.delete {
		width: 80px;
		position: absolute;
		right: 0;
	}

	.normal .KeyBoardButton.delete.small, 
	.normal .KeyBoardButton.shift.small {
		width: 50px;
	}

	/* last row */
	.KeyPanelLetters > tbody > tr:nth-child(4) .KeyPanelRow {
		width: 100%;
	}

	/* cell of space button */
	.KeyPanelLetters > tbody > tr:nth-child(4) > td > table > tbody > tr > td:nth-child(4) {
		width: 100%
	}

	.normal .KeyBoardButton.space {
		width: 99%;
		padding: 0 0 20px 0;
		margin: 2px 2px 0 2px;
	}

	/* 
	 * SCALE CONTENT OF KEYBOARD
	 */

	.scale .keyBoardClosePanel {
		top: -25px;
		right: 0;
		width: 35px;
		height: 25px;
	}

	.scale .KeyPanelRow, 
	.scale .KeyBoardContentNumbers, 
	.scale .KeyBoardContentSpecialChars,
	.scale .KeyPanelControl,
	.scale .KeyPanelLetters,
	.scale .KeyPanelFunction,
	.scale .KeyPanelNum {
		width: 100% !important;
	}

	.scale .KeyPanelRow td {
		width: 25%;
	}

	.scale .KeyPanelLetters .KeyPanelRow td {
		width: 7%;
	}

	.scale .KeyBoardButton {
		padding-left: 0%;
		padding-right: 0%;
	}

	.scale .KeyPanelControl {
		padding-right: 0;
	}

	.scale.smallerFont {
		font-size: 100% !important;
	}

	.scale.smallerFont .switchKeyboard {
		font-size: 10pt;
	}

	.scale.smallerFont .KeyBoardContentNumbers .KeyBoardButton.colored {
		font-size: 86% !important;
	}


	.scale.smallerFont .KeyBoardContentSpecialChars .KeyPanelFunction {
		font-size: 75% !important;
	}

	.scale.smallerFont .KeyBoardButton.supScript .gwt-Label {
		margin-top: -5px;
	}

	.scale .KeyPanelFunction,
	.scale .KeyPanelNum {
		padding-right: 2%;
	}

	.scale .KeyBoardContentSpecialChars>tbody>tr>td,
	.scale .KeyBoardContentSpecialChars>tbody>tr>td:nth-child(2),
	.scale .KeyBoardContentNumbers>tbody>tr>td, 
	.scale .KeyBoardContentNumbers>tbody>tr>td:nth-child(2) {
		width: 45%;
	}

	/* -- LETTERS -- */

	/* space */
	.scale .KeyPanelLetters tr:nth-child(4) > td td:nth-child(4) {
		width: 50%;
	}
	/* width of panel with enter, delete, left, right */
	.scale .KeyPanelLetters .KeyPanelRow td {
		width: 9%;
	}
	/** tabbed keyboard */
	.KeyPanel{
		margin: auto;
	}

	.KeyboardSwitcher {
		position: relative;
		background-color: $switcher-background;
		border: $new-functional-button solid;
		border-width: 1px 0;
		width: 100%;
		height: 40px;
		margin-bottom: 5px;
	}

	

	.KeyboardSwitcher .switcherContents {
		margin-left: auto;
		margin-right: auto;
		white-space: nowrap;
		
	}

	.KeyboardSwitcher .gwt-Button {
		color: $black;
		border: 0;
		margin-top: 7px;
		box-shadow: none;
	}

	.KeyboardSwitcher .switcherContents .moreKeyboardButton {
		position: relative;
		top: 6px;
		right: 6px;
		float: right;
	}
	
	.KeyboardSwitcher .switcherContents .gwt-Button.selected {
		color: $active-switcher;
	}
	
	.KeyboardSwitcher .gwt-Button:hover {
    	color: $active-switcher;
   	 	background-color: $switcher-background;
	}

	.TabbedKeyBoard { 
		z-index: 200;
		position: absolute;
		bottom: 0;
		position: absolute;
		width: 100%;
	}

	.TabbedKeyBoard.animating {
		animation-duration: 0.2s;
		animation-name: addKeyBoard;
		overflow: hidden;
	}
	
	.TabbedKeyBoard.animatingOut {
		animation-duration: 0.2s;
		animation-name: removeKeyBoard;
		overflow: hidden;
	}

	@keyframes addKeyBoard {
		0% {max-height: 0;}
		100% {max-height: 200px;}
	}
	
	@keyframes removeKeyBoard {
		0% {max-height: 200px;}
		100% {max-height: 0;}
	}
}