@font-face {
    font-family: 'geogebra-sans-serif';
    src: url('../font/GgbRoboto.eot');
    src: url('../font/GgbRoboto.eot?#iefix') format('embedded-opentype'),
         url('../font/GgbRoboto.woff') format('woff'),
         url('../font/GgbRoboto.ttf') format('truetype'),
         url('../font/GgbRoboto.svg#roboto') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geogebra-serif';
    src: url('../font/GgbRobotoSlab.eot');
    src: url('../font/GgbRobotoSlab.eot?#iefix') format('embedded-opentype'),
         url('../font/GgbRobotoSlab.woff') format('woff'),
         url('../font/GgbRobotoSlab.ttf') format('truetype'),
         url('../font/GgbRobotoSlab.svg#roboto_slab') format('svg');
    font-weight: normal;
    font-style: normal;

}
