@charset "utf-8";
body {
	margin: 0px;
	padding: 0px;
	font-family: "Segoe UI", sans-serif;
	font-size: 15px;
	color: #000000;
	overflow: hidden;
	-ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* avoid flash on Android http://stackoverflow.com/questions/5210481/*/
}

/* TOOLS AND STYLEBAR BUTTONS */
div.button {	
	/* Border */
	-webkit-border-radius: 5px;
  	-khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	
	border: #DCDCDC solid 1px;
	
	/* Background */
	background-image: linear-gradient(top, rgb(255,255,255) 0%, rgb(254,254,254) 100%);
	background-image: -o-linear-gradient(top, rgb(255,255,255) 0%, rgb(254,254,254) 100%);
	background-image: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(254,254,254) 100%);
	background-image: -webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(254,254,254) 100%);
	background-image: -ms-linear-gradient(top, rgb(255,255,255) 0%, rgb(254,254,254) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(255,255,255)),
		color-stop(1, rgb(254,254,254))
	);
}

div.button.button-up-hovering,
div.button.active {
	border: #9999FF 1px solid;
}

.arrowLeft img {
	margin: 4px;
}

.arrowRight img {
	margin: 4px;
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.arrowBottom img {
	margin: 4px;
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.stylebar div.button,
.headerbar div.button,
.algebraViewButtonPanel div.button {
	width: 30px;
	height: 30px;
	padding: 4px;
	margin: 0px 6px 0px 0px;
}

.toolbar div.button,
.subToolBar div.button {
	width: 40px;
	height: 40px;
	padding: 4px;
	margin: 0px 6px 0px 0px;
}

.stylebar div.button img,
.headerbar div.button img,
.algebraViewButtonPanel div.button img {
	width: 30px;
	height: 30px;
}

.toolbar div.button img,
.subToolBar div.button img {
	width: 40px;
	height: 40px;
}

/* #####################################################################
####                    HEADER, STYLEBAR							####
##################################################################### */

.headerbar {
	/* Border */
	border-bottom: #999999 solid 1px;
	
	/* Background */
	background-image: linear-gradient(top, rgb(204,204,204) 0%, rgb(170,170,170) 100%);
	background-image: -o-linear-gradient(top, rgb(204,204,204) 0%, rgb(170,170,170) 100%);
	background-image: -moz-linear-gradient(top, rgb(204,204,204) 0%, rgb(170,170,170) 100%);
	background-image: -webkit-linear-gradient(top, rgb(204,204,204) 0%, rgb(170,170,170) 100%);
	background-image: -ms-linear-gradient(top, rgb(204,204,204) 0%, rgb(170,170,170) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(204,204,204)),
		color-stop(1, rgb(170,170,170)))
	);
}

.headerLeft {
	margin-left: 10px;
}

.headerLeft td,
.headerRight td {
	padding-top: 10px;
}

.headerbar button {
	background: none;
	background-image: none;
	background-color: none;
}

.stylebar {
	padding: 6px 6px 5px 10px;
	display: inline-block;
	
	/* Border */
	-webkit-border-bottom-right-radius: 5px;
  	-khtml-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
	border-right: #CCCCCC solid 1px;
	border-bottom: #CCCCCC solid 1px;
	
	/* Background */
	background-image: linear-gradient(top, rgb(254,254,254) 0%, rgb(220,220,220) 100%);
	background-image: -o-linear-gradient(top, rgb(254,254,254) 0%, rgb(220,220,220) 100%);
	background-image: -moz-linear-gradient(top, rgb(254,254,254) 0%, rgb(220,220,220) 100%);
	background-image: -webkit-linear-gradient(top, rgb(254,254,254) 0%, rgb(220,220,220) 100%);
	background-image: -ms-linear-gradient(top, rgb(254,254,254) 0%, rgb(220,220,220) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(254,254,254)),
		color-stop(1, rgb(220,220,220))
	);
}

/* #####################################################################
####                    ALGEBRA VIEW 								####
##################################################################### */

.algebraView {	
	/* Border */
	border-left: #CCCCCC solid 1px;
	
	/* Background */
	background-image: linear-gradient(top, rgb(237,237,237) 0%, rgb(220,220,220) 100%);
	background-image: -o-linear-gradient(top, rgb(237,237,237) 0%, rgb(220,220,220) 100%);
	background-image: -moz-linear-gradient(top, rgb(237,237,237) 0%, rgb(220,220,220) 100%);
	background-image: -webkit-linear-gradient(top, rgb(237,237,237) 0%, rgb(220,220,220) 100%);
	background-image: -ms-linear-gradient(top, rgb(237,237,237) 0%, rgb(220,220,220) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(237,237,237)),
		color-stop(1, rgb(220,220,220)))
	);
}

.algebraViewButtonPanel {	
	/* Border */
	-webkit-border-bottom-left-radius: 5px;
  	-khtml-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
	
	/* Background */
	background-color: #EDEDED;
}

.algebraViewArrowPanel {
	padding: 6px 6px 5px 5px;
	
	/* Border */
	-webkit-border-bottom-left-radius: 5px;
  	-khtml-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
	border-left: #CCCCCC solid 1px;
	border-bottom: #CCCCCC solid 1px;
}

.algebraViewContent {
	padding: 0px 20px;
}

.elemHeading {
	height: 35px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: #CCCCCC solid 1px;
	margin-bottom: 5px;
}

.elemHeading .arrowBottom,
.elemHeading .arrowLeft {
	margin-top: -10px;   
}

.elemHeading .arrowBottom img,
.elemHeading .arrowLeft img {
	width: 30px;
	height: 30px;
}

div.elemHeadingName{
	float: left;
}

.elemList {
	padding: 10px 5px;
	color: #666666;
}

.elem {
	padding: 5px;
}

.elem img {
	margin-top: 5px;
}

.elem.hidden {
	background: url(img/elemHidden.svg) no-repeat left 10px;
}

/* #####################################################################
####                    TOOL BAR									####
##################################################################### */

.toolbar {
	
	/* Border */
	border-top: #CCCCCC solid 1px;
	
	/* Background */
	background-image: linear-gradient(top, rgb(237,237,237) 0%, rgb(220,220,220) 100%);
	background-image: -o-linear-gradient(top, rgb(237,237,237) 0%, rgb(220,220,220) 100%);
	background-image: -moz-linear-gradient(top, rgb(237,237,237) 0%, rgb(220,220,220) 100%);
	background-image: -webkit-linear-gradient(top, rgb(237,237,237) 0%, rgb(220,220,220) 100%);
	background-image: -ms-linear-gradient(top, rgb(237,237,237) 0%, rgb(220,220,220) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(237,237,237)),
		color-stop(1, rgb(220,220,220)))
	);
}

.toolbarButtonPanel {
	padding: 10px;
	float: left;
}

.subToolBar {
	/* Position
	display: block;
	position: relative;
	margin-top: -68px;*/
	margin-left: -6px;
}

.subToolBarButtonPanel {
	background-color: #FFFFFF;
	border: #EFEFEF solid 1px;
	padding: 5px;
	padding-right: 0px;
	
	/* Shadow */
	-webkit-box-shadow: 3px 3px 5px #DCDCDC;
	-moz-box-shadow: 3px 3px 5px #DCDCDC;
	box-shadow: 3px 3px 5px #DCDCDC;
}

.subToolBarArrow {
	margin-top: -10px;
	padding-left: 23px;
	/*background: url(img/subToolbarArrow.svg) 23px top no-repeat;
	width: 100px;
	height: 7px;
	postion: absolute;
	bottom: 0px;*/
}

/* #####################################################################
####                    INPUT										####
##################################################################### */

.inputbarPanel {
	padding: 10px 5px;
}

.inputbarPanel input {
	border: #CCCCCC solid 1px;
	color: #BABABA;
	padding: 4px;
	/*width: 297px;*/
}

.inputDialog {
	padding: 10px;
	
	/* Border */
	-webkit-border-radius: 5px;
  	-khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	
	border: #DCDCDC solid 1px;
	
	/* Shadow */
	-webkit-box-shadow: 3px 3px 5px #999999;
	-moz-box-shadow: 3px 3px 5px #999999;
	box-shadow: 3px 3px 5px #999999;
	
	background-color: #FFFFFF;
}

.inputDialog .gwt-TextBox {
	margin-top: 5px;
	border: 1px solid #DCDCDC;
	padding: 3px;
}

.inputDialog .gwt-PopupPanel {
	border: none;
	padding: 10px 2px 0px 2px;
}

.customKeyPanel {
	margin-right: -6px;
	margin-top: 10px;
}

.inputDialog .customKeyPanel button {
	margin-right: 6px;
	width: 40px;
	height: 40px;
	
	/* Border */
	-webkit-border-radius: 5px;
  	-khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	
	border: #DCDCDC solid 1px;
	
	/* Background */
	background: none;
	
	background-image: linear-gradient(top, rgb(254,254,254) 0%, rgb(237,237,237) 100%);
	background-image: -o-linear-gradient(top, rgb(254,254,254) 0%, rgb(237,237,237) 100%);
	background-image: -moz-linear-gradient(top, rgb(254,254,254) 0%, rgb(237,237,237) 100%);
	background-image: -webkit-linear-gradient(top, rgb(254,254,254) 0%, rgb(237,237,237) 100%);
	background-image: -ms-linear-gradient(top, rgb(254,254,254) 0%, rgb(237,237,237) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(254,254,254)),
		color-stop(1, rgb(237,237,237))
	);
}

.inputDialog .customKeyPanel button:hover {
	border: #9999FF 1px solid;
	background-image: none;
	background: #EEEEEE;
}

#View_2 div table {
	width: 100%;
}

.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}