@charset "utf-8";

body div,
body input {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

/* ########################################
###              HEADER                 ###
####################################### */

body div .headerbar,
body div .worksheetTitle {
	height: 48px;
	color: #FFFFFF;
	font-weight: normal;
	font-family: "Roboto", sans serif;
	font-size: 18px;
	
	/* Border */
	border: none;
	/* Background */
	background-image: linear-gradient(top, rgb(68, 68, 68) 0%, rgb(37, 37, 37) 100% );
	background-image: -o-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(37, 37, 37) 100% );
	background-image: -moz-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(37, 37, 37) 100% );
	background-image: -webkit-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(37, 37, 37) 100% );
	background-image: -ms-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(37, 37, 37) 100% );
	background-image: -webkit-gradient(linear, left top, left bottom,
	color-stop(0, rgb(68, 68, 68) ),
	color-stop(1, rgb(37, 37, 37) ) ) );
}

body .worksheetTitle {
	margin-top: 0px;
}

body .headerbar div.button,
body .headerbar .worksheetTitle {
	opacity: 0.8;
  	filter: alpha(opacity=80);
}

body .headerbar div.button.disabled {
	opacity: 0.3;
  	filter: alpha(opacity=30);
}

body .headerbar div.button {
	border: none;
	margin: 0px 10px 0px 6px;
}

body .headerbar div.button.button-up-hovering {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.inputUnderline {
	margin: -10px -5px 0px -5px;
	height: 4px;
}

.inputUnderline.inactive {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.inputUnderline.active {
	border-left: 2px solid #9999FF;
	border-right: 2px solid #9999FF;
	border-bottom: 2px solid #9999FF;
}

/*##########################################
###            INPUT BAR                 ###
######################################### */

body .inputbarPanel {
	margin: 0px;
	padding: 0px 15px;
}

body .inputbarPanel input {
	border: none;
	background: none;
	padding: 4px 0px;
	color: #CCCCCC;
	height: 28px;
	font-size: 14px;
}

/* POPUP Dialog INPUT */

body .inputDialog,
body .infoDialog {
	padding: 0px;
	z-index: 50;
	
	color: #FFFFFF;
	
	/* Border */
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: #444444 solid 1px;
	
	/* Shadow */
	-webkit-box-shadow: 3px 3px 5px #999999;
	-moz-box-shadow: 3px 3px 5px #999999;
	box-shadow: 3px 3px 5px #999999;
	background-color: #222222;
}

.inputDialog .title,
.infoDialog .title {
	border-bottom: 2px solid #9999FF;
	padding: 15px;
	margin-bottom: 15px;
	text-align: left;
	font-size: 18px;
	color: #FFFFFF;
}

.inputDialog .gwt-Label,
.infoDialog .gwt-Label {
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
}

body .inputDialog .gwt-TextBox,
body .infoDialog .gwt-TextBox {
	margin-top: 5px;
	border: none;
	padding: 3px;
	background: none;
	color: #FFFFFF;
	width: 703px;
}

body .inputDialog .textPanel {
	width: 710px;
}

body .infoDialog .textPanel {
	padding: 0px 15px 15px 15px;
}

body .inputDialog .gwt-PopupPanel,
body .infoDialog .gwt-PopupPanel {
	border: none;
	padding: 0px;
}

.customKeyPanel {
	margin-right: 0px;
	margin-top: 10px;
}

body .inputDialog button,
body .infoDialog button {
	margin: 0px;
	border: none;
	background: none;
	width: 50px;
	height: 50px;
	
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
	color: #FFFFFF;
	font-size: 14px;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	padding: 5px;
}

body .infoDialog .buttonPanel button {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 5px 40px;
	font-size: 12px;
}

body .inputDialog button.last,
body .inputDialog button.last:hover,
body .infoDialog button.last,
body .infoDialog button.last:hover {
	border-right: none;
}

body .inputDialog button:hover,
body .infoDialog button:hover {
	border: none;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	background-image: none;
	background: none;
	color: #9999FF;
}

body .inputDialog .iconPanel,
body .infoDialog .iconPanel {
	margin-right: 10px;
}

body .gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}