@charset "utf-8";

/* TubesearchGUI HEADER */

body div .tubesearchgui .headerbar {
	height: 50px;
}

body .tubesearchgui .headerbar .gwt-Label {
	font-size: 18px;
	vertical-align: middle;
}

body .tubesearchgui .headerbar .gwt-Label,
body .tubesearchgui .headerbar img {
	opacity: 0.8;
  	filter: alpha(opacity=80);
}

body .tubesearchgui .headerLeft {
	margin-left: 0px;
}

body .tubesearchgui .headerLeft td,
body .tubesearchgui .headerRight td {
	padding: 0px;
}

body .tubesearchgui .headerbar div.button {
	border: none;
	margin: 0px 0px 0px 5px;
}

body .tubesearchgui .headerLeft img {
	height: 24px;
	width: 24px;
	margin-top: 3px;
}

body .tubesearchgui .headerRight div.button {
	width: 24px;
	margin: 0px;
	padding: 0px;
}

body .tubesearchgui .headerRight .button img {
	height: 24px;
	width: 24px;
}

body .tubesearchgui input.gwt-TextBox {
	background: none;
	border: none;
	color: #FFFFFF;
}

/* TubeSearchGUI CONTENT */

.tubesearchgui .tubeFilePanel {
	padding: 0px;
	
	/* Background */
	background-image: linear-gradient(top, rgb(239, 239, 239) 0%, rgb(205, 205, 205) 100% );
	background-image: -o-linear-gradient(top, rgb(239, 239, 239) 0%, rgb(205, 205, 205) 100% );
	background-image: -moz-linear-gradient(top, rgb(239, 239, 239) 0%, rgb(205, 205, 205) 100% );
	background-image: -webkit-linear-gradient(top, rgb(239, 239, 239) 0%, rgb(205, 205, 205) 100% );
	background-image: -ms-linear-gradient(top, rgb(239, 239, 239) 0%, rgb(205, 205, 205) 100% );
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0, rgb(239, 239, 239) ),
		color-stop(1, rgb(205, 205, 205) ) );
}