[Desktop Entry]
Encoding=UTF-8
Name=Home
Name[af]=Tuiste
Name[ar]=المنزل
Name[as]=ঘৰ
Name[be]=Хатняя тэчка
Name[be@latin]=Dom
Name[bg]=Домашна директория
Name[bn]=ব্যক্তিগত ফোল্ডার
Name[bn_IN]=ব্যক্তিগত ফোল্ডার
Name[br]=Er-gêr
Name[ca]=Inici
Name[ca@valencia]=Inici
Name[cs]=Můj adresář
Name[csb]=Dodóm
Name[cy]=Cartref
Name[da]=Hjem
Name[de]=Persönlicher Ordner
Name[el]=Προσωπικός φάκελος
Name[en_GB]=Home
Name[eo]=Hejmo
Name[es]=Carpeta personal
Name[et]=Kodu
Name[eu]=Etxea
Name[fa]=آغازه
Name[fi]=Koti
Name[fr]=Dossier personnel
Name[fy]=Thús
Name[ga]=Baile
Name[gl]=Persoal
Name[gu]=ઘર
Name[he]=בית
Name[hi]=घर
Name[hne]=घर
Name[hr]=Početak
Name[hsb]=Domjacy zapisk
Name[hu]=Saját könyvtár
Name[id]=Rumah
Name[is]=Heimasvæðið þitt
Name[it]=Home
Name[ja]=ホーム
Name[ka]=სახლში
Name[kk]=Мекен
Name[km]=ផ្ទះ
Name[kn]=ನೆಲೆ (ಹೋಮ್)
Name[ko]=홈
Name[ku]=Mal
Name[lt]=Pradžia
Name[lv]=Mājas
Name[mai]=घर
Name[mk]=Дома
Name[ml]=പൂമുഖം
Name[mr]=मुख्य
Name[ms]=Laman Utama
Name[nb]=Hjem
Name[nds]=Tohuus
Name[ne]=गृह
Name[nl]=Home
Name[nn]=Heim
Name[oc]=Repertòri personal
Name[or]=ଘର
Name[pa]=ਘਰ
Name[pl]=Katalog domowy
Name[pt]=Pasta Pessoal
Name[pt_BR]=Pasta do usuário
Name[ro]=Acasă
Name[ru]=Домашняя папка
Name[se]=Ruoktu
Name[si]=නිවස
Name[sk]=Domov
Name[sl]=Dom
Name[sr]=Домаће
Name[sr@ijekavian]=Домаће
Name[sr@ijekavianlatin]=Domaće
Name[sr@latin]=Domaće
Name[sv]=Hem
Name[ta]=அகம்
Name[te]=ఇల్లు
Name[tg]=Компютер
Name[th]=พื้นที่ส่วนตัว
Name[tr]=Ev Dizini
Name[uk]=Домівка
Name[uz]=Uy
Name[uz@cyrillic]=Уй
Name[vi]=Nhà
Name[wa]=Måjhon
Name[xh]=Ikhaya
Name[x-test]=xxHomexx
Name[zh_CN]=主文件夹
Name[zh_TW]=家目錄
GenericName=Personal Files
GenericName[af]=Persoonlike Lêers
GenericName[ar]=الملفات الشخصية
GenericName[as]=ব্যক্তিগত নথিপত্ৰ
GenericName[be]=Персанальныя файлы
GenericName[be@latin]=Ułasnyja fajły
GenericName[bg]=Лични файлове
GenericName[bn]=ব্যক্তিগত ফাইলসমূহ
GenericName[bn_IN]=ব্যক্তিগত ফাইল
GenericName[br]=Restroù deoc'h
GenericName[ca]=Fitxers personals
GenericName[ca@valencia]=Fitxers personals
GenericName[cs]=Osobní soubory
GenericName[csb]=Swòje lopczi
GenericName[cy]=Ffeiliau Personol
GenericName[da]=Personlige filer
GenericName[de]=Eigene Dateien
GenericName[el]=Προσωπικά αρχεία
GenericName[en_GB]=Personal Files
GenericName[eo]=Personaj dosieroj
GenericName[es]=Archivos personales
GenericName[et]=Isiklikud failid
GenericName[eu]=Fitxategi pertsonalak
GenericName[fa]=پرونده‌های شخصی
GenericName[fi]=Omat tiedostot
GenericName[fr]=Fichiers personnels
GenericName[fy]=Persoanlike map
GenericName[ga]=Comhaid Phearsanta
GenericName[gl]=Ficheiros persoais
GenericName[gu]=અંગત ફાઇલો
GenericName[he]=קבצים אישיים
GenericName[hi]=निजी फ़ाइलें
GenericName[hne]=निजी फाइल मन ल
GenericName[hr]=Osobne datoteke
GenericName[hsb]=Wosobinske dataje
GenericName[hu]=Személyes fájlok
GenericName[id]=Berkas Pribadi
GenericName[is]=Skrárnar þínar
GenericName[it]=File personali
GenericName[ja]=個人のファイル
GenericName[ka]=პირადი საქაღალდეები
GenericName[kk]=Дербес файлдар
GenericName[km]=ឯកសារ​ផ្ទាល់​ខ្លួន
GenericName[kn]=ವೈಯಕ್ತಿಕ ಕಡತಗಳು
GenericName[ko]=개인적인 파일
GenericName[ku]=Pelên takekesî
GenericName[lt]=Asmeniniai failai
GenericName[lv]=Personīgie faili
GenericName[mai]=निज फाइलसभ
GenericName[mk]=Лични датотеки
GenericName[ml]=സ്വകാര്യ ഫയലുകള്‍
GenericName[mr]=खाजगी फाइल
GenericName[ms]=Fail Peribadi
GenericName[nb]=Personlige filer
GenericName[nds]=De egen Dateien
GenericName[ne]=व्यक्तिगत फाइल
GenericName[nl]=Persoonlijke map
GenericName[nn]=Personlege filer
GenericName[or]=ବ୍ୟକ୍ତିଗତ ଫାଇଲଗୁଡ଼ିକ
GenericName[pa]=ਨਿੱਜੀ ਫਾਇਲਾਂ
GenericName[pl]=Pliki osobiste
GenericName[pt]=Ficheiros Pessoais
GenericName[pt_BR]=Arquivos pessoais
GenericName[ro]=Fișiere personale
GenericName[ru]=Личные файлы
GenericName[se]=Iežat fiillat
GenericName[si]=පුද්ගලික ගොනු
GenericName[sk]=Osobné súbory
GenericName[sl]=Osebne datoteke
GenericName[sr]=Лични фајлови
GenericName[sr@ijekavian]=Лични фајлови
GenericName[sr@ijekavianlatin]=Lični fajlovi
GenericName[sr@latin]=Lični fajlovi
GenericName[sv]=Personliga filer
GenericName[ta]=தனிப்பட்ட கோப்புகள்
GenericName[te]=వ్యక్తిగత దస్త్రాలు
GenericName[tg]=Файлҳои шахсӣ
GenericName[th]=แฟ้มส่วนตัว
GenericName[tr]=Kişisel Dosyalar
GenericName[uk]=Особисті файли
GenericName[uz]=Shaxsiy fayllar
GenericName[uz@cyrillic]=Шахсий файллар
GenericName[vi]=Tập tin Cá nhân
GenericName[wa]=Fitchîs da vosse
GenericName[xh]=Iifayile Zobuqu
GenericName[x-test]=xxPersonal Filesxx
GenericName[zh_CN]=个人文件
GenericName[zh_TW]=個人檔案
Icon=user-home
Type=Application
Exec=xdg-open $HOME
StartupNotify=false
OnlyShowIn=KDE;
