[Desktop Entry]
Encoding=UTF-8
Name=Trash
Name[ar]=سلة المهملات
Name[be@latin]=Śmietnica
Name[bg]=Кошче
Name[bn]=আবর্জনা
Name[bn_IN]=আবর্জনা
Name[ca]=Paperera
Name[ca@valencia]=Paperera
Name[cs]=Koš
Name[csb]=Kòsz
Name[da]=Affald
Name[de]=Mülleimer
Name[el]=Κάδος απορριμάτων
Name[en_GB]=Wastebin
Name[eo]=Rubujo
Name[es]=Papelera
Name[et]=Prügikast
Name[eu]=Zakarontzia
Name[fa]=زباله
Name[fi]=Roskakori
Name[fr]=Corbeille
Name[fy]=Jiskefet
Name[ga]=Bruscar
Name[gl]=Lixo
Name[gu]=કચરાપેટી
Name[he]=אשפה
Name[hi]=रद्दी
Name[hne]=घुरुवा
Name[hr]=Otpad
Name[hsb]=Papjernik
Name[hu]=Szemétkosár
Name[id]=Tempat Sampah
Name[is]=Rusl
Name[it]=Cestino
Name[ja]=ごみ箱
Name[kk]=Өшірілгендер
Name[km]=ធុង​សំរាម
Name[kn]=ಕಸಬುಟ್ಟಿ
Name[ko]=휴지통
Name[ku]=Çop
Name[lt]=Šiukšliadėžė
Name[lv]=Miskaste
Name[mai]=रद्दी
Name[mk]=Корпа
Name[ml]=ചവറ്റുകുട്ട
Name[mr]=कचरापेटी
Name[ms]=Sampah
Name[nb]=Søppelbøtte
Name[nds]=Affalltünn
Name[nl]=Prullenbak
Name[nn]=Papirkorg
Name[or]=ଆବର୍ଜନା ପାତ୍ର
Name[pa]=ਰੱਦੀ
Name[pl]=Kosz
Name[pt]=Lixo
Name[pt_BR]=Lixo
Name[ro]=Gunoi
Name[ru]=Корзина
Name[se]=Ruskalihtti
Name[si]=ඉවතලන බහලුම
Name[sk]=Kôš
Name[sl]=Smeti
Name[sr]=Смеће
Name[sr@ijekavian]=Смеће
Name[sr@ijekavianlatin]=Smeće
Name[sr@latin]=Smeće
Name[sv]=Papperskorg
Name[ta]=அகற்றிடம்
Name[tg]=Сабад
Name[th]=ถังขยะ
Name[tr]=Çöp
Name[uk]=Смітник
Name[wa]=Batch
Name[x-test]=xxTrashxx
Name[zh_CN]=回收站
Name[zh_TW]=資源回收筒
Comment=Contains removed files
Comment[ar]=تحوي الملفات المزالة
Comment[be]=Утрымлівае выдаленыя файлы
Comment[be@latin]=Zachoŭvaje vydalenyja fajły
Comment[bg]=Съдържа премахнати файлове
Comment[bn]=মুছে ফেলা ফাইল থাকে
Comment[ca]=Conté els fitxers suprimits
Comment[ca@valencia]=Conté els fitxers suprimits
Comment[cs]=Obsahuje odstraněné soubory
Comment[csb]=Kònténer rëmniãtëch lopków
Comment[cy]=Yn cynnwys ffeiliau sydd wedi eu gwaredu
Comment[da]=Indeholder slettede filer
Comment[de]=Enthält weggeworfene Dateien
Comment[el]=Περιέχει τα αφαιρεμένα αρχεία
Comment[en_GB]=Contains removed files
Comment[eo]=Enhavas forigitajn dosierojn
Comment[es]=Contiene los archivos eliminados
Comment[et]=Sisaldab eemaldatud faile
Comment[eu]=Kendutako fitxategiak ditu
Comment[fi]=Sisältää poistetut tiedostot
Comment[fr]=Contiens les fichiers effacés
Comment[fy]=Befetter fuortsmiten triemmen
Comment[ga]=Comhaid bhainte atá ann
Comment[gl]=Contén ficheiros eliminados
Comment[gu]=દૂર કરેલ ફાઇલ ધરાવે છે
Comment[he]=מכיל קבצים שהוסרו
Comment[hi]=मिटाई गई फ़ाइलों को रखता है
Comment[hne]=मेटाय फाइल ल रखथे
Comment[hr]=Sadrži izbrisane datoteke
Comment[hsb]=Tu so namakaja zničene dataje
Comment[hu]=Törölt fájlokat tartalmaz
Comment[id]=Berisi berkas yang dihapus
Comment[is]=Inniheldur skrár sem hefur verið eytt
Comment[it]=Contiene i file cancellati
Comment[ja]=削除されたファイルを保管しています
Comment[ka]=შეიცავს წაშლილ ფაილებს
Comment[kk]=Өшірілген файлдар жататын орын
Comment[km]=មាន​ឯកសារ​ដែល​បាន​យក​ចេញ
Comment[kn]=ತೆಗೆದು ಹಾಕಲಾದ ಕಡತಗಳನ್ನು ಹೊಂದಿದೆ
Comment[ko]=삭제된 파일 및 폴더가 있습니다
Comment[ku]=Di de pelên hatine rakirin jî hene
Comment[lt]=Čia yra ištrintos bylos
Comment[lv]=Satur izmestos failus
Comment[mai]=मेटाएल गेल फ़ाइलसभक राखैत अछि
Comment[mk]=Содржи избришани датотеки
Comment[ml]=നീക്കം ചെയ്യപെട്ട ഫയലുകള്‍ ഉല്പെടുന്നു
Comment[mr]=काढूण टाकलेले फाइल समाविष्टीत आहे
Comment[nb]=Inneholder filer som er fjernet
Comment[nds]=Bargt wegmaakt Dateien
Comment[nl]=Bevat de verwijderde bestanden
Comment[nn]=Inneheld sletta filer
Comment[or]=ଅପସାରିତ ଫାଇଲଗୁଡ଼ିକୁ ଧାରଣ କରିଥାଏ
Comment[pa]=ਹਟਾਈਆਂ ਫਾਇਲਾਂ ਰੱਖਦਾ ਹੈ
Comment[pl]=Zawiera usunięte pliki
Comment[pt]=Contém os ficheiros removidos
Comment[pt_BR]=Contém arquivos removidos
Comment[ro]=Conține fișierele șterse
Comment[ru]=Содержит удалённые файлы
Comment[se]=Dáppe leat eret váldon fiillat
Comment[si]=මකන ලද ගොනු ඇත
Comment[sk]=Obsahuje odstránené súbory
Comment[sl]=Vsebujejo odstranjene datoteke
Comment[sr]=Садржи уклоњене фајлове
Comment[sr@ijekavian]=Садржи уклоњене фајлове
Comment[sr@ijekavianlatin]=Sadrži uklonjene fajlove
Comment[sr@latin]=Sadrži uklonjene fajlove
Comment[sv]=Innehåller borttagna filer
Comment[ta]=அகற்றப்பட்ட கோப்புகள் இருக்கிறது
Comment[te]=తీసివేసిన ఫైళ్ళను కలిగివుంటుంది
Comment[tg]=Дорои файлҳои несткардашуда
Comment[th]=บรรจุแฟ้มต่าง ๆ ที่ถูกลบ
Comment[tr]=Silinen dosyaları içerir
Comment[uk]=Містить вилучені файли
Comment[uz]=Olib tashlangan fayllardan iborat
Comment[uz@cyrillic]=Олиб ташланган файллардан иборат
Comment[vi]=Chứa tập tin bị gỡ bỏ
Comment[wa]=I gn a dvins des fitchîs oistés
Comment[xh]=Iqulathe iifayile ezisusiweyo
Comment[x-test]=xxContains removed filesxx
Comment[zh_CN]=储存已删除的文件
Comment[zh_TW]=包含已移除的檔案
Icon=user-trash-full
EmptyIcon=user-trash
Type=Link
URL=trash:/
OnlyShowIn=KDE;

