/*body .headerbar {
	padding-top:20px;
}*/

/*html body .headerbar div.button {
	margin-top: 20px;
}*/

/*#########################
#   NEW STYLES FOR iOS7   #
##########################*/

@charset "utf-8";

body div {
	font-family: "Helvetica", sans-serif;
}

body {
	background: url(../img/geogebraLogo.png) center center no-repeat #FFFFFF;
	min-height: 768px;
}

/*++++++ HEADER +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body .headerbar {
	color: #333333;
	border-bottom: 1px solid #EDEDED;
	background-color: #F8F8F8;
	background-image: none;
	height: 50px;
	box-shadow: 0px 0px 2px 1px rgba(204,204,204,0.5);
}

body .worksheetTitle,
body .browsegui .headerbar .gwt-Label,
body .worksheetgui .headerbar .gwt-Label {
	font-size: 20px;
	opacity: 1;
	filter: alpha(opacity=1);
}

body .headerbar .button {
	width: 40px;
	height: 40px;
	margin: 5px 6px 5px 0px;
}

body .headerbar .button img {
	width: 40px;
	height: 40px;
}

body .headerFirst td,
body .headerSecond td {
	padding-top: 0px;
}

.appContentPanel {
	z-index: -1;
}

.euclidianViewPanel {
	z-index: -5;
}

/*++++++ STYLEBAR +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body .stylebar {
	background-image: none;
	background-color: rgba(255, 255, 255, 95);
	border: none;
	/*opacity: 0.95;
	filter: alpha(opacity=0.95);*/
	box-shadow: 0px 0px 2px 1px rgba(102,102,102,0.3);
}

body .stylebar .button.active {
	border: 1px solid #6666FF;
	width: 30px;
	height: 30px;
}

/*++++++ ALGEBRA VIEW +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body .algebraViewButtonPanel {
	background-color: #FFFFFF;
	border: none;
	opacity: 0.95;
	filter: alpha(opacity=0.95);
	box-shadow: 0px 0px 2px 1px rgba(102,102,102,0.3);
}

body .algebraViewArrowPanel {
	border: none;
	padding: 8px 0px 0px 7px;
}

body .algebraViewAndStylebar {
	background-color: #FFFFFF;
	background-image: none;
	border: none;
	opacity: 0.95;
	filter: alpha(opacity=0.95);
}

body .algebraView {
	margin-left: 3px;
	box-shadow: 0px 0px 2px 1px rgba(102,102,102,0.3);
}

body .elemHeadingName {
	position: static;
}

/*++++++ TOOLBAR +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body .toolbar {
	border-top: 1px solid #EDEDED;
	background-color: #F8F8F8;
	background-image: none;
	box-shadow: 0px 0px 2px 1px rgba(204,204,204,0.5);
}

body .inputPanel {
	width: 100%;
	padding-right: 20px;
}

body .inputbarPanel input {
	border: #EDEDED solid 1px;
	color: #BABABA;
	background: #FFFFFF;
	width: 100%;
	padding: 4px 5px;
	
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*++++++ POP UP +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

body .imageDialog,
body .inputDialog,
body .infoDialog {
	color: #666666;
	background-color: #F8F8F8;
	padding: 0px;
	background-image: none;
	border: none;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.imageDialog .title,
.inputDialog .title,
.infoDialog .title {
	padding: 10px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 18px;
	color: #333333;
	border-bottom: 1px solid #CCCCCC;
	
	background-image: linear-gradient(top, rgb(237, 237, 237) 0%, rgb(247, 247, 247) 100% );
	background-image: -o-linear-gradient(top, rgb(237, 237, 237) 0%, rgb(247, 247, 247) 100% );
	background-image: -moz-linear-gradient(top, rgb(237, 237, 237) 0%, rgb(247, 247, 247) 100% );
	background-image: -webkit-linear-gradient(top, rgb(237, 237, 237) 0%, rgb(247, 247, 247) 100% );
	background-image: -ms-linear-gradient(top, rgb(237, 237, 237) 0%, rgb(247, 247, 247) 100% );
	background-image: -webkit-gradient(linear, left top, left bottom,
	color-stop(0, rgb(140, 150, 170) ),
	color-stop(1, rgb(247, 247, 247) ) ) );
}

.popupContent .contentPanel {
	padding: 0px 10px 10px 10px;
}

.imageDialog .gwt-Label,
.inputDialog .gwt-Label,
.infoDialog .gwt-Label {
	text-align: center;
	font-size: 15px;
}

body .inputDialog .gwt-TextBox,
body .infoDialog .gwt-TextBox {
	border: #DCDCDC solid 1px;
	color: #000000;
	background: #FFFFFF;
	width: 662px;
	padding: 4px 10px;
	
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

body .infoDialog .textPanel {
	padding: 0px 15px 25px 15px;
}

body .errorDialog .textPanel {
	margin: 0px 15px;
}

body .infoDialog .textPanel img {
	width: 0px;
	height: 0px;
}

body .inputDialog .errorBox {
	margin-left: 15px;
}

body .inputDialog .iconPanel img {
	margin-right: 15px;
}

.buttonPanel td {
	text-align: center;
}


body .imageDialog button,
body .inputDialog button,
body .infoDialog .button,
body .infoDialog button {
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid #DCDCDC;
	color: #333333;
	
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	padding: 5px;
}

body .imageDialog .buttonPanel button,
body .infoDialog .buttonPanel button,
body .errorDialog .buttonPanel button,
body .sliderDialog .buttonPanel button {
	margin-right: 6px;
	padding: 10px 20px;
	width: auto;
}

body .infoDialog .button.last,
body .infoDialog button.last {
	margin: 0px;
}

 body .sliderDialog .name .gwt-TextBox {
	width: 374px;
	text-align: center;
}

/* Image Dialog */

.imageDialog .insertChoicePanel {
	padding: 0 15px;
	min-width: 200px;
}

.imageDialog .insertChoicePanel div.button {
	background-image: none;
	padding: 5px 5px 1px 5px;
	margin-top: 10px;
	border: none;
}

.insertChoicePanel .button .image {
	float: left;
	margin-right: 15px;
}

.insertChoicePanel .button .gwt-Label {
	float: left;
	margin-top: 7px;
}

.imageDialog .buttonPanel {
	margin-top: 15px;
}

/*++++++ ADDITIONAL GUIs + TEXTBUTTONS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.browsegui .button.delete {
	margin-top: 5px;
}

body .browsegui .headerFirst,
body .worksheetgui .headerFirst {
	border-spacing: 0px;
	margin-left: 5px;
	font-weight: normal;
}

body .browsegui .headerbar .button,
body .worksheetgui .headerbar .button {
	height: auto;
}

body .browsegui .headerbar .headerFirst div.button.backButton,
body .worksheetgui .headerbar .headerFirst div.button.backButton  {
	opacity: 1;
	filter: alpha(opacity=1);
}

.headerbar .headerFirst .backButton .image img {
	height: 20px;
	width: 11px;
	opacity: 1;
	filter: alpha(opacity=1);
	margin-top: 5px;
}

body .browsegui .headerbar .headerFirst .backButton .gwt-Label,
body .worksheetgui .headerbar .headerFirst .backButton .gwt-Label {
	font-weight: normal;
	color: #666666;
	font-size: 20px;
	margin-top: 3px;
	padding-left: 10px;
}

body .browsegui .headerbar td .gwt-Label,
body .worksheetgui .headerbar td .gwt-Label {
	color: #333333;
}

.browsegui .headerSecond input.gwt-TextBox {
	/* Border */
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #EDEDED;
	
	background: #FFFFFF;
	
	position: relative;
	z-index: 2;	
	padding-left: 30px;
	padding-right: 30px;
}

body .browsegui .headerbar .headerSecond .searchButton {
	position: relative;
	z-index: 5;
	left: 30px;
	top: 8px;
}

body .browsegui .headerbar .headerSecond .searchButton img {
	height: 17px;
	width: 17px;
}

body .browsegui .headerbar .headerSecond .cancelButton {
	position: absolute;
	right: 18px;
	top: 15px;
	z-index: 5;
}

body .browsegui .headerbar .headerSecond .cancelButton img {
	width: 20px;
	height: 20px;
}