
body {
	font: 100%/120% geogebra-sans-serif, Frutiger, "Frutiger Linotype",
 			Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad,
 			"DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma,
 			Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
 	color: #666666;
}

/* ########################################
   ###              HEADER              ###
   ######################################## */

body div .PhoneHeader {
	background-color: #F8F8F8;
}

body > div:nth-child(4) > div:nth-child(2) > div > div:nth-child(2) > table > tbody > tr:nth-child(1) > td {
	height: 43px;
}

.tab {
	
}

.activeTab {
	height: 40px;
	border-bottom: 3px solid #6666FF;
}

.headerTitlePanel {
	color: #999999;
	font-size: 20px;
	padding: 11px 0px 0px 8px;
}

.phoneHeaderButton {
	border: none !important;
	background: transparent;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}

.phoneHeaderButton .image {
	width: 30px;
	height: 30px;
	padding-top: 5px;
	background-color: #F8F8F8;
}

.phoneHeaderButton:focus {
	outline: none;
}


/* ########################################
   ###          ALGEBRA VIEW            ###
   ######################################## */
   
.algebraViewPanel {
	background-color: #FFFFFF;
	font-size: 16px;
}

.elemHeadingName {
	padding: 10px 8px 10px 32px;
}

.arrowBottom.algebraOpenButton {
	margin-top: 3px;
}

/* ########################################
   ###         GRAPHICS VIEW            ###
   ######################################## */
   
   
   
/* ########################################
   ###        WORKSHEETS VIEW           ###
   ######################################## */
   
.viewContainer {
	overflow: hidden !important;
}
   
.browseViewPanel {
	background-color: #FFFFFF;
	font-size: 16px;
}

.browseTitlePanel {
	padding-top: 5px;
}
/*
.browseTitlePanel.active {
	border-bottom: 2px solid;
	font-weight: bold;
}

.browseTitleText {
	
}
*/

.materialListPanel {
	width: 100%;
}

.browsegui {

}

.filePanel {
	overflow-y: scroll !important;
}

.browsegui .fileLinks {
	background-color: transparent;
	box-shadow: none;
}

.materialListElement.selected { /* materialListElement instead of browserFile */
}

.materialListElement .fileImage {
	margin: 9px;
}

/* Search Panel */
.searchPanel {
	padding: 4px;
}

.searchPanel div.button {
	border: none;
}

.searchPanel .searchButton {
	top: 12px;
	padding-left: 10px;
}

input[type="text"], .gwt-TextBox, select, textarea, .gwt-TextArea, iframe.objectPropertiesTextEditor {
	border-radius: 25px;
}
