.inputDialog button,
.inputDialog .button,
.infoDialog .button,
.infoDialog button {
	margin-right: 0px !important;
	margin-left: 6px !important;
}

/* -------- APPLE Additional GUIs ------- */

body .browsegui .headerSecond .searchButton {
	right: 30px;
	left: auto;
}

body .browsegui .headerSecond .cancelButton {
	left: 18px;
	right: auto;
}

.backButton .gwt-Label,
body .headerbar .headerSecond .textButton {
	border-top: 1px solid #444444;
	border-left: 1px solid #444444;
	border-bottom: 1px solid #444444;
	border-right: none;
}