@charset "utf-8";

body .browsegui .button,
body .worksheetgui .button {
	border: none;
	background: none;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

body .browsegui .button.nextPrevDisabled {
	opacity: 0.2;
	filter: alpha(opacity = 20);
}

.browsegui .button.button-up-hovering,
.worksheetgui .button.button-up-hovering  {
	border: none;
	/*opacity: 1;
	filter: alpha(opacity = 100);*/
}

/* BrowseGUI, WorksheetGUI HEADER */

body div .browsegui .headerbar,
body div .worksheetgui .headerbar {
	height: 50px;
}


body .browsegui .headerFirst,
body .worksheetgui .headerFirst {
	margin-left: 0px;
	padding-left: 10px;
}

body .browsegui .headerFirst img,
body .worksheetgui .headerFirst img {
	height: 20px;
	width: 11px;
	margin-top: 8px;
}

body .backButton {
	display: table-cell;
}

body .backButton .image {
	float: left;
}

body .backButton .gwt-Label {
	margin-left: 14px;
}






/* BrowseGUI CONTENT */


.browsegui .confirmDelete {
	height: 41px;
	margin-top: 17px;
	width: 100%	
}

.browsegui .browserFile td:nth-child(2) {
	width: 100%;
}

.browsegui .confirmDelete td {
	border: 3px solid #C2C2FF;
	border-radius: 11px;
	background-color: #ffffff;
	color: #505050;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle !important;
	width: 50%;
}


.browsegui .button.delete {
	margin-top: 3px;
}

.browsegui .fileClear {
	clear: both;
}

.browsegui {
	background-color: white;
}



/* WORKSHEET GUI CONTENT */

.worksheetgui {
	background-color: #FFFFFF;
}

.worksheetgui .worksheet {
	padding: 30px 20px 40px 20px;
}

.worksheet .instructionsPre {
	margin-bottom: 20px;
}

.worksheet iframe {
	border: 1px solid #CCCCCC;
}

.worksheet .instructionsPost {
	margin-top: 20px;
}