@charset "utf-8";

/* TOOLS AND STYLEBAR BUTTONS */

.arrowRight img {
	margin: 4px;
	-moz-transform: none;
	-o-transform: none;
	-webkit-transform: none;
	transform: none;
}

.arrowLeft img {
	margin: 4px;
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );*/
}

.algebraOpenButton{
	float: left;
	margin-left:10px;
}

.arrowBottom img {
	margin: 4px;
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1 );
}

.stylebar div.button,
.headerbar div.button,
.algebraViewButtonPanel div.button {
	margin: 0px 0px 0px 6px;
}

.toolbar div.button,
.subToolBar div.button {
	margin: 0px 0px 0px 6px;
}

input {
	text-align: right !important;
}

/* #####################################################################
####                    HEADER, STYLEBAR							####
##################################################################### */

input.worksheetTitle {
	text-align: center !important;
}

.headerSecond {
	margin-left: 10px;
	float:left;
}

.headerFirst {
	margin-right: 10px;
	float:right;
}

.stylebar {
	padding: 6px 10px 5px 6px;
	margin-left: -6px;
	display: inline-block;
	/* Border */
	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	
	-webkit-border-bottom-right-radius: 0px;
	-khtml-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	
	border-left: #CCCCCC solid 1px;
}

.optionsBoxArrow {
	right: 17px;
	left: auto;
}

.optionsBox {	
	top: 0px;
	left: 12px;
}

.optionsBox .button,
.optionsBox .button.button-up-hovering {
	float: right;
}

.optionsBox button {
	margin-left: 5px;
}

.optionsBox input[type="range"] {
	margin-right: -2px;
}

.captionBar button {
	text-align: right;
}

/* #####################################################################
####                    ALGEBRA VIEW 								####
##################################################################### */
.algebraViewAndStylebar {
	overflow-y: hidden;
	
	border-right: #CCCCCC solid 1px;
}

.algebraView {
	padding: 0px 5px 0px 20px;
	overflow-y: hidden;
}

body .algebraViewButtonPanel { /* Border */
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	
	-webkit-border-bottom-left-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;

	margin-left: 5px;
}

body .algebraViewArrowPanel {
	padding: 6px 6px 5px 5px;
	
	/* Border */	
	-webkit-border-bottom-right-radius: 5px;
	-khtml-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	
	-webkit-border-bottom-left-radius: 0px;
	-khtml-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
	
	border-right: #CCCCCC solid 1px;
	border-left: none;
}

div.elemHeadingName {
	float: right;
	position: inherit;
}

.elem td {
	text-align: right;
	padding-left: 5px;
}

/* #####################################################################
####                    TOOL BAR									####
##################################################################### */

.toolbar .toolbarButtonPanel .button {
	float: right;
}

body .toolbar.visible .arrowLeft {
	margin-right: 30px;
	margin-left: 0px;
	float: left;
}

body .toolbar .arrowLeft {
	margin-left: 6px;
	float: left;
}

.subToolBar {
	margin-right: -6px;
}

.subToolBarButtonPanel {
	padding: 5px 0px 0px 5px;
}

.subToolBar.horizontalOrder .subToolBarButtonPanel div.button {
	float: right;
}

.subToolBarArrow {
	padding-right: 23px;
}

/* #####################################################################
####                    INPUT	AND   DIALOGS						####
##################################################################### */

body .inputPanel {
	padding-right: 0px;
	padding-left: 20px;
}

.inputbarPanel {
	float: left;
}

.toolbar.visible .inputPanel {
	margin: 0px 10px 5px 0px;
}

.toolbar.visible .iconPanel img {
	float: left;
}

.customKeyPanel {
	margin-left: -6px;
	margin-right: 0px;
}

.inputDialog button,
.inputDialog .button,
.infoDialog .button,
.infoDialog button {
	margin-right: 0px !important;
	margin-left: 6px !important;
}

body .infoDialog .button.last,
body .infoDialog button.last {
	margin: 0px !important;
}

.sliderDialog .sliderPanel .inputField {
	margin-left: 30px;
	margin-right: 0px;
}

.sliderDialog .sliderPanel .inputField.last {
	margin-left: 0px;
}

.radioButton .image {
	float: right;
}

.radioButtonPanel .radioButton .gwt-Label {
	margin-right: 10px;
	float: left;
	padding: 7px 10px 5px 40px;
}