@charset "utf-8";

body div {
	font-family: "Helvetica", sans-serif;
}

body {
	background: url(../img/geogebraLogo.png) center center no-repeat #FFFFFF;
	min-height: 768px;
}

/* HEADER */

body .button.shareButton img {
	width: 35px;
	margin-top: -2px;
	margin-left: 3px;
}

body .headerbar,
body .worksheetTitle {
	color: #FFFFFF;
	
	/* Background */
	background-image: linear-gradient(top, rgb(136, 136, 136) 0%, rgb(68, 68, 68) 50% );
	background-image: -o-linear-gradient(top, rgb(136, 136, 136) 0%, rgb(68, 68, 68) 50% );
	background-image: -moz-linear-gradient(top, rgb(136, 136, 136) 0%, rgb(68, 68, 68) 50% );
	background-image: -webkit-linear-gradient(top, rgb(136, 136, 136) 0%, rgb(68, 68, 68) 50% );
	background-image: -ms-linear-gradient(top, rgb(136, 136, 136) 0%, rgb(68, 68, 68) 50% );
	background-image: -webkit-gradient(linear, left top, left bottom,
		color-stop(0, rgb(136, 136, 136) ),
		color-stop(0.5, rgb(68, 68, 68) ) ) );
}

.worksheetTitle,
body .browsegui .headerbar .gwt-Label,
body .worksheetgui .headerbar .gwt-Label {
	font-size: 18px;
	opacity: 1;
	filter: alpha(opacity=1);
	text-shadow: 0px -2px 2px #111111;
}

body .headerbar div.button {
	/*background: none;
	background-image: none;
	background-color: none;
	border: none;
	padding: 0px;*/
	margin: 0px 10px 0px 6px;
}

/* ALGEBRA VIEW */

body .elemHeadingName {
	position: static;
}

/* TOOLBAR -> INPUT */

body .inputPanel {
	width: 100%;
	padding-right: 20px;
}

body .inputbarPanel input {
	border: #CCCCCC solid 1px;
	color: #BABABA;
	background: #FFFFFF;
	width: 100%;
	padding: 4px 10px;
	
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

/* POPUP */

body .imageDialog,
body .inputDialog,
body .infoDialog {
	padding: 6px;
	
	color: #FFFFFF;
	
	/* Border */
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #FFFFFF solid 2px;
	
	/* Background */
	background-image: linear-gradient(top, rgb(140, 150, 170) 0%, rgb(68, 71, 104) 40% );
	background-image: -o-linear-gradient(top, rgb(140, 150, 170) 0%, rgb(68, 71, 104) 40% );
	background-image: -moz-linear-gradient(top, rgb(140, 150, 170) 0%, rgb(68, 71, 104) 40% );
	background-image: -webkit-linear-gradient(top, rgb(140, 150, 170) 0%, rgb(68, 71, 104) 40% );
	background-image: -ms-linear-gradient(top, rgb(140, 150, 170) 0%, rgb(68, 71, 104) 40% );
	background-image: -webkit-gradient(linear, left top, left bottom,
	color-stop(0, rgb(140, 150, 170) ),
	color-stop(0.4, rgb(68, 71, 104) ) ) );
	
	/* Shadow */
	-webkit-box-shadow: 3px 3px 5px #999999;
	-moz-box-shadow: 3px 3px 5px #999999;
	box-shadow: 3px 3px 5px #999999;
	background-color: #434967;
}

.imageDialog .title,
.inputDialog .title,
.infoDialog .title {
	padding: 10px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 18px;
	text-shadow: 0px -2px 2px #111111;
}

.imageDialog .gwt-Label,
.inputDialog .gwt-Label,
.infoDialog .gwt-Label {
	text-align: center;
	font-size: 15px;
	text-shadow: 0px -2px 2px #111111;
}

body .inputDialog .gwt-TextBox,
body .infoDialog .gwt-TextBox {
	border: #FFFFFF solid 1px;
	color: #000000;
	background: #FFFFFF;
	width: 662px;
	padding: 4px 10px;
	
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

body .infoDialog .textPanel {
	padding: 0px 15px 25px 15px;
}

body .errorDialog .textPanel {
	margin: 0px 15px;
}

body .infoDialog .textPanel img {
	width: 0px;
	height: 0px;
}

body .inputDialog .errorBox {
	margin-left: 15px;
}

body .inputDialog .iconPanel img {
	margin-right: 15px;
	text-shadow: 0px -2px 2px #111111;
}

.buttonPanel td {
	text-align: center;
}

/* Image Dialog */

.imageDialog .insertChoicePanel {
	padding: 0 15px;
	min-width: 200px;
}

.imageDialog .insertChoicePanel div.button {
	background-image: none;
	padding: 5px 5px 1px 5px;
	margin-top: 10px;
	border: none;
}

.insertChoicePanel .button .image {
	float: left;
	margin-right: 15px;
}

.insertChoicePanel .button .gwt-Label {
	float: left;
	margin-top: 7px;
}

.imageDialog .buttonPanel {
	margin-top: 15px;
}


body .imageDialog button,
body .inputDialog button,
body .infoDialog .button,
body .infoDialog button {
	border: none;
	
	/* Background */
	background: linear-gradient(top, rgb(175, 180, 196) 0%, rgb(123, 132, 156) 50%, rgb(82, 94, 125) 51%, rgb(99, 110, 138) 100% );
	background: -o-linear-gradient(top, rgb(175, 180, 196) 0%, rgb(123, 132, 156) 50%, rgb(82, 94, 125) 51%, rgb(99, 110, 138) 100% );
	background: -moz-linear-gradient(top, rgb(175, 180, 196) 0%, rgb(123, 132, 156) 50%, rgb(82, 94, 125) 51%, rgb(99, 110, 138) 100% );
	background: -webkit-linear-gradient(top, rgb(175, 180, 196) 0%, rgb(123, 132, 156) 50%, rgb(82, 94, 125) 51%, rgb(99, 110, 138) 100% );
	background: -ms-linear-gradient(top, rgb(175, 180, 196) 0%, rgb(123, 132, 156) 50%, rgb(82, 94, 125) 51%, rgb(99, 110, 138) 100% );
	background: -webkit-gradient(linear, left top, left bottom,
	color-stop(0, rgb(175, 180, 196) ),
	color-stop(0.5, rgb(68, 71, 104) ),
	color-stop(0.51, rgb(82, 94, 125) ),
	color-stop(1, rgb(99, 110, 138) ) );
	
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 15px;
	padding: 5px;
	
	text-shadow: 0px -2px 2px #111111;
}

body .imageDialog .buttonPanel button,
body .infoDialog .buttonPanel button,
body .errorDialog .buttonPanel button,
body .sliderDialog .buttonPanel button {
	margin-right: 6px;
	padding: 10px 20px;
	width: auto;
}

body .infoDialog .button.last,
body .infoDialog button.last {
	margin: 0px;
}

 body .sliderDialog .name .gwt-TextBox {
	width: 374px;
	text-align: center;
}

/* ADDITIONAL GUIs + TEXTBUTTONS! */

.browsegui .button.delete {
	margin-top: 5px;
}

body .browsegui .headerFirst,
body .worksheetgui .headerFirst {
	border-spacing: 0px;
	margin-left: 5px;
	font-weight: normal;
}

.headerbar .headerFirst .backButton .image img {
	height: 37px;
	width: 14px;
	opacity: 1;
	filter: alpha(opacity=1);
	margin: 0px;
	padding: 0px;
}

body .browsegui .headerbar .headerFirst div.button.backButton,
body .worksheetgui .headerbar .headerFirst div.button.backButton  {
	height: 37px;
	opacity: 1;
	filter: alpha(opacity=1);
	margin: 0px;
	padding: 0px;
}

.browsegui .headerbar .headerFirst .backButton .gwt-Label,
.worksheetgui .headerbar .headerFirst .backButton .gwt-Label {
	font-weight: normal;
	font-size: 12px;
}

.backButton .gwt-Label,
body .headerbar .headerSecond .textButton {
	/* Background */
	background: linear-gradient(top, rgb(125, 125, 125) 0%, rgb(68, 68, 68) 98%, rgb(83, 83, 83) 99%, rgb(102, 102, 102) 100% );
	background: -o-linear-gradient(top, rgb(125, 125, 125) 0%, rgb(68, 68, 68) 98%, rgb(83, 83, 83) 99%, rgb(102, 102, 102) 100% );
	background: -moz-linear-gradient(top, rgb(125, 125, 125) 0%, rgb(68, 68, 68) 98%, rgb(83, 83, 83) 99%, rgb(102, 102, 102) 100% );
	background: -webkit-linear-gradient(top, rgb(125, 125, 125) 0%, rgb(68, 68, 68) 90%, rgb(83, 83, 83) 95%, rgb(102, 102, 102) 100% );
	background: -ms-linear-gradient(top, rgb(125, 125, 125) 0%, rgb(68, 68, 68) 98%, rgb(83, 83, 83) 99%, rgb(102, 102, 102) 100% );
	background: -webkit-gradient(linear, left top, left bottom,
	color-stop(0, rgb(125, 125, 125) ),
	color-stop(0.90, rgb(68, 68, 68) ),
	color-stop(0.95, rgb(83, 83, 83) )
	color-stop(1, rgb(102, 102, 102) ) );
	
	height: 27px;
	padding: 10px 20px 0px 20px;
	font-size: 12px;
	
	/* Border */
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	border-top: 1px solid #444444;
	border-right: 1px solid #444444;
	border-bottom: 1px solid #444444;
}

body .headerbar .headerSecond div.textButton {
	margin: 0px;
	margin-top: -3px;
	/* Border */
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
	text-shadow: 0px -2px 2px #111111;
}

.textButton.first {
	/* Border */
	-webkit-border-top-left-radius: 7px !important;
	-khtml-border-top-left-radius: 7px !important;
	-moz-border-top-left-radius: 7px !important;
	border-top-left-radius: 7px !important;
	
	-webkit-border-bottom-left-radius: 7px !important;
	-khtml-border-bottom-left-radius: 7px !important;
	-moz-border-bottom-left-radius: 7px !important;
	border-bottom-left-radius: 7px !important;
	
	border-left: 1px solid #444444;
}


.textButton.last {
	/* Border */
	-webkit-border-top-right-radius: 7px !important;
	-khtml-border-top-right-radius: 7px !important;
	-moz-border-top-right-radius: 7px !important;
	border-top-right-radius: 7px !important;
	
	-webkit-border-bottom-right-radius: 7px !important;
	-khtml-border-bottom-right-radius: 7px !important;
	-moz-border-bottom-right-radius: 7px !important;
	border-bottom-right-radius: 7px !important;
	
	border-right: 1px solid #444444;
}

.browsegui .headerSecond input.gwt-TextBox {
	/* Border */
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	
	border: 1px solid #3E3E3E;
	
	/* Background */
	background: linear-gradient(top, rgb(79, 79, 79) 0%, rgb(113, 113, 113) 100% );
	background: -o-linear-gradient(top, rgb(79, 79, 79) 0%, rgb(113, 113, 113) 100% );
	background: -moz-linear-gradient(top, rgb(79, 79, 79) 0%, rgb(113, 113, 113) 100% );
	background: -webkit-linear-gradient(top, rgb(79, 79, 79) 0%, rgb(113, 113, 113) 100% );
	background: -ms-linear-gradient(top, rgb(79, 79, 79) 0%, rgb(113, 113, 113) 100% );
	background: -webkit-gradient(linear, left top, left bottom,
	color-stop(0, rgb(79, 79, 79) ),
	color-stop(1, rgb(113, 113, 113) ) );
	
	position: relative;
	z-index: 2;
	
	padding-left: 30px;
	padding-right: 30px;
}

.browsegui .headerSecond .searchButton {
	position: relative;
	z-index: 5;
	left: 30px;
	top: 5px;
}

.browsegui .headerSecond .cancelButton {
	position: absolute;
	right: 18px;
	top: 12px;
	z-index: 5;
}