@charset "utf-8";

body .headerbar div.button {
	margin: 0px 6px 0px 10px;
}

body .headerSecond .searchPanel {
	margin-left: 10px;
}

body .headerSecond .inputUnderline {
	margin-left: 8px;
}

/* POPUP Dialog INPUT */

body .errorDialog .textPanel {
	margin: 0px 15px 0px 30px;
}

.inputField.name,
.sliderDialog .sliderPanel {
	margin-right: 15px;
	margin-left: 0px;
}

.inputDialog .gwt-Label,
.infoDialog .gwt-Label {
	text-align: right;
}


body .sliderDialog .sliderPanel .inputField.last {
	margin-left: 20px;
	margin-right: 0px;
}

.customKeyPanel {
	margin-left: 0px;
}

body .inputDialog button,
body .infoDialog button {
	border-left: 1px solid #999999;
	border-right: none;
}

body .inputDialog button.last,
body .infoDialog button.last {
	border-left: none;
}

body .inputDialog .iconPanel,
body .infoDialog .iconPanel {
	margin-left: 10px;
	margin-right: 0px;
}