@charset "utf-8";

body,
body input {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

body {
	min-height: 600px;
	background: url(../img/geogebraLogo.png) center center no-repeat #FFFFFF;
}

/* ########################################
###              HEADER                 ###
####################################### */

body div .headerbar,
body div .worksheetTitle {
	color: #FFFFFF;
	font-weight: normal;
	font-family: "Roboto", sans serif;
	font-size: 18px;
	
	/* Border */
	border: none;
	/* Background */
	background-image: linear-gradient(top, rgb(68, 68, 68) 0%, rgb(37, 37, 37) 100% );
	background-image: -o-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(37, 37, 37) 100% );
	background-image: -moz-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(37, 37, 37) 100% );
	background-image: -webkit-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(37, 37, 37) 100% );
	background-image: -ms-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(37, 37, 37) 100% );
	background-image: -webkit-gradient(linear, left top, left bottom,
	color-stop(0, rgb(68, 68, 68) ),
	color-stop(1, rgb(37, 37, 37) ) ) );
}

body .worksheetTitle {
	margin-top: 0px;
}

body .headerbar div.button,
body .headerbar .worksheetTitle {
	opacity: 0.8;
  	filter: alpha(opacity=80);
}

body .headerbar div.button.disabled {
	opacity: 0.3;
  	filter: alpha(opacity=30);
}

body .headerbar div.button {
	border: none;
	margin: 0px 10px 0px 6px;
}

body .backButton .gwt-Label {
	padding: 4px 10px;
}

body .headerbar div.button.button-up-hovering {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.inputUnderline {
	margin: -10px -5px 0px -5px;
	height: 4px;
}

.inputUnderline.inactive {
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}

.inputUnderline.active {
	border-left: 2px solid #9999FF;
	border-right: 2px solid #9999FF;
	border-bottom: 2px solid #9999FF;
}

/*##########################################
###            INPUT BAR                 ###
######################################### */

body .inputbarPanel input {
	border: none;
	background: none;
	padding: 4px 0px;
	color: #999999;
	height: 28px;
	font-size: 14px;
	width: 210px;
}

body .toolbar.visible .inputbarPanel {
	margin-bottom: 10px;
}

body .toolbar.visible .inputPanel {
	width: 100%;
}

/* POPUP Dialog INPUT */

body .imageDialog,
body .inputDialog,
body .infoDialog {
	padding: 0px;
	
	color: #FFFFFF;
	
	/* Border */
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: #444444 solid 1px;
	
	/* Shadow */
	-webkit-box-shadow: 3px 3px 5px #999999;
	-moz-box-shadow: 3px 3px 5px #999999;
	box-shadow: 3px 3px 5px #999999;
	background-color: #222222;
}

body .errorDialog .textPanel {
	margin: 0px 30px 0px 15px;
}

.imageDialog .insertChoicePanel {
	padding: 0 15px;
	min-width: 200px;
}

.imageDialog .insertChoicePanel div.button {
	background-image: none;
	padding: 5px 5px 1px 5px;
	margin-top: 10px;
	border: none;
}

.insertChoicePanel .button .image {
	float: left;
	margin-right: 15px;
}

.insertChoicePanel .button .gwt-Label {
	float: left;
	margin-top: 7px;
}

.imageDialog .titlePanel,
.inputDialog .titlePanel,
.infoDialog .titlePanel {
	border-bottom: 2px solid #9999FF;
	font-size: 18px;
	color: #FFFFFF;
	padding: 15px;
	margin-bottom: 15px;
}

.inputField.name,
.sliderDialog .sliderPanel {
	margin-left: 15px;
}

.imageDialog .gwt-Label,
.inputDialog .gwt-Label,
.infoDialog .gwt-Label {
	text-align: left;
	font-size: 14px;
	color: #FFFFFF;
}

body .inputDialog .gwt-TextBox,
body .infoDialog .gwt-TextBox {
	margin-top: 5px;
	border: none;
	padding: 3px;
	background: none;
	color: #FFFFFF;
	width: 560px;
}

.sliderDialog .name .gwt-TextBox {
	width: 340px;
}

.inputDialog.angleDialog {
	width: 600px;
}

.angleDialog .name .gwt-TextBox {
	width: 560px;
}

body .sliderDialog .sliderPanel .inputField.last {
	margin-right: 20px;
}

body .radioButtonPanel .gwt-RadioButton label {
	color: #FFFFFF;
}

body .infoDialog .textPanel {
	padding: 0px 15px;
}

body .imageDialog .buttonPanel,
body .inputDialog .buttonPanel {
	width: 100%;
	margin-top: 20px;
}

body .imageDialog .buttonPanel button,
body .inputDialog .buttonPanel button {
	width: 100%;
}

.imageDialog div.button img {
	width: 30px;
	height: 30px;
}

.customKeyPanel {
	margin-right: 0px;
}

body .imageDialog button,
body .inputDialog button,
body .infoDialog button {
	margin: 0px;
	border: none;
	background: none;
	width: 40px;
	height: 40px;
	
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
	color: #FFFFFF;
	font-size: 14px;
	border-right: 1px solid #999999;
	border-top: 1px solid #999999;
	padding: 5px;
}

body .infoDialog .buttonPanel button {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding: 5px 40px;
	font-size: 12px;
}

body .imageDialog button.last,
body .inputDialog button.last,
body .infoDialog button.last {
	border-right: none;
}

body .inputDialog .iconPanel,
body .infoDialog .iconPanel {
	margin-right: 10px;
}

body .gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}