@charset "utf-8";

/* BrowseGUI, WorksheetGUI HEADER */

body .browsegui .headerFirst,
body .worksheetgui .headerFirst {
	margin-right: 0px;
	padding-right: 10px;
}

body .browsegui .headerbar div.button,
.worksheetgui .headerbar div.button {
	margin: 0px 5px 0px 0px;
}

body .browsegui .headerFirst div.button,
body .worksheetgui .headerFirst div.button {
	padding-left: 5px;
}

body .backButton .image {
	float: right;
	
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

body .backButton .gwt-Label {
	margin-right: 14px;
}

/* BrowseGUI CONTENT */

.browsegui .filePanelTitle {
	float: right;
}

.browsegui .filePageControls {
	float: right;
}

.browsegui .fileImage {
	margin-left: 20px;
	float: right;
}

.browsegui .fileDescription {
	float: right;
}

.browsegui .fileDescription td {
	text-align: right;
}

.browsegui .fileLinks {
	float: left;
}

.browsegui .filePageControls {
	float: right;
}

.browsegui .fileControlPanel img {
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.prevButton {
	float: right;
}

.nextButton {
	float: left;
}

/* -------- APPLE ------- */

body .browsegui .headerSecond .searchButton {
	right: 30px;
	left: auto;
}

body .browsegui .headerSecond .cancelButton {
	left: 18px;
	right: auto;
}

.backButton .gwt-Label,
body .headerbar .headerSecond .textButton {
	border-top: 1px solid #444444;
	border-left: 1px solid #444444;
	border-bottom: 1px solid #444444;
	border-right: none;
}