@charset "utf-8";

body {
	font-family: "Segoe UI Semilight", sans-serif;
	font-size: 15px;
	-ms-font-feature-settings: 'kern' 1, 'dlig' 1, 'ss20' 1, 'lig' 1;
	background: none;
}

/*##########################################
###            INPUT BAR                 ###
######################################### */

body .inputbarPanel input {
	border-width: 2px;
}

/* POPUP Dialog INPUT */

body .inputDialog,
body .infoDialog {
	padding: 0px 0px 20px 0px;
	z-index: 50;
	
	width: 100%;
	
	border: none;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: none;
	background-color: #FFFFFF;
}

.inputDialog table.panelContainer {
	width: 100%;
}

body .inputDialog .titlePanel,
body .infoDialog .titlePanel {
	background-color: #7676C4;
	padding: 15px 0px;
	margin-bottom: 15px;
	width: 100%;
	text-align: left;
	font-family: "Segoe UI Light", sans-serif;
	font-size: 26px;
	color: #FFFFFF;
}

.inputDialog .contentPanel {
	width: 740px;
	border-spacing: 0px;
}

.inputDialog .contentPanel td.left {
	width: 420px;
}

.inputDialog .contentPanel td.right {
	width: 200px;
	padding-left: 60px;
}

.inputDialog .gwt-Label,
.infoDialog .gwt-Label {
	text-align: left;
}

body .inputDialog .gwt-TextBox,
body .infoDialog .gwt-TextBox {
	margin-top: 5px;
	padding: 3px;
	border: #999999 2px solid;
	font-family: "Segoe UI Semilight", sans-serif;
}

body .inputDialog .textBox,
body .infoDialog .textBox {
	margin-top: 5px;
	padding: 3px;
	width: 730px;
	border: #999999 2px solid;
	font-family: "Segoe UI Semilight", sans-serif;
}

body .inputDialog.sliderDialog .textBox {
	width: 393px;
}

.inputDialog.sliderDialog .sliderPanel .gwt-TextBox {
	width: 111px;
	margin-right: 20px;
}

body .inputDialog .gwt-TextBox.active,
body .infoDialog .gwt-TextBox.active {
	border-color: #9999FF;
}

.inputDialog .errorBox {
	color: #FF3300;
}

body .infoDialog .textPanel {
	padding: 0px 15px 15px 15px;
}

.inputDialog .radioButtonPanel {
	width: 200px;
	padding-top: 10px;
}

.inputDialog .radioButtonPanel span.gwt-RadioButton {
	width: 100px;
	display: inline-block;
}

.inputDialog .radioButtonPanel input[type="radio"] {
	width: 20px;
	height: 20px;
}

body .inputDialog .gwt-PopupPanel,
body .infoDialog .gwt-PopupPanel {
	border: none;
	padding: 0px;
}

body .inputDialog .customKeyPanel {
	width: 750px;
}

body .inputDialog button,
body .infoDialog button {
	font-family: "Segoe UI Semibold", sans-serif;
	margin-right: 10px;
	
	background: #999999;
	width: 40px;
	height: 40px;
	
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	
	border: none;
}

body .infoDialog .buttonPanel button {
	/*text-align: center;
	vertical-align: middle;
	padding: 5px 40px;*/
}

body .inputDialog button:hover,
body .infoDialog button:hover {
	border: none;
	background-image: none;
	background: #000000;
	color: #FFFFFF;
}

body .inputDialog .iconPanel,
body .infoDialog .iconPanel {
	margin-right: 10px;
}

body .gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.7;
	filter: alpha(opacity = 70);
}