/* MEBIS COLORS for MOW*/
$mebis-teal: #00a8d5;
$mebis-teal-dark: #0079a3;
$mebis-teal-light: #b7e4f1;
$mebis-teal-hover: #55bee0;
$mebis-teal-20: rgba(0, 168, 213,.2);

$mebis-teal-dark-26: rgba(0,121,163,.26);
$mebis-teal-dark-87: rgba(0,121,163,.87);

$mow_primary: $mebis-teal;
$mow_primary_20: $mebis-teal-20;
$mow_toolbar: $mebis-teal;
$mow_highlight: $mebis-teal;
$mow_dark: $mebis-teal-dark;
$mow_light: $mebis-teal-light;
$mow_hover: $mebis-teal-hover;
$mow_dark_26: $mebis-teal-dark-26;
$mow_dark_87: $mebis-teal-dark-87;
