{{#if widget.background}}
    <div class="wrap-property clearfix">
        <label>Background
            <div type="button" class="add-keyframe" data-property-set="backgroundColor"
                 data-property-key="backgroundColor"></div>
        </label>
        <input class="color-picker" id="background-picker"/>
    </div>
{{/if}}

{{#ifvalue widget.type value='button'}}
    {{#if widget.url}}
        <div class="wrap-property clearfix">
            <label style="width: 150px;">Background-image</label>
            <button id="upload-image" class="k-button">browse</button>
        </div>
    {{/if}}
{{/ifvalue}}

{{#ifvalue widget.type value='image'}}
    {{#if widget.url}}
        <div class="wrap-property clearfix">
            <label style="width: 150px;">Background-image</label>
            <button id="upload-image" class="k-button">browse</button>
        </div>
    {{/if}}
{{/ifvalue}}

{{#ifvalue widget.type value='responsiveImage'}}

    <div class="wrap-property clearfix">
        <label style="width: 150px;">Image url</label>
        <button id="upload-image" class="k-button">browse</button>
    </div>

    <div class="wrap-property clearfix">
        <label>BgPositionX
            <span type="button" class="add-keyframe" data-property-set="styles"
                  data-property-key="backgroundPositionX"></span>
        </label>

        <select name="" class="units-string" data-property-set="units" data-property-key="backgroundPositionX">
            {{#select_units widget.styles.backgroundPositionX}}
                <option value="vw">vw</option>
                <option value="vh">vh</option>
                <option value="vmax">vmax</option>
                <option value="vmin">vmin</option>
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="rem">rem</option>
                <option value="left">left</option>
                <option value="center">center</option>
                <option value="right">right</option>
            {{/select_units}}
        </select>
        <input property type="number" step="{{#format_value widget.styles.backgroundPositionX}}{{/format_value}}"
               value="{{#number_only widget.styles.backgroundPositionX}}{{/number_only}}" class="units-number"
               data-property-set="styles" data-property-key="backgroundPositionX"/>
    </div>


    <div class="wrap-property clearfix">
        <label>BgPositionY
            <span type="button" class="add-keyframe" data-property-set="styles"
                  data-property-key="backgroundPositionY"></span>
        </label>

        <select name="" class="units-string" data-property-set="units" data-property-key="backgroundPositionY">
            {{#select_units widget.styles.backgroundPositionY}}
                <option value="vw">vw</option>
                <option value="vh">vh</option>
                <option value="vmax">vmax</option>
                <option value="vmin">vmin</option>
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="rem">rem</option>
                <option value="top">top</option>
                <option value="center">center</option>
                <option value="bottom">bottom</option>
            {{/select_units}}
        </select>
        <input property type="number" step="{{#format_value widget.styles.backgroundPositionY}}{{/format_value}}"
               value="{{#number_only widget.styles.backgroundPositionY}}{{/number_only}}" class="units-number"
               data-property-set="styles" data-property-key="backgroundPositionY"/>

    </div>

    <div class="wrap-property clearfix">
        <label>BgSize
            <span type="button" class="add-keyframe" data-property-set="styles"
                  data-property-key="backgroundSize"></span>
        </label>
        <select data-property-set="styles" data-property-key="backgroundSize">
            {{#select widget.styles.backgroundSize}}
                <option value="auto">custom</option>
                <option value="inherit">inherit</option>
                <option value="cover">cover</option>
                <option value="contain">contain</option>
            {{/select}}
        </select>
    </div>

    <div class="input-backgroundSize wrap-property clearfix">
        <label class="inner-label">Width</label>
        <select name="" class="units-string" data-property-set="units" data-property-key="backgroundSizeWidth">
            {{#select_units widget.styles.backgroundSizeWidth}}
                <option value="vw">vw</option>
                <option value="vh">vh</option>
                <option value="vmax">vmax</option>
                <option value="vmin">vmin</option>
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="rem">rem</option>
                <option value="%">%</option>
            {{/select_units}}
        </select>

        <input property type="number" step="{{#format_value widget.styles.backgroundSizeWidth}}{{/format_value}}"
               value="{{#number_only widget.styles.backgroundSizeWidth}}{{/number_only}}" class="units-number"
               data-property-set="styles" data-property-key="backgroundSizeWidth"/>
    </div>

    <div class="input-backgroundSize wrap-property clearfix">
        <label class="inner-label">Height</label>
        <select name="" class="units-string" data-property-set="units" data-property-key="backgroundSizeHeight">
            {{#select_units widget.styles.backgroundSizeHeight}}
                <option value="vw">vw</option>
                <option value="vh">vh</option>
                <option value="vmax">vmax</option>
                <option value="vmin">vmin</option>
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="rem">rem</option>
                <option value="%">%</option>
            {{/select_units}}
        </select>

        <input property type="number" step="{{#format_value widget.styles.backgroundSizeHeight}}{{/format_value}}"
               value="{{#number_only widget.styles.backgroundSizeHeight}}{{/number_only}}" class="units-number"
               data-property-set="styles" data-property-key="backgroundSizeHeight"/>
    </div>

    <div class="wrap-property clearfix">
        <label>BgRepeat</label>
        <select data-property-set="styles" data-property-key="backgroundRepeat">
            {{#select widget.styles.backgroundRepeat}}
                <option value="no-repeat">no-repeat</option>
                <option value="repeat">repeat</option>
                <option value="no-repeat repeat">no-repeat repeat</option>
                <option value="repeat no-repeat">repeat no-repeat</option>
            {{/select}}
        </select>
    </div>

{{/ifvalue}}

{{#if widget.styles.webkitMaskImage}}
    <div class="clearfix">
        <label>Mask-image</label>
        <button id="upload-mask-image" class="k-button">browse</button>
    </div>
    {{#ifvalues widget.styles.webkitMaskImage
                value='{"showHide":"true", "notEqual": "true","items": [" ", "initial"]}'}}
        <div class="clearfix">
            <div class="mask-image-remove-area text-right">
                <span class="url-text">{{#format_name_background_url
                    widget.styles.webkitMaskImage}}{{/format_name_background_url}}&nbsp;&nbsp;</span>
                &nbsp;&nbsp;&nbsp;&nbsp;<span id="remove-mask-image" class="fa fa-times-circle remove-property"></span>&nbsp;&nbsp;
            </div>
        </div>
    {{/ifvalues}}
{{/if}}

{{#if widget.styles.-webkit-mask-position-x}}
    <div class="wrap-property clearfix">
        <label>MaskPositionX
            <span type="button" class="add-keyframe" data-property-set="styles"
                  data-property-key="-webkit-mask-position-x"></span>
        </label>

        <select name="" class="units-string" data-property-set="units" data-property-key="-webkit-mask-position-x">
            {{#select_units widget.styles.-webkit-mask-position-x}}
                <option value="vw">vw</option>
                <option value="vh">vh</option>
                <option value="vmax">vmax</option>
                <option value="vmin">vmin</option>
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="rem">rem</option>
                <option value="left">left</option>
                <option value="center">center</option>
                <option value="right">right</option>
            {{/select_units}}
        </select>
        <input property type="number" step="{{#format_value widget.styles.-webkit-mask-position-x}}{{/format_value}}"
               value="{{#number_only widget.styles.-webkit-mask-position-x}}{{/number_only}}" class="units-number"
               data-property-set="styles" data-property-key="-webkit-mask-position-x"/>
    </div>
{{/if}}

{{#if widget.styles.-webkit-mask-position-y}}
    <div class="wrap-property clearfix">
        <label>MaskPositionY
            <span type="button" class="add-keyframe" data-property-set="styles"
                  data-property-key="-webkit-mask-position-y"></span>
        </label>

        <select name="" class="units-string" data-property-set="units" data-property-key="-webkit-mask-position-y">
            {{#select_units widget.styles.-webkit-mask-position-y}}
                <option value="vw">vw</option>
                <option value="vh">vh</option>
                <option value="vmax">vmax</option>
                <option value="vmin">vmin</option>
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="rem">rem</option>
                <option value="left">left</option>
                <option value="center">center</option>
                <option value="right">right</option>
            {{/select_units}}
        </select>
        <input property type="number" step="{{#format_value widget.styles.-webkit-mask-position-y}}{{/format_value}}"
               value="{{#number_only widget.styles.-webkit-mask-position-y}}{{/number_only}}" class="units-number"
               data-property-set="styles" data-property-key="-webkit-mask-position-y"/>
    </div>
{{/if}}

{{#if widget.styles.-webkit-mask-size}}
    <div class="wrap-property mask-size clearfix">
        <label>MaskSize
            <span type="button" class="add-keyframe" data-property-set="styles"
                  data-property-key="-webkit-mask-size"></span>
        </label>
        <select data-property-set="styles" data-property-key="-webkit-mask-size">
            {{#select widget.styles.-webkit-mask-size}}
                <option value="auto">custom</option>
                <option value="inherit">inherit</option>
                <option value="cover">cover</option>
                <option value="contain">contain</option>
            {{/select}}
        </select>
    </div>

    <div class="input--webkit-mask-size mask-size-width wrap-property clearfix">
        <label class="inner-label">Width</label>
        <select name="" class="units-string" data-property-set="units" data-property-key="-webkit-mask-sizeWidth">
            {{#select_units widget.styles.-webkit-mask-sizeWidth}}
                <option value="auto">auto</option>
                <option value="vw">vw</option>
                <option value="vh">vh</option>
                <option value="vmax">vmax</option>
                <option value="vmin">vmin</option>
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="rem">rem</option>
                {{#ifvalue env value='GT'}}
                    <option value="%">%</option>
                {{/ifvalue}}
            {{/select_units}}
        </select>

        <input property type="number" step="{{#format_value widget.styles.-webkit-mask-sizeWidth}}{{/format_value}}"
               value="{{#number_only widget.styles.-webkit-mask-sizeWidth}}{{/number_only}}" class="units-number"
               data-property-set="styles" data-property-key="-webkit-mask-sizeWidth"/>
    </div>

    <div class="input--webkit-mask-size mask-size-height wrap-property clearfix">
        <label class="inner-label">Height</label>
        <select name="" class="units-string" data-property-set="units" data-property-key="-webkit-mask-sizeHeight">
            {{#select_units widget.styles.-webkit-mask-sizeHeight}}
                <option value="auto">auto</option>
                <option value="vw">vw</option>
                <option value="vh">vh</option>
                <option value="vmax">vmax</option>
                <option value="vmin">vmin</option>
                <option value="px">px</option>
                <option value="pt">pt</option>
                <option value="rem">rem</option>
                {{#ifvalue env value='GT'}}
                    <option value="%">%</option>
                {{/ifvalue}}
            {{/select_units}}
        </select>

        <input property type="number" step="{{#format_value widget.styles.-webkit-mask-sizeHeight}}{{/format_value}}"
               value="{{#number_only widget.styles.-webkit-mask-sizeHeight}}{{/number_only}}" class="units-number"
               data-property-set="styles" data-property-key="-webkit-mask-sizeHeight"/>
    </div>

    <div class="wrap-property mask-repeat clearfix">
        <label>MaskRepeat</label>
        <select data-property-set="styles" data-property-key="webkitMaskRepeat">
            {{#select widget.styles.webkitMaskRepeat}}
                <option value="no-repeat">no-repeat</option>
                <option value="repeat">repeat</option>
                <option value="no-repeat repeat">no-repeat repeat</option>
                <option value="repeat no-repeat">repeat no-repeat</option>
            {{/select}}
        </select>
    </div>
{{/if}}


{{#ifvalue widget.type value='div'}}
    {{#if widget.url}}
        <div class="clearfix">
            <label style="width: 150px;">Background-image</label>
            <button id="upload-image" class="k-button">browse</button>
        </div>
    {{/if}}
{{/ifvalue}}

{{#ifvalue widget.type value='widget'}}
    {{#if widget.url}}
        <div class="clearfix">
            <label style="width: 150px;">Background-image</label>
            <button id="upload-image" class="k-button">browse</button>
        </div>
    {{/if}}
{{/ifvalue}}
