<div class="wrap-property clearfix">
    <label>Mix-blend-mode
    </label>
    <select name="" data-property-set="styles" data-property-key="mixBlendMode">
        {{#select widget.styles.mixBlendMode}}
            <option value="normal">normal</option>
            <option value="multiply">multiply</option>
            <option value="screen">screen</option>
            <option value="overlay">overlay</option>
            <option value="darken">darken</option>
            <option value="lighten">lighten</option>
            <option value="color-dodge">color-dodge</option>
            <option value="color-burn">color-burn</option>
            <option value="hard-light">hard-light</option>
            <option value="soft-light">soft-light</option>
            <option value="difference">difference</option>
            <option value="exclusion">exclusion</option>
            <option value="hue">hue</option>
            <option value="saturation">saturation</option>
            <option value="color">color</option>
            <option value="luminosity">luminosity</option>
            <option value="initial">initial</option>
            <option value="inherit">inherit</option>
            <option value="unset">unset</option>
            <option value="rem">rem</option>
        {{/select}}
    </select>
</div>
<!--
<div class="wrap-property clearfix">
    <label>Bg-blend-mode
    </label>
    <select name="" data-property-set="styles" data-property-key="backgroundBlendMode">
        {{#select widget.styles.backgroundBlendMode}}
            <option value="normal">normal</option>
            <option value="multiply">multiply</option>
            <option value="screen">screen</option>
            <option value="overlay">overlay</option>
            <option value="darken">darken</option>
            <option value="lighten">lighten</option>
            <option value="color-dodge">color-dodge</option>
            <option value="saturation">saturation</option>
            <option value="color">color</option>
            <option value="luminosity">luminosity</option>
        {{/select}}
    </select>
</div>
-->
