<li><a href="#" class="btn-undo-scene"><i class="fa fa-undo"></i>Undo<kbd class="menu-shortcut">Ctrl + Z</kbd></a></li>
<li><a href="#" class="btn-redo-scene separator"><i class="fa fa-repeat"></i>Redo<kbd class="menu-shortcut">Ctrl + Shift + Z</kbd></a></li>
<li><a href="#" class="btn-copy-widgets btn-dynamic disabled"><i class="fa fa-files-o"></i>Copy<kbd class="menu-shortcut">Ctrl + C</kbd></a></li>
<li><a href="#" class="btn-paste-widgets"><i class="fa fa-clipboard"></i>Paste<kbd class="menu-shortcut">Ctrl + V</kbd></a></li>
<li><a href="#" class="btn-delete-widget btn-dynamic disabled"><i class="fa fa-times"></i>Delete<kbd class="menu-shortcut">Delete</kbd></a></li>
<li><a href="#" class="btn-createWidget-scene btn-dynamic disabled"><i class="fa fa-cogs"></i>Create Widget</a></li>
