<div class="wrap-property geometry-position clearfix">
    <label>Position:</label>
    <select name="" data-property-set="geometry" data-property-key="position">
        {{#select widget.geometry.position}}
        <option value="absolute">absolute</option>
        <option value="relative">relative</option>
        {{/select}}
    </select>
</div>
<div class="wrap-property geometry-top clearfix">
    <label>
        Top:
        <div type="button" class="add-keyframe" data-property-key="top" data-property-set="geometry">

        </div>
    </label>

    <select name="" class="units-string" data-property-set="units" data-property-key="top">
        {{#select_units widget.geometry.top}}
        <option value="auto">auto</option>
        <option value="vw">vw</option>
        <option value="vh">vh</option>
        <option value="vmax">vmax</option>
        <option value="vmin">vmin</option>
        <option value="px">px</option>
        <option value="pt">pt</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
        {{/select_units}}
    </select>
    {{#ifvalue widget.geometry.top value="auto"}}
    <input property type="number" step="{{#format_value widget.geometry.top}}{{/format_value}}" value="{{#number_only widget.geometry.top}}{{/number_only}}" class="units-number" data-property-set="geometry" data-property-key="top" disabled />
    {{else}}
    <input property type="number" step="{{#format_value widget.geometry.top}}{{/format_value}}" value="{{#number_only widget.geometry.top}}{{/number_only}}" class="units-number" data-property-set="geometry" data-property-key="top" />
    {{/ifvalue}}

</div>
<div class="wrap-property geometry-left clearfix">
    <label>Left:
       <div type="button" class="add-keyframe" data-property-key="left" data-property-set="geometry">

       </div>
   </label>
   <select name="" class="units-string" data-property-set="units" data-property-key="left">
    {{#select_units widget.geometry.left}}
    <option value="auto">auto</option>
    <option value="vw">vw</option>
    <option value="vh">vh</option>
    <option value="vmax">vmax</option>
    <option value="vmin">vmin</option>
    <option value="px">px</option>
    <option value="pt">pt</option>
    <option value="rem">rem</option>
    <option value="%">%</option>
    {{/select_units}}
</select>
{{#ifvalue widget.geometry.left value="auto"}}
<input property type="number" step="{{#format_value widget.geometry.left}}{{/format_value}}" value="{{#number_only widget.geometry.left}}{{/number_only}}"  class="units-number" data-property-set="geometry" data-property-key="left" disabled />
{{else}}
<input property type="number" step="{{#format_value widget.geometry.left}}{{/format_value}}" value="{{#number_only widget.geometry.left}}{{/number_only}}"  class="units-number" data-property-set="geometry" data-property-key="left" />
{{/ifvalue}}
</div>

<div class="wrap-property geometry-width clearfix">
    <label>Width:
        <div type="button" class="add-keyframe" data-property-key="width" data-property-set="geometry">

       </div>
    </label>
    <select name="" class="units-string" data-property-set="units" data-property-key="width">
        {{#select_units widget.geometry.width}}
        <option value="auto">auto</option>
        <option value="vw">vw</option>
        <option value="vh">vh</option>
        <option value="vmax">vmax</option>
        <option value="vmin">vmin</option>
        <option value="px">px</option>
        <option value="pt">pt</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
        {{/select_units}}
    </select>
    {{#ifvalue widget.geometry.width value="auto"}}
    <input property type="number" step="{{#format_value widget.geometry.width}}{{/format_value}}" class="units-number" value="{{#number_only widget.geometry.width}}{{/number_only}}" data-property-set="geometry" data-property-key="width" disabled />
    {{else}}
    <input property type="number" step="{{#format_value widget.geometry.width}}{{/format_value}}" class="units-number" value="{{#number_only widget.geometry.width}}{{/number_only}}" min="0" data-property-set="geometry" data-property-key="width" />
    {{/ifvalue}}
</div>

<div class="wrap-property geometry-height clearfix">
    <label>Height:
        <div type="button" class="add-keyframe" data-property-key="height" data-property-set="geometry">

        </div>
    </label>
    <select name="" class="units-string" data-property-set="units" data-property-key="height">
        {{#select_units widget.geometry.height}}
        <option value="auto">auto</option>
        <option value="vw">vw</option>
        <option value="vh">vh</option>
        <option value="vmax">vmax</option>
        <option value="vmin">vmin</option>
        <option value="px">px</option>
        <option value="pt">pt</option>
        <option value="rem">rem</option>
        <option value="%">%</option>
        {{/select_units}}
    </select>
    {{#ifvalue widget.geometry.height value="auto"}}
    <input property type="number" step="{{#format_value widget.geometry.height}}{{/format_value}}" class="units-number" value="{{#number_only widget.geometry.height}}{{/number_only}}" data-property-set="geometry" data-property-key="height" disabled />
    {{else}}
    <input property type="number" step="{{#format_value widget.geometry.height}}{{/format_value}}" min="0" class="units-number" value="{{#number_only widget.geometry.height}}{{/number_only}}" data-property-set="geometry" data-property-key="height" />
    {{/ifvalue}}
</div>
