<div class="runtime-editor">
    <div id="toolbar"></div>
    <div id="extra-toolbar"></div>
    <div id="panes">
        <div id="horizontal" style="height: 100%; width: 100%;">

            <div id="left-pane">
                <div class="pane-content">
                    <ul id="widgets-list"></ul>
                    <div id="properties-bar"></div>
                </div>
            </div>
            <div id="center-pane">
                <div id="vertical">
                    <div id="top-pane">
                        <div id="horizontal-inner">
                            <div id="top-scene-holder">
                                <div id="scene-wrapper" class="is-unscrollable panning">
                                    <div class="selection-drag"><span></span></div>
                                    <div id="scene" class="panning" tabindex="0"></div>
                                </div>
                                <div id="scene-property">
                                    <div id="scene-slider">
                                        <input id="slider-zoom-percent" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                        <span class="k-button fa fa-search-minus sceneZoomButton" id="decrementSceneZoom"></span>
                                        <input id="sceneScale" type="range" data-property-set="sceneScale" data-property-key="sceneScale" value="50" step="0.1" min="30" max="170">
                                        <span class="k-button fa fa-search-plus sceneZoomButton" id="incrementSceneZoom"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="right-pane">
                                <div class="pane-content">
                                    <ul id="right-pane-content">
                                        <li class="k-state-active scene-properties-holder">

                                            <span class="k-link k-state-selected k-header-wrap">
                                                <span class="fa fa-desktop fa-lg adjust-pane-icon"></span>Scene
                                            </span>

                                            <div id="scene-properties"></div>
                                        </li>

                                        <li class="k-state-active scene-hierarchy-holder">

                                            <span class="k-link k-state-selected k-header-wrap">
                                                <span class="ic-hierarchy"></span>Hierarchy
                                            </span>

                                            <div id="sceneTree"></div>
                                        </li>

                                        <li class="k-state-active scene-library-holder">
                                            <span class="k-link k-state-selected k-header-wrap">
                                                <span class="fa ic-assets-lib fa-cubes"></span>Assets Library
                                            </span>

                                            <div id="assets-bar">
                                                <div id="assets-preview-window">
                                                    <video id="assets-preview-video" autoplay></video>
                                                    <iframe id="assets-preview-widget" scrolling="no"></iframe>
                                                    <img id="assets-preview-image" src="img/start-check.png" />
                                                    <div id="assets-preview-standin"></div>
                                                </div>
                                                <div id="assets-search">
                                                    <input id="asset-search" class="search-input" name="asset-search-input" placeholder=" &#xf002;">
                                                    <div id="asset-search-clear" class="clear-search fa fa-times"></div>
                                                </div>
                                                <div class="assets-filter">
                                                    <a id="asset-filter-image" data-type="image" href="javascript:void(0)" class=" fa fa-image first"></a>
                                                    <a id="asset-filter-video" data-type="video" href="javascript:void(0)" class="fa fa-video-camera"></a>
                                                    <a id="asset-filter-widget" data-type="widget" href="javascript:void(0)" class="fa fa-cogs"></a>
                                                    <a id="asset-filter-css" data-type="style" href="javascript:void(0)" class="fa fa-css3"></a>
                                                    <a id="asset-filter-javascript" data-type="script" href="javascript:void(0)" class="fa fa-code"></a>
                                                    <a id="asset-filter-font" data-type="font" href="javascript:void(0)" class="fa fa-font last"></a>
                                                </div>
                                                <div id="assets-bar-holder">
                                                    <div id="assets-bar-content"></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="middle-pane">
                        <div class="animations-panel"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul id="context-menu"></ul>
</div>
