<div class="shortcut">
    <kbd>Ctrl</kbd> + <kbd>S</kbd> - Save Scene
</div>
<div class="shortcut">
    <kbd>P</kbd> - Start / Stop Animations
</div>
<div class="shortcut">
    <kbd>Alt</kbd> - Bind Portrait
</div>
<div class="shortcut">
    <kbd>Ctrl</kbd> + <kbd>Z</kbd> - Undo Operation
</div>
<div class="shortcut">
    <kbd>Ctrl</kbd> + <kbd class="shift">Shift</kbd> + <kbd>Z</kbd> - Redo Operation
</div>
<div class="shortcut">
    <kbd>&larr;</kbd>
    <kbd>&uarr;</kbd>
    <kbd>&darr;</kbd>
    <kbd>&rarr;</kbd> - Move Selection (in 1-unit increments)
</div>
<div class="shortcut">
    <kbd>&larr;</kbd>
    <kbd>&uarr;</kbd>
    <kbd>&darr;</kbd>
    <kbd>&rarr;</kbd>
    + <kbd class="shift">Shift</kbd> - Move Selection (in 5-unit increments)
</div>

