<div class="wrap-property text-font-family clearfix">
    <label class="font-label">Font family</label>
    <select class="font-family" data-property-set="styles" data-property-key="fontFamily"></select>
    <button id="add-font" class="k-button fa fa-plus"></button>
</div>
<div class="text-line"></div>

{{#if widget.text}}
<div class="wrap-property clearfix">
    <label>Text</label> <input property type="text" value="{{ widget.text }}" data-property-set="element-text" data-property-key="text" />
</div>
{{else}}
    {{#ifvalue widget.type value="text"}}
    <div class="wrap-property clearfix">
        <label>Text</label> <input property type="text" value="" data-property-set="element-text" data-property-key="text" />
    </div>
    {{/ifvalue}}
{{/if}}

<div class="wrap-property text-font-size clearfix">
    <label>Font size
     <div type="button" class="add-keyframe" data-property-set="font" data-property-key="fontSize"></div>
 </label>
 <select name="" class="units-string" data-property-set="units" data-property-key="fontSize">
    {{#select_units widget.fontSize}}
    <option value="auto">auto</option>
    <option value="vw">vw</option>
    <option value="vh">vh</option>
    <option value="vmax">vmax</option>
    <option value="vmin">vmin</option>
    <option value="px">px</option>
    <option value="pt">pt</option>
    <option value="rem">rem</option>
    {{/select_units}}
</select>
{{#if widget.fontSize}}
{{#ifvalue widget.fontSize value="auto"}}
<input property type="number" step="{{#format_value widget.fontSize}}{{/format_value}}" value="{{#number_only widget.fontSize}}{{/number_only}}"  class="units-number" data-property-set="font" data-role="fontSize" data-property-key="fontSize" disabled />
{{else}}
<input property type="number" step="{{#format_value widget.fontSize}}{{/format_value}}" value="{{#number_only widget.fontSize}}{{/number_only}}"  class="units-number" data-property-set="font" data-role="fontSize" data-property-key="fontSize" />
{{/ifvalue}}
{{else}}
<input property type="number" step="0.1" value=""  class="units-number" data-property-set="font" data-role="fontSize" data-property-key="fontSize" disabled />
{{/if}}
</div>

{{#if widget.styles.fontStyle}}
<div class="wrap-property text-font-style clearfix">
    <label>Font style
        <div type="button" class="add-keyframe" data-property-set="styles" data-property-key="fontStyle"></div>
    </label>
    <select data-property-set="styles" data-property-key="fontStyle" class="k-select">
        {{#select widget.styles.fontStyle}}
        <option value="inherit">inherit</option>
        <option value="normal">normal</option>
        <option value="italic">italic</option>
        <option value="oblique">oblique</option>
        {{/select}}
    </select>
</div>
{{/if}}

{{#if widget.styles.fontWeight}}
<div class="wrap-property text-font-weight clearfix">
    <label>Font weight
        <div type="button" class="add-keyframe" data-property-set="styles" data-property-key="fontWeight"></div>
    </label>
    <select data-property-set="styles" data-property-key="fontWeight" class="k-select">
        {{#select widget.styles.fontWeight}}
        <option value="inherit">inherit</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="normal">normal</option>
        <option value="500">500</option>
        <option value="600">600</option>
        <option value="bold">bold</option>
        <option value="800">800</option>
        <option value="900">900</option>
        {{/select}}
    </select>
</div>
{{/if}}

{{#if widget.color}}
<div class="wrap-property text-font-color clearfix">
    <label>Text color
        <div type="button" class="add-keyframe" data-property-set="styles" data-property-key="color"></div>
    </label>
    <input property class="color-picker" id="color-picker" />
</div>
{{/if}}

{{#if widget.styles.textAlign}}
<div class="text-line"></div>
<div class="wrap-property clearfix text-align">
    <radioOption class="clearfix radio-options">
     <div style="margin-left: 52px;	margin-right: 5px;">Align: </div>
     {{#radioOption widget.styles.textAlign}}
     <div class="clearfix">
        <input property type="radio" value="left" id="text-align-left" name="text-align" data-property-set="styles" data-property-key="textAlign" />
        <label for="text-align-left" title="left">
        </label>
    </div>
    <div class="clearfix">
        <input property type="radio" value="right" id="text-align-right" name="text-align" data-property-set="styles" data-property-key="textAlign" /><label for="text-align-right" title="right"></label>
    </div>
    <div class="clearfix">
        <input property type="radio" value="justify" id="text-align-justify" name="text-align" data-property-set="styles" data-property-key="textAlign" /><label for="text-align-justify" title="justify"></label>
    </div>
    <div class="clearfix">
        <input property type="radio" value="center" id="text-align-center" name="text-align" data-property-set="styles" data-property-key="textAlign" /><label for="text-align-center" title="center"></label>
    </div>
    {{/radioOption}}
</radioOption>
</div>
{{/if}}

{{#if widget.styles.textTransform}}
<div class="wrap-property clearfix text-case">

    <radioOption class="clearfix radio-options">
      <div style="margin-left: 51px;	margin-right: 5px;">Case: </div>
      {{#radioOption widget.styles.textTransform}}
      <div class="clearfix">
        <input property type="radio" value="none" id="text-transform-none" name="text-transform" data-property-set="styles" data-property-key="textTransform" /><label for="text-transform-none" title="none"></label>
    </div>
    <div class="clearfix">
        <input property type="radio" value="lowercase" id="text-lowercase" name="text-transform" data-property-set="styles" data-property-key="textTransform" /><label for="text-lowercase" title="lowercase"></label>
    </div>
    <div class="clearfix">
        <input property type="radio" value="uppercase" id="text-uppercase" name="text-transform" data-property-set="styles" data-property-key="textTransform" /><label for="text-uppercase" title="uppercase"></label>
    </div>
    <div class="clearfix">
        <input property type="radio" value="capitalize" id="text-capitalize" name="text-transform" data-property-set="styles" data-property-key="textTransform" /><label for="text-capitalize" title="capitalize"></label>
    </div>
    {{/radioOption}}
</radioOption>
</div>
{{/if}}

{{#if widget.styles.textDecoration}}
<div class="wrap-property clearfix text-decoration">

    <radioOption class="clearfix radio-options">
      <div style="margin-left: 20px;	margin-right: 5px;">Decoration: </div>
      {{#radioOption widget.styles.textDecoration}}
      <div class="clearfix">
        <input property type="radio" value="none" id="text-none" name="text-decoration" data-property-set="styles" data-property-key="textDecoration" /><label for="text-none" title="none"></label>
    </div>
    <div class="clearfix">
        <input property type="radio" value="underline" id="text-underline" name="text-decoration" data-property-set="styles" data-property-key="textDecoration" /><label for="text-underline" title="underline"></label>
    </div>
    <div class="clearfix">
        <input property type="radio" value="overline" id="text-overline" name="text-decoration" data-property-set="styles" data-property-key="textDecoration" /><label for="text-overline" title="overline"></label>
    </div>
    <div class="clearfix">
        <input property type="radio" value="underline overline" id="text-underline-overline" name="text-decoration" data-property-set="styles" data-property-key="textDecoration" /><label for="text-underline-overline" title="both"></label>
    </div>
    <div class="clearfix">
        <input property type="radio" value="line-through" id="text-line-through" name="text-decoration" data-property-set="styles" data-property-key="textDecoration" /><label for="text-line-through" title="line-through"></label>
    </div>
    {{/radioOption}}
</radioOption>
</div>
{{/if}}

