@font-face {
    font-family: 'geogebra-sans-serif';
    src: url('../font/GeogebraSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geogebra-serif';
    src: url('../font/GeogebraSerif-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mathsans';
    src: url('../font/mathsans.ttf');
    font-weight: normal;
    font-style: normal;

}
