/** Created by stefanie.bogner
*	16.09.2015
*	contains styles for algebra view in web
* 
*	Make sure everything is placed in .GeoGebraFrame!
**/

@import "definitions.less";

.GeoGebraFrame {
	
    .algebraSimpleP {
		input[type="checkbox"] {
			width: 24px;
			height: 24px;
			.margin(5px, 7px, 5px, 0px);
		}
	}
	
	.avHelpButtonParent {
		position:absolute;
		z-index:7;
		height:100%;
		line-height:53px;
	}
	
	.NewRadioButtonTreeItemParent .hasCursorPermanent{
		padding-left: 10px;
	}
	
	/*
	tempHasCursorPermanent used only because before releasing of inputhelp showing in AV (GGB-574)
	hasCursorPermanent has different padding in stable and in prereleased version. Later
	.NewRadioButtonTreeItemParent .hasCursorPermanent will have this padding
	*/
	.NewRadioButtonTreeItemParent .tempHasCursorPermanent{
		padding-left: 40px;
	}
	
	.avTextItem {
		display: inline-block;
	}

	.avPlainTextItem {
		display: inline-block;
	}
	
	.avDummyLabel {
		display: inline-block;
		color: #999999;
	}
	.avDefinition {
		height: 40px;
	}
	
	.avOutput {
		min-height: 40px;
		margin-left: 10px;
		font-weight: bold;
	}
	.avOutput >* {
		display: inline-block;
	}
	
	.avValue {
		height: 40px;
	}
	
	}