/** Created by stefanie.bogner
*	14.09.2015
*	contains general styles for web
*
*	Make sure everything is placed in .GeoGebraFrame!
**/

@import "definitions.less";

/**
 * In order to maintain cross-browser compatibility, the following syntax is
 * used to create IE6 specific style rules:
 *    .gwt-Widget {
 *      property: rule applies to all browsers
 *      -property: rule applies only to IE6 (overrides previous rule)
 *    }
 *    * html .gwt-Widget {
 *      property: rule applies to all versions of IE
 *    }
 */

.GeoGebraFrame {
	background-color: @color-white;
	color: @color-grey;
	font-size: 16px;
	
	body.application,
	span,
	td,
	th {
		color: @color-grey;
		font-size: 16px;
	}
	
	& * {
		.box-sizing(content-box);
	}
	
	img {
		vertical-align: baseline;
	}
	
	.button,
	.gwt-PushButton,
	.gwt-MenuItem {
		cursor: pointer;
		
		&.button-up-disabled,
		&.gwt-PushButton-up-disabled {
			cursor: default;
			.opacity(30);
		}
	}
	
	.gwt-MenuItem-disabled {
		cursor: default;
		.opacity(30);
	}
	
	
	
	
	.gwt-MenuBar {
		cursor: default;
		
//		.gwt-MenuItem {
//			cursor: default;
//			font-family: geogebra-sans-serif, Arial Unicode MS, Arial, sans-serif;
//		}

		.gwt-MenuItem-selected {
			background: #CCCCFF;
		}
	}	
	
	// Used for SMART Menu
	.gwt-MenuBar-vertical {
		table {
			border-collapse: collapse;
		}
		
		.subMenuIcon {
			padding-right: 4px;
		}
		.subMenuIcon-selected {
			background: #CCCCFF;
		}
		
		.gwt-MenuItem {
			.padding(2px, 40px, 2px, 1px);
		}
		
		.gwt-MenuItemSeparator {
			padding: 1px 0px;
			
			.menuSeparatorInner {
				height: 0px;
				padding: 0px;
				border: 0px;
				border-top: 1px solid @color-bordergrey;
				overflow: hidden;
			}
		}
			
	}
	input[type="text"], input[type="number"], select{
		min-height:0;
		min-width:0;
	}

        .titlePanel input[type="text"] {
		min-width:450px;
	}
}

// change import later!
	@import "headerbar.less";
//	@import "av.less";
