/** Created by stefanie.bogner
*	14.09.2015
*	contains general styles for web
*
*	Make sure everything is placed in .GeoGebraFrame!
**/

// only here for testing, remove later
//@direction: ltr; // use `rtl` or `ltr`

@import "definitions.less";

/**
 * In order to maintain cross-browser compatibility, the following syntax is
 * used to create IE6 specific style rules:
 *    .gwt-Widget {
 *      property: rule applies to all browsers
 *      -property: rule applies only to IE6 (overrides previous rule)
 *    }
 *    * html .gwt-Widget {
 *      property: rule applies to all versions of IE
 *    }
 */

.GeoGebraFrame {
	background-color: @color-white;
//	background-color: pink;
	color: @color-grey;
	font-size: 16px;
	
	body.application,
	& span,
	& td,
	& th {
		color: @color-grey;
		font-size: 16px;
	}
	
	& * {
		.box-sizing(content-box);
	}
	
	& img {
		vertical-align: baseline;
	}
	
	.button,
	.gwt-PushButton {
		cursor: pointer;
		
		&.button-up-disabled,
		&.gwt-PushButton-up-disabled {
			cursor: default;
			.opacity(30);
		}
	}
}

// change import later!
	@import "headerbar.less";
//	@import "av.less";