/* ### onScreenKeyboard ### */

.openKeyboardButton:active {
	box-shadow: inset 0px 0px 1px 0px #cdcdcd;
}

.openKeyboardButton:hover {
	border: 1px solid #9999FF;
}

.openKeyboardButton {
	position:absolute;
	bottom:0px;
	width: 48px;
	height: 21px;
	padding-top: 0px;
	padding-bottom: 8px;
	padding-left: 0px;
	background-color: #f8f8f8;
	border-radius: 0px;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #DCDCDC;
	box-shadow: 0px 0px 1px 0px rgba(102, 102, 102, 0.3);
	text-align: center;
}

.keyBoardClosePanel {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	cursor: hand;
	text-align: center;
	background-color: #666666;
	border-top-left-radius: 5px;
}

.keyBoardClosePanel .closeIcon {
	padding-top: 6px;
}

.KeyBoard {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	background-color: #666666;
	color: #000;
	box-shadow: none;
	font-family: geogebra-sans-serif;
	position: relative;
	padding: 5px;
}

.KeyBoard .SymbolTable {
	display: none;
}

.KeyBoardContentNumbers,
.KeyBoardContentSpecialChars {
	margin: 0 auto;
	max-width: 745px;
}

.KeyPanelLetters {
	margin: 0 auto;
	position: relative;
}

.KeyPanelFunction,
.KeyPanelNum, 
.normal .contentLetters {
	padding-right: 20px;
}

.KeyPanelRow {
	margin: 0 auto;
}

.KeyBoardButton {
	padding: 10px;
	height: 20px;
	text-align: center;
	margin: 2px;
	font-size: 120%;
	cursor: pointer;
	border-radius: 5px;
	background-color: #F8F8F8;
	white-space: nowrap;
}

.lowerHeight .KeyBoardButton {
	height: 10px;
	padding-top: 3px;
    padding-bottom: 13px;
}

.KeyBoardButton.accentDown {
	background-color: #dcdcdc;
}

.KeyBoardButton.supScript .gwt-Label {
	margin-top: -6px;
}

.KeyBoard td.hidden {
	display: none;
}

.normal .KeyBoardButton {
	width: 50px;
}

.KeyBoardButton:active {
	box-shadow: inset 0px 0px 0px 1px #7C7C7C;
}

.KeyBoardButton.colored {
	background-color: #AFAFAF;
}

.KeyBoardButton.backspace {
	padding-top: 8px;
	padding-bottom: 12px;
}

.lowerHeight .KeyBoardButton.backspace {
    padding-top: 1px;
    padding-bottom: 15px;
}

/* -- NUMBERS -- */
.normal .KeyBoardButton.backspace,
.normal .KeyBoardButton.enter {
	width: 64px;
}

.normal .KeyBoardButton.arrow {
	width: 20px;
	padding-left: 9px;
	padding-right: 11px;
}

.KeyBoardButton.enter {
	height: 64px;
}

.lowerHeight .KeyBoardButton.enter {
    height: 41px;
}

.lowerHeight .KeyBoardButton.enter img {
	padding-top: 15px;	
}

.KeyBoardButton.enter img {
	padding-top: 23px;	
}

/* -- LETTERS -- */
.normal .KeyBoardButton.shift {
	width: 80px;
	position: absolute;
	left: 0px;
}

.normal .KeyBoardButton.delete {
	width: 80px;
	position: absolute;
	right: 0px;
}

.normal .KeyBoardButton.delete.small, 
.normal .KeyBoardButton.shift.small {
	width: 50px;
}

/* last row */
.KeyPanelLetters > tbody > tr:nth-child(4) .KeyPanelRow {
	width: 100%;
}

/* cell of space button */
.KeyPanelLetters > tbody > tr:nth-child(4) > td > table > tbody > tr > td:nth-child(4) {
	width: 100%
}

.normal .KeyBoardButton.space {
	width: 99%;
	padding: 0px 0px 20px 0px;
	margin: 2px 2px 0px 2px;
}

/* 
 * SCALE CONTENT OF KEYBOARD
 */

.scale .keyBoardClosePanel {
	top: -25px;
	right: 0px;
	width: 35px;
	height: 25px;
}

.scale .KeyPanelRow, 
.scale .KeyBoardContentNumbers, 
.scale .KeyBoardContentSpecialChars,
.scale .KeyPanelControl,
.scale .KeyPanelLetters,
.scale .KeyPanelFunction,
.scale .KeyPanelNum {
	width: 100%;
}

.scale .KeyPanelRow td {
	width: 25%;
}

.scale .KeyPanelLetters .KeyPanelRow td {
	width: 7%;
}

.scale .KeyBoardButton {
	padding-left: 0%;
	padding-right: 0%;
}

.scale .KeyPanelControl {
	padding-right: 0px;
}

.scale.smallerFont {
	font-size: 100% !important;
}

.scale.smallerFont .switchKeyboard {
	font-size: 10pt;
}

.scale.smallerFont .KeyBoardContentNumbers .KeyBoardButton.colored {
	font-size: 86% !important;
}


.scale.smallerFont .KeyBoardContentSpecialChars .KeyPanelFunction {
	font-size: 75% !important;
}

.scale.smallerFont .KeyBoardButton.supScript .gwt-Label {
	margin-top: -5px;
}

.scale .KeyPanelFunction,
.scale .KeyPanelNum {
	padding-right: 2%;
}

.scale .KeyBoardContentSpecialChars>tbody>tr>td,
.scale .KeyBoardContentSpecialChars>tbody>tr>td:nth-child(2),
.scale .KeyBoardContentNumbers>tbody>tr>td, 
.scale .KeyBoardContentNumbers>tbody>tr>td:nth-child(2) {
 	width: 50%;
}

/* -- LETTERS -- */

/* space */
.scale .KeyPanelLetters tr:nth-child(4) > td td:nth-child(4) {
	width: 50%;
}
/* width of panel with enter, delete, left, right */
.scale .KeyPanelLetters .KeyPanelRow td {
	width: 9%;
}


/* ### End onScreenKeyboard ### */