Source: lernstick-usertemplate-wheezy-pu
Section: misc
Priority: extra
Maintainer: Zoltan Kovacs <zoltan@geogebra.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.imedias.ch/lernstick

Package: igi-lernstick-usertemplate-wheezy-pu
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, dlcopy, shutter
Description: A template for the lernstick user
 A set of (mostly configuration) files under /etc/skel that are used when
 creating the lernstick user the first time and some other files in /usr
 that are needed by this template. Modified for IGI GeoGebra Lernstick
 from the original package lernstick-usertemplate-wheezy-pu by Ronny Standtke.
