<div class="init-scene-properties">
    <div class="wrap-property clearfix">
        <label>Aspect Ratio</label>

        <select class="init-scene-aspect-ratio">
            <option value="aspectRatio4_3">4:3 (800x600)</option>
            <option value="aspectRatio5_4">5:4 (1000x800)</option>
            <option value="aspectRatio16_10">16:10 (1440x900)</option>
            <option value="aspectRatio16_9">16:9 (1600x900)</option>
            <option value="aspectRatio16_9_full_hd" selected="selected">16:9 (1920x1080)</option>
            <option value="aspectRatio_custom">Custom</option>
        </select>
    </div>

    <div class="init-aspect-ratio-custom">
        <div class="wrap-property clearfix">
            <label>Width</label>
            <input class="init-aspect-ratio-width-custom"
                   type="number"
                   value="1920"/>
        </div>

        <div class="wrap-property clearfix">
            <label>Height</label>
            <input class="init-aspect-ratio-height-custom"
                   type="number"
                   value="1080"/>
        </div>
    </div>

    <div class="wrap-property clearfix">
        <label>Background</label>
        <input class="init-scene-background-picker color-picker"/>
    </div>

</div>
