@use 'colors';
@use 'z-index';
@use 'header';

.GeoGebraFrame {

	/* CHECKBOX COMPONENT */
	@mixin checkboxBg($color) {
		.background {
			border-color: $color;
			background-color: $color;
		}
	}

	.checkboxPanel {
		display: inline-flex;
		width: fit-content;
		cursor: pointer;

		.checkboxLbl {
			height: auto;
			min-height: 20px;
			line-height: 20px;
			margin-left: 20px;
			margin-top: 8px;
			margin-bottom: 8px;
			color: colors.$text-primary;
			font-size: 100%;

			&.disabled {
				cursor: default;
				color: colors.$text-disabled;
			}
		}
	}

	.checkbox {
		width: 36px;
		height: 36px;
		position: relative;
		cursor: pointer;

		.background {
			position: absolute;
			top: 9px;
			left: 9px;
			width: 18px;
			height: 18px;
			box-sizing: border-box;
			border: 2px solid;
			border-radius: 2px;
			border-color: colors.$black-54;
			background-color: transparent;
			transition: border-color 180ms cubic-bezier(0,0,.2,1) 0ms,background-color 180ms cubic-bezier(0,0,.2,1) 0ms;
		 }

		 .checkmark {
			 position: absolute;
			 left: 11px;
			 top: 10px;
			 width: 14px;
			 height: 14px;
			 visibility: hidden;

			.checkmarkSvg {
				-webkit-transition: opacity .18s cubic-bezier(0,0,.2,1) 0ms,-webkit-transform .18s cubic-bezier(0,0,.2,1) 0ms;
				transition: opacity .18s cubic-bezier(0,0,.2,1) 0ms,-webkit-transform .18s cubic-bezier(0,0,.2,1) 0ms;
				-o-transition: opacity .18s 0ms cubic-bezier(0,0,.2,1),transform .18s 0ms cubic-bezier(0,0,.2,1);
				transition: opacity .18s cubic-bezier(0,0,.2,1) 0ms,transform .18s cubic-bezier(0,0,.2,1) 0ms;
				transition: opacity .18s cubic-bezier(0,0,.2,1) 0ms,transform .18s cubic-bezier(0,0,.2,1) 0ms,-webkit-transform .18s cubic-bezier(0,0,.2,1) 0ms;
				opacity: 1;
			}

			.checkmarkPath {
				-webkit-transition: stroke-dashoffset .18s cubic-bezier(.4,0,.6,1) 0ms;
				-o-transition: stroke-dashoffset .18s 0ms cubic-bezier(.4,0,.6,1);
				transition: stroke-dashoffset .18s cubic-bezier(.4,0,.6,1) 0ms;
				stroke: white;
				stroke-width: 3.12px;
				stroke-dashoffset: 29.7833385;
				stroke-dasharray: 29.7833385;
			}
		 }

		 .hoverBg {
			display: inline-block;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			background-color: white;
			opacity: 0;

			&:after {
				background-image: radial-gradient(circle, black 10%, transparent 10.01%);
			}
		 }

		&.selected {
			@include checkboxBg(colors.$mow_primary);

			.hoverBg {
				&:after {
					background-image: radial-gradient(circle, colors.$purple-default 10%, transparent 10.01%);
				}
			}

			&:hover {
				.hoverBg {
					opacity: 1;
					background-color: colors.$purple-default-12;
				}
			}

			.checkmark {
				visibility: visible;

				 .checkmarkPath {
					stroke-dashoffset: 0;
				}
			}
		}

		&:hover {
			.hoverBg {
				opacity: 1;
				background-color: colors.$black-08;
			}
		}

		&.disabled {
			cursor: default;

			.hoverBg {
				&:after {
					background-image: none;
				}
			}

			&:hover {
				.hoverBg {
					background-color: transparent;
				}
			}

			.background {
				border-color: colors.$black-36;
			}

			&.selected {
				.background {
					background-color: colors.$black-36;
					border-color: transparent;
				}
			}
		}
	}

	.accented .checkbox.selected {
		@include checkboxBg(colors.$teal-default);
	}

	/* SWITCHER COMPONENT */
	.switch {
		width: 40px;
		height: 24px;
		margin-right: 16px;
		position: relative;
		top: 7px;
		float: right;
		cursor: pointer;

		.track {
			content: "";
			display: inline-block;
			position: relative;
			width: 36px;
			height: 14px;
			border-radius: 15px;
			-webkit-transition: background 0.3s ease;
			transition: background 0.3s ease;
			vertical-align: middle;
		}

		.thumb {
			width: 20px;
			height: 20px;
			position: relative;
			top: -18px;
			border-radius: 50%;
			display: block;
			transition: left 0.3s ease, background 0.3s ease;
		}

		&.on {
			.track {
				background-color: #9ADAEC;
			}
			.thumb {
				left: 16px;
				background-color: #00A8D5;
			}
		}

		&.off {
			.track {
				background-color: #c5c5c5;
			}
			.thumb {
				left: 0px;
				background-color: #f1f1f1;
			}
		}
	}

	/* INPUT TEXT FIELD COMPONENT */
	.inputTextField {
		width: 100%;
		margin-top: 8px;
		margin-bottom: 8px;
		display: inline-block;
		min-height: 68px;

		.inputLabel {
			font-size: 75%;
			color: colors.$text-secondary;
			height: 12px;
			line-height: 100%;
			display: block;
		}

		&.error {
			.inputLabel {
				color: colors.$error;
			}

			.AutoCompleteTextFieldW {
				border-bottom-color: colors.$error;
			}
		}

		.textField {
			margin-top: 8px;
		}

		.AutoCompleteTextFieldW {
			margin-bottom: 7px; // 8 - border
			border-radius: 0px;
			border: none;
			border-bottom: 1px solid colors.$black-42;

			input[type="text"] {
				border: none !important;
				box-shadow: none !important;
				height: 28px; // 20px text container + 8px bottom padding
				margin: 0px;
				padding: 0px 0px 8px 0px;
			}
		}

		.errorLabel {
			color: colors.$error;
			font-size: 75%;
			height: 12px;
			line-height: 100%;
		}

		&.focusState {
			.AutoCompleteTextFieldW {
				margin-bottom: 6px; // 8 - border
				border-bottom-width: 2px;
			}
		}

		&.focusState:not(.error), &.focusState:not(.error):hover {

			.inputLabel {
				color: colors.$teal-default;
			}
			.AutoCompleteTextFieldW {
				border-bottom-color: colors.$teal-default;
			}
		}

		&.hoverState:not(.error) {

			.inputLabel {
				color: colors.$black-87;
			}

			.AutoCompleteTextFieldW {
				border-bottom: 2px solid colors.$black-87;
			}
		}
	}

	// in case the last input field shouldn't have any bottom margin
	.noBottomMarg {
		.inputTextField {
			margin-bottom: 0px;
		}
	}

	.buttonActive {
		position: relative;

		img {
			opacity: 0.54;
		}

		&:hover {
			img {
				opacity: 0.84;
			}
		}
	}

	.buttonInactive {
		position: relative;
		cursor: default;
		img {
			opacity: 0.26;
		}

		&:hover {
			background-color: transparent;
		}
	}

	/* DROPDOWN COMPONENT */
	.dropDownSelectorContainer {
		max-width: 200px;
   }

	.dropDownSelector {
		position: relative;
		height: 64px;

		.titleLabel {
			font-size: 100%;
			width: 100%;
			height: 24px;
			padding-top: 10px;
			white-space: nowrap;
		}

		.selectedOptionLabel {
			font-size: 87.5%;
			height: 20px;
			padding-bottom: 10px;
			color: colors.$black-60;
		}
	}

	.dropDownPopup {
		overflow-y: auto;

		.dropDownElement {
			padding-left: 24px;
			padding-right: 24px;
			line-height: 32px;
		}

		.dropDownElement:hover {
			cursor: pointer;
			background: colors.$black-04;
		}

		.selectedDropDownElement, .selectedDropDownElement:hover {
			background: colors.$black-12;
		}
	}

	.dialogComponent.hasBorder .dialogContent {
		box-sizing: border-box;
		border-top: 1px solid colors.$black-12;
		border-bottom: 1px solid colors.$black-12;
	}

	.dialogComponent {
		z-index: z-index.$z-dialog;
		background-color: white;
		border-radius: 4px;
		box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0,0,0,.12);
		max-width: 500px;
		width: 90%;

		.popupContent {
			height: 100%;
		}

		.dialogMainPanel {
			padding-top: 20px;
			height: calc(100% - 20px);
			overflow: hidden;

			.dialogTitle {
				min-height: 20px;
				font-size: 125%;
				margin-bottom: 20px;
				margin-left: 24px;
				color: colors.$text-primary;
			}

			.dialogContent {
				// 112px = 20px title + 20px margin + 52px button panel
				// NOTE: this needs to be adjusted according what is added to the dialog
				// (e.g. if no buttons do not add button panel height)
				height: calc(100% - 92px);
				padding: 0px 24px;
				overflow-y: auto;
			}

			.dialogBtnPanel {
				display: inline-flex;
				padding: 8px 8px 8px 24px;
				position: relative;
				float: right;
			}
		}

		&.withSubtitle {
			.dialogTitle {
				margin-bottom: 8px;
			}

			.dialogSubTitle {
				margin-bottom: 24px;
				margin-left: 24px;
				height: 14px;
				font-size: 75%;
				color: colors.$text-secondary;
				line-height: 1.2;
			}
		}
	}

	/** Material Design TEXT BUTTON **/
	.materialTextButton {
		display: inline-block;
		min-width: 64px;
		height: 36px;
		background: transparent;
		color: colors.$mow_primary;
		font-size: 90%;
		letter-spacing: .04em;
		line-height: 36px;
		text-transform: uppercase;
		border-radius: 4px;
		padding: 0px 8px;
		margin-left: 8px;
		cursor: pointer;
		transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			background: colors.$mow_card_background_hover;
		}

		.gwt-Label {
			text-align: center;
		}

		&.disabled {
			color: colors.$disabled-text-btn-col;

			&:hover {
				background: transparent;
				cursor: default;
			}
		}
	}

	/** Material Design CONTAINED BUTTON **/
	.materialContainedButton {
		@extend .materialTextButton;

		padding: 0px 16px;
		background-color: colors.$mow_primary;
		color: white;
		box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0,0,0,.12);
		transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			background: colors.$mow_primary;
			box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0,0,0,.12);
		}

		&.disabled {
			background-color: colors.$disabled-contained-btn-bg;
			color: colors.$disabled-contained-btn-col;

			&:hover {
				cursor: default;
				background: colors.$disabled-contained-btn-bg;
				box-shadow: none;
			}
		}
	}

	/** Material Design OUTLINED BUTTON **/
	.materialOutlinedButton {
		@extend .materialTextButton;

		border: 1px solid colors.$black-12;
	}

	/** Material TEXT BUTTON used for dialogs negative action **/
	.dialogTextButton {
		@extend .materialTextButton;

		color: colors.$black-54;

		&:hover {
			color: colors.$dialog-text-btn-hover;
			background-color: colors.$selected-menuitem-background;
		}
	}

	/** Material CONTAINED BUTTON used for dialogs positive action **/
	.dialogContainedButton {
		@extend .materialContainedButton;

		box-shadow: none;
	}

   .orDividerComponent {
		display: flex;

		.divider {
			height: 1px;
			background-color: colors.$black-87;
			opacity: 0.12;
			margin: 7px 0px 6px 0px;
			flex-grow: 1;
		}

		.orLbl {
			height: 14px;
			line-height: 14px;
			font-size: 75%;
			margin: 0px 24px;
			flex-basis: auto;
			color: colors.$text-disabled;
			text-transform: uppercase;
		}
	}

	.containedButton {
		cursor: pointer;
		float: left;
		min-width: 64px;
		height: header.$button_height;
		border-radius: 2px;
		background-color: colors.$mow_grey_button;
		transition: header.$button_hover_transition;
		&:hover {
			background-color: colors.$mow_card_background_hover;
		}

		img {
			float: left;
			width: 18px;
			height: 18px;
			padding: 9px 8px 9px 12px;
			opacity: 0.54;
		}

		.gwt-Label {
			float: left;
			padding: 11px 16px 11px 0px;
			text-transform: uppercase;
			font-size: 87.5%; // (=14px)
			line-height: 1;
			color: colors.$text-secondary;
		}
	}

	/** TAB COMPONENT */
	.componentTab {
		width: 100%;
		overflow: hidden;
		.indicator {
			height: 2px;
			width: 90px;
			background-color: colors.$purple-default;
			top: 49px;
			position: relative;
			border-radius: 2px 2px 0 0;
			left: 0px;
			z-index: 1;
			transition: all .25s cubic-bezier(.35,0,.25,1);
		}

		.header {
			border-bottom: 1px solid colors.$black-12;
			.tabBtn {
				min-width: 90px;
				height: 48px;
				border-radius: 2px;
				.gwt-Label {
					height: 20px;
					line-height: 20px;
					margin: 14px 16px;
					text-align: center;
					color: colors.$text-primary;
				}

				&:hover {
					background-color: colors.$purple-default-12;
				}

				&.selected {
					.gwt-Label {
						color: colors.$purple-default;
					}
					&:hover {
						background-color: colors.$white;
					}
				}

				&.ripple:after {
					background-image: radial-gradient(circle, colors.$purple-default 10%, transparent 10.01%);
				}
			}
		}

			.panelContainer {
				position: relative;
				display: inline-flex;
				right: 0px;

				&.transition {
					transition: right 0.25s cubic-bezier(.35,0,.25,1);
				}
			}
	}

	.infoErrorPanel {
		img {
			padding: 28px;
			margin-left: calc(50% - 56px); // (56+2*28)/2=56
			margin-bottom: 16px;
			opacity: 0.54;
			background-color: colors.$mow_white_hover;
			border-radius: 50%;
		}

		.title {
			margin-bottom: 8px;
			color: colors.$text-primary;
			font-size: 100%;
			min-height: 20px;
			line-height: 20px;
			letter-spacing: 0.25px;
			text-align: center;
		}

		.subtext {
			color: colors.$text-secondary;
			font-size: 87%;
			min-height: 20px;
			line-height: 20px;
			text-align: center;
			letter-spacing: 0.2px;
		}

		.dialogContainedButton {
			display: block;
			margin: 24px auto 0 auto;
		}
	}

	.radioButton {
		cursor: pointer;
		display: inline-flex;

		.radioBg {
			display: inline-block;
			width: 36px;
			height: 36px;
			border-radius: 50%;
			background-color: white;

			.outerCircle {
				width: 16px;
				height: 16px;
				margin: 8px;
				border: 2px solid;
				border-color: colors.$black-54;
				border-radius: 50%;
				transition: border-color .12s cubic-bezier(0,0,.2,1) 0ms;
			}

			.innerCircle {
				background-color: transparent;
				transform: scale(0);
				transition: transform .12s cubic-bezier(0,0,.2,1) 0ms,background-color .12s cubic-bezier(0,0,.2,1) 0ms,-webkit-transform .12s cubic-bezier(0,0,.2,1) 0ms;
			}
		}

		.gwt-Label {
			line-height: 36px;
			margin-left: 16px;
			font-size: 100%;
			color: colors.$text-primary;
		}

		&:hover {
			.radioBg {
				background-color: colors.$black-08;
			}
		}

		&.selected {
			.radioBg {
				&:after {
					background-image: radial-gradient(circle, colors.$purple-default 10%, transparent 10.01%);
				}
			}

			.outerCircle {
				border-color: colors.$purple-default;
			}

			.innerCircle {
				transform: scale(1);
				width: 10px;
				height: 10px;
				background-color: colors.$purple-default;
				position: relative;
				bottom: 23px;
				left: 13px;
				border-radius: 50%;
			}

			&.disabled {
				.radioBg {
					&:after {
						background-image: none;
					}
				}

				.innerCircle {
					background-color: colors.$black-36;
				}

				.outerCircle {
					border-color: colors.$black-36;
				}

				&:hover {
					.radioBg {
						background-color: white;
					}
				}
			}

			&:hover {
				.radioBg {
					background-color: colors.$purple-default-12;
				}
			}
		}

		&.disabled {
			cursor: default;

			.radioBg {
				background-color: white;
			}

			.outerCircle {
				border-color: colors.$black-36;
			}

			.gwt-Label {
				color: colors.$black-36;
			}

			&:hover {
				background-color: white;
			}
		}
	}

	.radioButtonPanel {
		display: inline-grid;
	}

	.toast {
		position: absolute;
		background-color: colors.$toast-background;
		max-width: fit-content;
		border-radius: 4px;
		padding: 8px 12px;
		box-shadow: 0 3px 5px -1px colors.$black-20,0 6px 10px 0 colors.$black-14,0 1px 18px 0 colors.$black-12;
		transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0ms,transform 0.1s cubic-bezier(0, 0, 0.2, 1) 0ms,-webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1) 0ms;
		transform: scale(.8);
		opacity: 0;

		.content {
			color: white;
			min-height: 20px;
			line-height: 20px;
			text-align: center;
			font-size: 87%;
			letter-spacing: 0.25px;
		}

		&.fadeIn {
			opacity: 1;
			transform: scale(1);
		}
	}
}