$mebis-teal: #00a8d5;
$mebis-teal-dark: #0079a3;
$mebis-teal-light: #b7e4f1;
$mebis-teal-hover: #55bee0;

$mebis-teal-dark-26: rgba(0,121,163,.26);
$mebis-teal-dark-87: rgba(0,121,163,.87);

// Customize MOW colors
$mow_primary: $mebis-teal;
$mow_primary_variant: $mebis-teal-dark;
$mow_dark: $mebis-teal-dark;
$mow_light: $mebis-teal-light;
