@import 'colors';
@import 'z-index';

$shadow-dark: 0px 0px 2px 1px rgba(102, 102, 102, 0.3);
$classicToolbar: 50px;
// Copied from Flutter CupertinoPageTransition
$submenuTimingFunction: cubic-bezier(.35, .91, .33, .97);
$submenuTransitionDuration: 0.25s;
$menuWidth: 320px;

.GeoGebraFrame {

	.floatingMenuView {
		position: absolute;
		top: 0px;
		box-shadow: 0 6px 16px rgba(0,0,0,0.28);
		z-index: $z-main-menu-floating;
		height: 100%;
		width: $menuWidth;
		background-color: $white;
		transition-property: left;
		overflow: auto;
		overflow-x: hidden;

		&.transitionIn {
			transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
			transition-duration: 0.25s;
			left: 0px;
		}
		&.transitionOut {
			transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
			transition-duration: 0.2s;
			left: -$menuWidth;
			box-shadow: none;
		}
		.headerCaption {
			font-weight: 500;
			letter-spacing: -0.65px;
		}
	}

	.menuView {
		width: 100%;
		padding: 8px 0px;
		.menuItemGroupView {
			width: 100%;
			padding-right: 10px;
			.groupLabel {
				color: $text-secondary;
				font-size: 75%;
				text-transform: uppercase;
				margin: 8px 16px 8px 16px;
			}
			.menuItemView {
				width: 100%;
				height: 48px;
				line-height: 48px;
				border-radius: 0px 24px 24px 0px;
				white-space: nowrap;
				&:hover {
					background-color: #EEEEEE;
				}
				.gwt-Image {
					vertical-align: middle;
					display: inline-block;
					width: 24px;
					height: 24px;
					margin: 12px 0 12px 16px;
				}
				.gwt-Label, .html-face {
					display: inline-block;
					font-size: 87%;
					color: $text-primary;
					vertical-align: middle;
				}
				.gwt-Label {
					padding-left: 16px;
				}
				&.userMenuItemView {
					.gwt-Image {
						margin: 2px 8px 6px 12px;
						border-radius: 50%;
						object-fit: cover;
					}
					.gwt-Label {
						color: $text-secondary;
						text-transform: uppercase;
						font-size: 75%;
						padding-left: 0;
					}
				}
			}
		}
		.divider {
			background-color: #E4E4E4;
			height: 1px;
			margin: 8px 0px 8px 56px;
		}
	}

	.headerDivider {
		border-bottom: solid #E4E4E4 1px;
	}

	.titleHeader {
		> div {
			color: $text-secondary !important;
		}
	}

	.headeredMenuView {
		background-color: white;
		width: 100%;
		height: 100%;
	}

	.mainMenu {
		position: absolute;
		&.transitionIn {
			transition-timing-function: $submenuTimingFunction;
			transition-duration: $submenuTransitionDuration;
			left: 0px;
		}
		&.transitionOut {
		    overflow: hidden;
			transition-timing-function: $submenuTimingFunction;
			transition-duration: $submenuTransitionDuration;
			left: -100px;
		}
	}

	.subMenu {
		position: absolute;
		height: 100%;
		width: 100%;
		z-index: $z-main-menu-submenu;
		&.transitionIn {
		    overflow: auto;
			transition-timing-function: $submenuTimingFunction;
			transition-duration: $submenuTransitionDuration;
			box-shadow: -2px 0px 20px 0px $black-30;
			left: 0px;
		}
		&.transitionOut {
			transition-timing-function: $submenuTimingFunction;
			transition-duration: $submenuTransitionDuration;
			left: $menuWidth;
		}
	}

	.menuPanelContainer {
		width: 100%;
		height: 100%;
	}

	.menuPanelGlass {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
	}
}

@keyframes animateIn {
	0% {left: -320px; top: 0px;}
	50% {left: -100; top: 0px;}
	100% {left: 0px; top: 0px;}
}

@keyframes animateOut {
	0% {left: 0px; top: 0px;}
	50% {left: -220; top: 0px;}
	100% {left: -320px; top: 0px;}
}

@keyframes animateInClassic {
	0% {right: -320px; top: $classicToolbar;}
	50% {right: -100; top: $classicToolbar;}
	100% {right: 0px; top: $classicToolbar;}
}

@keyframes animateOutClassic {
	0% {right: 0px; top: $classicToolbar;}
	50% {right: -220; top: $classicToolbar;}
	100% {right: -320px; top: $classicToolbar;}
}
