@use 'z-index';
@use 'colorMap' as *;

.GeoGebraFrame{
	.topbar {
		height: 48px;
		width: 100%;
		position: absolute;
		top: 0;
		background-color: white;
		border-bottom: 1px solid neutral(300);
		box-sizing: border-box;
		z-index: 60;
	}
}