@use 'z-index';
@use 'colorMap' as *;

.GeoGebraFrame{
	.topbar {
		height: 48px;
		width: 100%;
		display: inline-flex;
		gap: 8px;
		background-color: white;
		border-bottom: 1px solid neutral(300);
		box-sizing: border-box;
		z-index: 60;
		padding: 6px 0 6px 12px;

		.divider {
			height: 20px;
			width: 1px;
			margin: 8px;
			background-color: neutral(300);
		}
	}
}