@use 'z-index';
@use 'colorMap' as *;

.GeoGebraFrame{
	.toolboxMow {
		position: absolute;
		top: 50%;
		width: 48px;
		transform: translateY(-50%);
		border-radius: 36px;
		padding: 8px;
		box-shadow: 0px 2px 24px -1px #85848A24;

		&.leftAligned {
			left: 16px;
		}

		.divider {
			height: 1px;
			margin: 8px 0;
			background-color: neutral(300);
		}

		.iconButton {
			width: 24px;
			height: 24px;
			padding: 12px;
			border-radius: 50%;
			transition: background-color 150ms ease 0ms;

			img {
				opacity: 0.54;
			}

			&:hover {
				background-color: neutral(200);
			}

			&.active {
				background-color: var(--ggb-light-color);

				img {
					opacity: 1;
				}
			}

			&.disabled {
				cursor: default;
				opacity: 0.38;

				&:hover {
					background-color: white;
				}
			}

			&.focused {
				outline-color: var(--ggb-dark-color);
				outline-width: 2px;
				outline-style: solid;
				outline-offset: 3px;
				background: var(--ggb-light-color);
			}
		}
	}
}