@use 'colors';
@use 'z-index';

.GeoGebraFrame {
	.suiteDistrTab {
		padding: 16px 0 0 16px;

		.row {
			margin-top: 20px;

			.gwt-Label {
				height: 48px;
				line-height: 48px;
				display: inline-block;
				color: colors.$text-primary;
			}

			.switch {
				margin: 12px 0;
			}
		}

		.intervalsLbl {
			color: colors.$text-secondary;
			font-size: 75%;
			margin-top: 12px;
		}

		.intervalPanel {
			padding: 0;
		}

		.MyToggleButton {
			padding: 7px;
			border-radius: 2px;
			margin-left: 0;
			margin-right: 8px;
			margin-bottom: 12px;
		}
	}

	.probCalcStylbarBtn.suite {
		position: absolute;
		right: 0px;
		z-index: z-index.$z-on-top-of-graphics;
		margin-top: 16px;
		margin-right: 16px;
		height: 24px;
		padding: 6px;
		border-radius: 50%;
		transition: background-color 150ms ease 0ms;

		&.selected, &:hover {
			background-color: colors.$hover-calc-btn-bg;
			img {
				opacity: 0.84;
			}
		}

		img {
			opacity: 0.54;
		}
	}
}