@import 'shared';

.GeoGebraFrame{
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
  Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  .stepTree {
    width: 100%;
    margin: 10px auto;
    padding-left: 20px;
    border: 1px solid lightgrey;
  }

  .KeyBoard.TabbedKeyBoard {
    position: static;
    bottom: initial;
  }

  .solverPanel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 50%;
  }

  @media screen and (max-width: 1300px) {
    .solverPanel {
      width: 650px;
    }
  }

  @media screen and (max-width: 650px) {
    .solverPanel {
      width: 95%;
    }
  }

  .editorPanel {
    width: 100%;
    border: 1px solid blueviolet;

    .editorFocusPanel {
      width: 100%;
      min-height: 45px;
    }

    td:first-child {
      width: 75%;
    }
  }

  .solverKeyboardBtn {
    height: 26px;
    width: 26px;
    user-select: none;
    -moz-user-select: none;
  }

  .solverButton {
    @extend %primaryButton;
    max-width: 150px;
  }
}