.GeoGebraFrame {
  .stepTree {
    table {
      width: 100%;
    }

    td:first-child {
      width: 70% !important
    }

    .stepinformation {
      width: 100%;
    }

    .stepGroupPanel {
      > tbody > tr:nth-child(n + 2) > td {
        padding-left: 23px !important;
      }

      > tbody > tr:nth-child(n + 3) > td {
        padding-top: 6px !important;
      }

      box-sizing: border-box;
      width: 100%;
    }

    .stepTreeLine {
      white-space: normal;
      width: 100%;
    }

    .stepTreeElem {
      vertical-align: middle;
    }

    canvas.stepTreeElem {
      user-select: all;
      -moz-user-select: all;
    }

    .stepTreeButton {
      padding: 2px;
      display: inline;

      img {
        vertical-align: middle;
      }
    }
  }
}
