@import 'colors';
$emptyHeight: 212px;
$deleteTime: 120ms;

.GeoGebraFrame {
	.tableViewParent {
		height: 100%;
		min-height: $emptyHeight + 56px;
	}

	.main >* {
		position: absolute !important;
		display: inline-block;
	}

	.tableViewMain {
		margin-top: 8px;
		margin-left: 0px;
		margin-right: 0px;
	}

	%colDelete {
		overflow: hidden !important;
		width: 0px !important;
		margin-left: -81px !important;
		visibility: hidden;
	}

	// we want upper border when we are in portrait mode, but the table of
	// values view is not in fullscreen (.withShadow is set on the header
	// in fullscreen mode, we need the neighbouring .main component)
	&.portrait .toolPanelHeading:not(.withShadow) ~ .main .tvTable {
		td, th {
			border-width: 1px 1px 0 0;
		}
	}

	.tableEditor {
		box-sizing: border-box;
		background-color: $white;
		border: 1px $purple-default solid;
		overflow: hidden;
		text-align: right;
		min-height: 51px;
		padding-left: 16px;

		canvas {
			transform: translateY(-50%);
			position: relative;
			top: 50%;
		}
	}

	.editableCell {
		cursor: text;
	}

	.tvTable {
		@mixin textSelect($type) {
			user-select: $type;
			-moz-user-select: $type;
			-webkit-user-select: $type;
		}

		td, th {
			border-width: 0 1px 1px 0;
			border-color: $black-12;
			border-style: solid;
			box-sizing: border-box;
			min-width: 120px;
			max-width: 180px;
		}

		%cellTransition {
			transition: width $deleteTime, margin $deleteTime ease-in;
		}
		
		.values {
			@include textSelect(text);
			position: relative;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				pointer-events: none;
				background: linear-gradient(to left, #fff 70px, $transparent-white 120px, $transparent-white),
					linear-gradient(to top, #fff 20px, $transparent-white 52px, $transparent-white);
			}

			thead {
				&.transitioning {
					@extend %cellTransition;
				}

				@include textSelect(none);

				colgroup {
					col {
						@extend .delete;
					}
				}

				th {
					height: 56px;
					padding: 0;
					position: sticky;
					top: 0;
					background: $tableview-header;

					.content {
						@extend %cellTransition;
						text-align: center;
						padding: 12px 0 12px 16px;
						display: inline-flex;
						margin: auto;
						float: right;
						color: $text-primary;

						.gwt-Label {
							font-size: 100%;
							font-weight: bold;
							line-height: 32px;
						}

						.MyToggleButton {
							margin: auto 0 auto 0;
							padding: 4px 4px 4px 0;
							border: 0;
							background-color: transparent;

							img {
								opacity: 0.54;
							}

							&:hover img {
								opacity: 1;
							}
						}
					}

					.delete {
						@extend %colDelete;
						text-align: right;
					}
				}
			}
			
			td {
				height: 52px;

				@extend %cellTransition;
				text-align: right;

				.content {
					font-size: 100%;
					font-family: 'mathsans';
					color: $text-primary;
					text-align: right;
					float: right;
					padding: 14px 28px 14px 16px;
					text-overflow: ellipsis;
					overflow: hidden;
					width: 100%;
					box-sizing: border-box;
				}

				.delete {
					@extend %colDelete;
					margin-left: 16px;
					margin-right: 32px;
				}
			}
		}

		.mainScrollPanel {
			width: 100%;
		}

		.mainScrollPanel .valueScroller {
			flex-grow: 1;
			overflow-y: auto !important;
		}
	
		.outerScrollPanel{
			overflow: hidden !important;
		}
	
		.outerScrollPanel > div{
			height: 100%;
		}
	
		/*needed for vertical scrolling*/
		.valueScroller div, .mainScrollPanel{
			height: 100%;
		}
		
		.headerScroller{
			width: 100%;
			overflow: hidden !important;
		}		
	}
}