<span class="font-option" style="font-family: #: data.style #;">
    #: data.name #
    <span class="fa fa-info"></span>
    <span style="font-family: Arial, sans-serif" class="location">#: data.location #</span>
</span>
