@use '../colors' with (
	// Customize MOW colors
	$mow_primary: #00a8d5,
	$mow_primary_variant: #0079a3,
	$mow_dark: #0079a3,
	$mow_light: #b7e4f1,
);

@use '../mow';
@use '../mow-toolbar';
@use '../spreadsheet';
@use '../open-screen';
@use '../web-styles';
@use '../av-styles';
@use '../toolbar-styles';
@use '../context-menu';
@use '../tableview';
@use '../menu-styles';
@use '../popup-styles';
@use '../component-styles';
@use '../dialog-styles';
@use '../settings-styles';
@use '../perspectives-popup';
@use '../snackbar';
@use '../scientific-layout';
@use '../evaluator-styles';
@use '../text-styles';
@use '../general';
@use '../headerbar';