# This is the configuration file for the script 'geogebra-installer'.
# It shows what the defaults for various options happen to be.
#
# If you don't need to change the default, you shouldn't uncomment the line.


# Set name of geogebra start script, e.g. 'geogebra5-beta'.
#
export NAME='geogebra-beta'

# Set application name shown by desktop file, e.g. 'GeoGebra 5 Beta'.
#
export DESCRIPTION='GeoGebra 5 Beta'
