# Default settings for GeoGebraWeb autobuild.
# Edit it and save as autobuild.conf as required.

# Where is your GWT SDK installed? If you use Eclipse and followed
# the SetUp page in the GeoGebra wiki, then you already have it somewhere, probably here:
GWTDIR=~/eclipse/plugins/com.google.gwt.eclipse.sdkbundle_2.4.0.relr37v201110112027/gwt-2.4.0
GAEDIR=~/eclipse/plugins/com.google.appengine.eclipse.sdkbundle_1.5.5.r37v201110112027/appengine-java-sdk-1.5.5
JAVA_HOME=/usr/lib/jvm/java-6-sun-1.6.0.26

# If you used "ant -f kickstart.xml geogebraweb-developer-commandline", then you
# have GWT SDK in a different directory:
GWTDIR=lib/gwt-2.4.0
# If you used "ant -f kickstart.xml geogebraweb-packager-commandline", then you
# have GAE SDK in a different directory:
GAEDIR=lib/appengine-java-sdk-1.6.3.1

GAEEMAIL=apps@geogebra.org
GAEAPP=geogebraweb

# Google Code credentials
GC_USER=kovzol
GC_PASS=xxx

EMSCRIPTEN=~/emscripten-master

DEV_SERVER_PORT=...
DEV_SERVER_KEY=...
DEV_SERVER_LOGIN=...
DOWNLOADDIR=...
